if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodes_BusinessNameIMP]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodes_BusinessNameIMP]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE   FUNCTION CreateMatchCodes_BusinessNameIMP(@BusName VARCHAR(60)) 
RETURNS VARCHAR(15)
AS

BEGIN
DECLARE @M_BusName VARCHAR(60); SELECT @M_BusName = '';
DECLARE @Word1 VARCHAR(60); SELECT @Word1='';
DECLARE @Word2 VARCHAR(50); SELECT @Word2='';
DECLARE @Word3 VARCHAR(40); SELECT @Word3='';
DECLARE @WordLim1 Int;  SET @WordLim1 = 0
DECLARE @WordLim2 Int;  SET @WordLim2 = 0

-- Check for numbers of words
SELECT @WordLim1 = CHARINDEX(SPACE(1),@BusName)
IF @WordLim1 > 0
	SELECT @WordLim2 = CHARINDEX(SPACE(1),@BusName, @WordLim1 + 1)

--Save the intermediate value
SELECT @M_BusName=@BusName; 

-- Remove standard business keywords that do not add meaning to much code
IF @WordLim2 <> 0
BEGIN

	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'LTD'+SPACE(1),'')
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'AND'+SPACE(1),'')
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ET'+SPACE(1),'')
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INC'+SPACE(1),'')
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INCORPORATED'+SPACE(1),'')
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CO'+SPACE(1),'')
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CORP'+SPACE(1),'')
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CORPORATE'+SPACE(1),'')
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CORPORATION'+SPACE(1),'')
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ENTREPRISE'+SPACE(1),'')
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ENTREPRISES'+SPACE(1),'')
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CANADA'+SPACE(1),'')
	SELECT @BusName=REPLACE(@BusName,SPACE(7),SPACE(1))
	SELECT @BusName=REPLACE(@BusName,SPACE(6),SPACE(1))
	SELECT @BusName=REPLACE(@BusName,SPACE(5),SPACE(1))
	SELECT @BusName=REPLACE(@BusName,SPACE(4),SPACE(1))
	SELECT @BusName=REPLACE(@BusName,SPACE(3),SPACE(1))
	SELECT @BusName=REPLACE(@BusName,SPACE(2),SPACE(1))
              SELECT @Busname=LTRIM(RTRIM(@BusName));
END


-- Take the limits of words again
SELECT @WordLim1 = CHARINDEX(SPACE(1),@BusName)
IF @WordLim1 > 0
	SELECT @WordLim2 = CHARINDEX(SPACE(1),@BusName, @WordLim1 + 1)


-- Recover the old value if Length less than chosen limit
IF LEN(@BusName)<5  
BEGIN
	SELECT @BusName=@M_BusName;
END


----Rule 2 - Get first consonant chars from words
IF LEN(@BusName)=1 
	SELECT @M_BusName=@BusName


SET	@WordLim2 = 0
SELECT  @WordLim1 = CHARINDEX(SPACE(1),@BusName)
IF @WordLim1 <> 0
	SELECT @WordLim2 = CHARINDEX(SPACE(1),@BusName, @WordLim1 + 1)

-- 1 Word
IF LEN(@BusName)>1 AND @WordLim1=0
BEGIN
	SELECT @Word1=@BusName
	SELECT @Word1=StageDB.dbo.udf_WordCleaning(@Word1)
	SELECT @M_BusName = LEFT(@Word1,15);
END

-- 2 Words
IF LEN(@BusName)>1 AND @WordLim1 > 0 AND @WordLim2=0 
BEGIN
       SELECT @Word1=SUBSTRING(@BusName,1,@WordLim1);
       SELECT @Word2=SUBSTRING(@BusName,@WordLim1,LEN(@BusName))
       SELECT @Word1=StageDB.dbo.udf_WordCleaning(@Word1)
       SELECT @Word2=StageDB.dbo.udf_WordCleaning(@Word2)
       SELECT @M_BusName = LEFT(@Word1,9)+LEFT(@Word2,6);
END

-- 3 Words
IF LEN(@BusName)>1 AND @WordLim2 > 0 
BEGIN
       SELECT @Word1=SUBSTRING(@BusName,1,@WordLim1);
       SELECT @Word2=SUBSTRING(@BusName,@WordLim1,@WordLim2);
       SELECT @Word3=SUBSTRING(@BusName,@WordLim2,LEN(@BusName));
       SELECT @Word1=StageDB.dbo.udf_WordCleaning(@Word1)
       SELECT @Word2=StageDB.dbo.udf_WordCleaning(@Word2)
       SELECT @Word3=StageDB.dbo.udf_WordCleaning(@Word3)
       SELECT @M_BusName = LEFT(@Word1,7)+LEFT(@Word2,5)+LEFT(@Word3,3);
END

--Remove any spaces
SELECT @M_BusName = REPLACE(@M_BusName,SPACE(1),'')

RETURN @M_BusName

END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

