USE [master]
GO
/****** Object:  StoredProcedure [dbo].[s_ScriptAllObjectsInDatabase]    Script Date: 02/02/2011 14:01:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[s_ScriptAllObjectsInDatabase]
@SourceDB	varchar(128) ,
@SourceUID	varchar(128) ,	-- null for trusted connection
@SourcePWD	varchar(128) ,
@OutFilePath	varchar(256) ,	-- Root path - will add directory for object types
@OutFileName	varchar(128) ,	 -- null for separate file per object script
@WorkPath	varchar(256) ,
@SourceSVR	varchar(128)
as

	if right(@OutFilePath,1) <> '\'
	begin
		select @OutFilePath = @OutFilePath + '\'
	end

	if right(@WorkPath,1) <> '\'
	begin
		select @WorkPath = @WorkPath + '\'
	end

	set nocount on
	declare @tblObjectType table (ObjectType varchar(50))
	insert	@tblObjectType select 'PROCEDURES'
	insert	@tblObjectType select 'FUNCTIONS'
	insert	@tblObjectType select 'TABLES'
	insert	@tblObjectType select 'VIEWS'
	insert	@tblObjectType select 'INDEXES'
	insert	@tblObjectType select 'TRIGGERS'
	insert	@tblObjectType select 'DEFAULTS'
	insert	@tblObjectType select 'RULES'

declare	@FilePath	varchar(256) ,
	@cmd		varchar(1000)

declare	@ObjectType	varchar(50) ,
	@maxObjectType	varchar(50)

	select	@ObjectType = '' ,
		@maxObjectType = max(ObjectType)
	from	@tblObjectType

	while @ObjectType < @maxObjectType
	begin
		select	@ObjectType = min(ObjectType) from @tblObjectType where ObjectType > @ObjectType

		select	@FilePath = @OutFilePath + @ObjectType

		-- create output directory - will fail if already exists but ...
		select	@cmd = 'mkdir ' + @FilePath
		exec master..xp_cmdshell @cmd, no_output

		exec	s_ScriptObjects
			@SourceDB 	= @SourceDB ,
			@SourceObject 	= null ,
			@SourceUID 	= @SourceUID ,
			@SourcePWD 	= @SourcePWD ,
			@OutFilePath 	= @FilePath ,
			@OutFileName 	= null ,		-- null for separate file per object script
			@ObjectType 	= @ObjectType ,
			@WorkPath	= @WorkPath ,
			@SourceSVR	= @SourceSVR
	end
GO
/****** Object:  StoredProcedure [dbo].[s_ScriptObjects]    Script Date: 02/02/2011 14:01:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[s_ScriptObjects]
@SourceDB	varchar(128) ,
@SourceObject	varchar(128) ,	-- null for all objects
@SourceUID	varchar(128) ,	-- null for trusted connection
@SourcePWD	varchar(128) ,
@OutFilePath	varchar(256) ,
@OutFileName	varchar(128) ,  -- null for separate file per object script
@ObjectType	varchar(50) ,	-- PROCS, FUNCTIONS, TABLES, VIEWS, INDEXES
@WorkPath	varchar(256) ,
@SourceSVR	varchar(128)
as
/*
exec s_ScriptObjects
@SourceDB	= 'TradarBe' ,
@SourceObject	= 'tbl_CQS_Pricing_BloombergData' ,	-- null for all objects
@SourceUID	=  null ,	-- null for trusted connection
@SourcePWD	=  null ,
@OutFilePath	= 'c:\a\' ,
@OutFileName	= null ,  -- null for separate file per object script
@ObjectType	= 'TABLES' ,	-- PROCS, FUNCTIONS, TABLES, VIEWS, INDEXES
@WorkPath	= 'c:\temp\' ,
@SourceSVR	= 'SVR01'
*/

	set nocount on

declare	@ScriptType	int ,
	@FileName	varchar(256) ,
	@tmpFileName	varchar(256) ,
	@buffer		varchar(8000) ,
	@Collection	varchar(128) ,
	@id		int ,
	@name		varchar(128) ,
	@subname	varchar(128)

declare	@context	varchar(255) ,
	@sql		varchar(1000) ,
	@rc		int

	
	if right(@OutFilePath,1) <> '\'
	begin
		select @OutFilePath = @OutFilePath + '\'
	end

	if right(@WorkPath,1) <> '\'
	begin
		select @WorkPath = @WorkPath + '\'
	end

	select	@SourceDB = replace(replace(@SourceDB,'[',''),'[','')

select	@ScriptType	= 4 | 1 | 64 ,
	@FileName	= @OutFilePath + @OutFileName ,
	@tmpFileName	= @WorkPath + 'ScriptTmp.txt'

declare	@objServer		int ,
	@objTransfer		int ,
	@strResult		varchar(255) ,
	@strCommand		varchar(255)

	-- get objects to script and object type
	create table #Objects (name varchar(128), subname varchar(128) default null, id int identity(1,1))

	if @SourceObject is not null
	begin
		insert	#Objects
			(name)
		select @SourceObject
	end

	if @ObjectType = 'TABLES'
	begin
		if @SourceObject is null
		begin
			select @sql =   	'select 	TABLE_NAME, null '
			select @sql = @sql + 	'from	[' + @SourceDB + '].INFORMATION_SCHEMA.TABLES '
			select @sql = @sql + 	'where	TABLE_TYPE = ''BASE TABLE'''
		end
		select @Collection = 'tables'
	end
	else if @ObjectType in ('PROCS', 'PROCEDURES')
	begin
		if @SourceObject is null
		begin
			select @sql =   	'select 	ROUTINE_NAME, null '
			select @sql = @sql + 	'from	[' + @SourceDB + '].INFORMATION_SCHEMA.ROUTINES '
			select @sql = @sql + 	'where	ROUTINE_TYPE = ''PROCEDURE'''
		end
		select @Collection = 'storedprocedures'
	end
	else if @ObjectType = 'FUNCTIONS'
	begin
		if @SourceObject is null
		begin
			select @sql =   	'select 	ROUTINE_NAME, null '
			select @sql = @sql + 	'from	[' + @SourceDB + '].INFORMATION_SCHEMA.ROUTINES '
			select @sql = @sql + 	'where	ROUTINE_TYPE = ''FUNCTION'''
		end
		select @Collection = 'userdefinedfunctions'
	end
	else if @ObjectType = 'VIEWS'
	begin
		if @SourceObject is null
		begin
			select @sql = 	 	'select 	TABLE_NAME, null '
			select @sql = @sql + 	'from	[' + @SourceDB + '].INFORMATION_SCHEMA.VIEWS '
			select @sql = @sql + 	'where	TABLE_NAME not like ''sys%'''
		end
		select @Collection = 'views'
	end
	else if @ObjectType = 'INDEXES'
	begin
		if @SourceObject is null
		begin
			select @sql = 	 	'select 	o.name, i.name '
			select @sql = @sql + 	'from	[' + @SourceDB + ']..sysobjects o, [' + @SourceDB + ']..sysindexes i '
			select @sql = @sql + 	'where	o.type = ''U'' '
			select @sql = @sql + 	'and 	i.id = o.id and i.indid <> 0 '
			select @sql = @sql + 	'and 	i.name not like ''_WA_%'''
			select @sql = @sql + 	'and 	o.name not like ''dtprop%'''
			select @sql = @sql + 	'and 	i.name not in (select name from [' + @SourceDB + ']..sysobjects)'
		end
		select @Collection = 'tables'
	end
	else if @ObjectType = 'TRIGGERS'
	begin
		if @SourceObject is null
		begin
			select @sql = 	 	'select o2.name, o.name '
			select @sql = @sql + 	'from	[' + @SourceDB + ']..sysobjects o,  [' + @SourceDB + ']..sysobjects o2 '
			select @sql = @sql + 	'where	o.xtype = ''TR'' '
			select @sql = @sql + 	'and	o.parent_obj = o2.id '
		end
		select @Collection = 'tables'
	end
	else if @ObjectType = 'DEFAULTS'
	begin
		if @SourceObject is null
		begin
			select @sql = 	 	'select 	o.name, null '
			select @sql = @sql + 	'from	[' + @SourceDB + ']..sysobjects o '
			select @sql = @sql + 	'where o.type = ''D'' and o.parent_obj = ''0'''
		end
		select @Collection = 'Defaults'
	end
	else if @ObjectType = 'RULES'
	begin
		if @SourceObject is null
		begin
			select @sql = 	 	'select 	o.name, null '
			select @sql = @sql + 	'from	[' + @SourceDB + ']..sysobjects o '
			select @sql = @sql + 	'where type = ''R'''
		end
		select @Collection = 'Rules'
	end
	else if @ObjectType = 'JOBS'
	begin
		if @SourceObject is null
		begin
			select @sql = 	 	'select 	j.name, null '
			select @sql = @sql + 	'from	msdb..sysjobs j '
		end
		select @Collection = 'jobs'
	end
	else if @ObjectType = 'DTS'
	begin
		select	@sql = 'dtsrun /NScript_DTS_Packages /S(local) /E '
					+ '/A"ServerName":8="' + @SourceSVR + '" ' 
					+ '/A"Path":8="' + @OutFilePath + '" ' 
					+ '/A"UserName":8="' + coalesce(@SourceUID,'') + '" ' 
					+ '/A"Password":8="' + coalesce(@SourcePWD,'') + '" ' 
		exec master..xp_cmdshell @sql
		return
	end
	else
	begin
		select 'invalid @ObjectType'
		return
	end
	
	if @SourceSVR <> @@servername
	begin
		select @sql = replace(@sql,'''','''''')
		insert	#Objects (name, subname) exec ('select * from openquery(' + @SourceSVR + ',''' + @sql + ''')')
	end
	else
	begin
		insert	#Objects (name, subname) exec (@sql)
	end
	
	-- create empty output file
	if @OutFileName is not null
	begin
		select	@sql = 'echo. > ' + @FileName
		exec master..xp_cmdshell @sql
	end
	
	-- prepare scripting object
	select @context = 'create dmo object'
	exec @rc = sp_OACreate 'SQLDMO.SQLServer', @objServer OUT
	if @rc <> 0 or @@error <> 0 goto ErrorHnd
	
	if @SourceUID is null
	begin
		select @context = 'set integrated security ' + @SourceSVR
		exec @rc = sp_OASetProperty @objServer, LoginSecure, 1
		if @rc <> 0 or @@error <> 0 goto ErrorHnd
	end
 	
	select @context = 'connect to server ' + @SourceSVR
	exec @rc = sp_OAMethod @objServer , 'Connect', NULL, @SourceSVR , @SourceUID , @SourcePWD
	if @rc <> 0 or @@error <> 0 goto ErrorHnd
	
	select @context = 'scripting'
	-- Script all the objects
	select @id = 0
	while exists (select * from #Objects where id > @id)
	begin
		select	@id = min(id) from #Objects where id > @id
		select @name = name, @subname = subname from #Objects where id = @id
		if @OutFileName is null
		begin
			select	@FileName = @OutFilePath + 'dbo."' + @name + coalesce('[' + @subname + ']','') + '.sql"'
			select	@sql = 'echo. > ' + @FileName
			exec master..xp_cmdshell @sql
		end
		--select @sql = 'echo print ''Create = dbo.[' + @name + ']'+ coalesce('[' + @subname + ']','') + ''' >> ' + @FileName
		--exec master..xp_cmdshell @sql
		if @ObjectType = 'INDEXES'
		begin
			Set @sql = 'databases("' + @SourceDB + '").' + @Collection + '("' + @name + '").indexes("' + @subname + '").script'
		end
		else if @ObjectType = 'TRIGGERS'
		begin
			Set @sql = 'databases("' + @SourceDB + '").' + @Collection + '("' + @name + '").triggers("' + @subname + '").script'
		end
		else if @ObjectType = 'JOBS'
		begin
			Set @sql = 'Jobserver.Jobs("' + @name + '").Script'
		end
		else
		begin
			Set @sql = 'databases("' + @SourceDB + '").' + @Collection + '("' + @name + '").script'
		end
		exec @rc = sp_OAMethod @objServer, @sql , @buffer OUTPUT, @ScriptType , @tmpFileName
		select @sql = 'type ' + @tmpFileName + ' >> ' + @FileName
		exec master..xp_cmdshell @sql
	end
	-- delete tmp file
	select @sql = 'del ' + @tmpFileName
	exec master..xp_cmdshell @sql, no_output

	-- clear up dmo
	exec @rc = sp_OAMethod @objServer, 'Disconnect'
	if @rc <> 0 or @@error <> 0 goto ErrorHnd

	exec @rc = sp_OADestroy @objServer
	if @rc <> 0 or @@error <> 0 goto ErrorHnd

	-- clear up temp table
	drop table #Objects

return
ErrorHnd:
select 'fail', @context
GO
/****** Object:  StoredProcedure [dbo].[sp_dba_KillProcessesDB]    Script Date: 02/02/2011 14:01:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
-- MS DBA
-- EXEC  sp_dba_KillProcessesDB  'ArielDC','KILL_PROCESSES'

CREATE PROCEDURE [dbo].[sp_dba_KillProcessesDB] (@vcDatabase VARCHAR(30) = NULL, @vcKillProcesses VARCHAR(14) = NULL)
AS

DECLARE @siSPID SMALLINT, @vccmd varchar(255)

IF @vcKillProcesses <> 'KILL_PROCESSES' OR @vcDatabase IS NULL OR @vcKillProcesses IS NULL BEGIN
	PRINT 'syntax: sp_dba_KillProcessesDB @vcDatabase=<DatabaseName>, @vcKillProcesses=KILL_PROCESSES'
	RETURN
END

DECLARE cProcesses INSENSITIVE CURSOR
FOR 
SELECT 	spid 
FROM 	master..sysprocesses	p,
	master..sysdatabases	d
WHERE 	p.dbid = d.dbid
AND	d.name = @vcDatabase

OPEN cProcesses

FETCH NEXT FROM cProcesses INTO @siSPID

WHILE (@@FETCH_STATUS = 0) BEGIN

	SELECT @vccmd = 'KILL ' + CONVERT(VARCHAR, @siSPID)

	EXECUTE(@vccmd)

	FETCH NEXT FROM cProcesses INTO @siSPID

END

CLOSE cProcesses
DEALLOCATE cProcesses
GO
/****** Object:  StoredProcedure [dbo].[spu_dba_KillProcessesDB]    Script Date: 02/02/2011 14:01:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
-- MS DBA
-- EXEC  sp_dba_KillProcessesDB  'ArielDC','KILL_PROCESSES'

CREATE PROCEDURE [dbo].[spu_dba_KillProcessesDB] (@vcDatabase VARCHAR(30) = NULL, @vcKillProcesses VARCHAR(14) = NULL)
AS

DECLARE @siSPID SMALLINT, @vccmd varchar(255)

IF @vcKillProcesses <> 'KILL_PROCESSES' OR @vcDatabase IS NULL OR @vcKillProcesses IS NULL BEGIN
	PRINT 'syntax: sp_dba_KillProcessesDB @vcDatabase=<DatabaseName>, @vcKillProcesses=KILL_PROCESSES'
	RETURN
END

DECLARE cProcesses INSENSITIVE CURSOR
FOR 
SELECT 	spid 
FROM 	master..sysprocesses	p,
	master..sysdatabases	d
WHERE 	p.dbid = d.dbid
AND	d.name = @vcDatabase

OPEN cProcesses

FETCH NEXT FROM cProcesses INTO @siSPID

WHILE (@@FETCH_STATUS = 0) BEGIN

	SELECT @vccmd = 'KILL ' + CONVERT(VARCHAR, @siSPID)

	EXECUTE(@vccmd)

	FETCH NEXT FROM cProcesses INTO @siSPID

END

CLOSE cProcesses
DEALLOCATE cProcesses
GO
/****** Object:  StoredProcedure [dbo].[spu_dba_Kill_Lag_Users]    Script Date: 02/02/2011 14:01:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spu_dba_Kill_Lag_Users] AS


--SP_WHO2
DECLARE @vCMD CHAR(500);
SET @vCMD = (SELECT TOP 1 ' KILL ' + cast(spid as nvarchar(3)) from  master.dbo.sysprocesses  WHERE LOGINAME IN ('CORNERSTONE2005\abarzovski','CORNERSTONE2005\sjeyachandran','CORNERSTONE2005\adespi','CORNERSTONE2005\atrkulja','CORNERSTONE2005\mkaushik','CORNERSTONE2005\nash'))
--PRINT @vCMD
EXEC (@vCMD);  EXEC (@vCMD);
EXEC (@vCMD);  EXEC (@vCMD);
EXEC (@vCMD);  EXEC (@vCMD);
EXEC (@vCMD);  EXEC (@vCMD);
EXEC (@vCMD);  EXEC (@vCMD);
GO
/****** Object:  StoredProcedure [dbo].[spu_dba_ScriptAll]    Script Date: 02/02/2011 14:01:57 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[spu_dba_ScriptAll]
@SourceUID	varchar(128) ,	-- null for trusted connection
@SourcePWD	varchar(128) ,
@OutFilePath	varchar(256) ,	-- Root path - will add directory for object types
@OutFileName	varchar(128) ,	 -- null for separate file per object script
@WorkPath	varchar(256) ,
@SourceSVR	varchar(128) = null ,	-- to script remote server
@Database	varchar(128) = null	-- to script single database / jobs / DTS

as
/*
exec	s_ScriptAllDatabases
	@SourceUID	= null ,
	@SourcePWD	= null ,
	@OutFilePath	= 'c:\a\' ,
	@OutFileName	= null ,
	@WorkPath	= 'c:\temp\' ,				-- no spaces
	@SourceSVR	= null

exec	s_ScriptAllDatabases
	@SourceUID	= null ,
	@SourcePWD	= null ,
	@OutFilePath	= 'c:\a\' ,
	@OutFileName	= null ,
	@WorkPath	= 'c:\temp\' ,				-- no spaces
	@SourceSVR	= null ,
	@Database	= 'JOBS'

exec	s_ScriptAllDatabases
	@SourceUID	= null ,
	@SourcePWD	= null ,
	@OutFilePath	= 'c:\a\' ,
	@OutFileName	= null ,
	@WorkPath	= 'c:\temp\' ,				-- no spaces
	@SourceSVR	= null ,
	@Database	= 'DTS'

exec	s_ScriptAllDatabases
	@SourceUID	= null ,
	@SourcePWD	= null ,
	@OutFilePath	= 'c:\a\' ,
	@OutFileName	= null ,
	@WorkPath	= 'c:\temp\' ,				-- no spaces
	@SourceSVR	= null ,
	@Database	= 'mydb'

*/
declare @sql 	varchar(1000) ,
	@cmd	varchar(1000)
	
	if @SourceSVR is null
	begin
		select @SourceSVR = @@servername
	end
	
	if right(@OutFilePath,1) <> '\'
	begin
		select @OutFilePath = @OutFilePath + '\'
	end
	
	if right(@WorkPath,1) <> '\'
	begin
		select @WorkPath = @WorkPath + '\'
	end
	
	select	@OutFilePath = @OutFilePath + '"' + @SourceSVR + '"'
	exec master..xp_cmdshell @cmd
	select	@OutFilePath = @OutFilePath + '\'
	
	select @sql = 	
	'select	name
	from	[' + @SourceSVR + '].master.dbo.sysdatabases
	where	name <> ''tempdb'''
	
	if @Database is not null
	begin
		select @sql = @sql + ' and name = ''' + @Database + ''''
	end
	
	create table #tblDatabases (name varchar(128))
	insert	#tblDatabases
		(name)
	exec (@sql)

declare	@FilePath	varchar(256)

declare	@name		varchar(128) ,
	@maxname	varchar(128)

	select	@name = '' ,
		@maxname = max(name)
	from	#tblDatabases

	while @name < @maxname
	begin
		select	@name = min(name) from #tblDatabases where name > @name

		select	@FilePath = @OutFilePath + '"' + @name + '"'

		-- output current database name
		select CurrentDatabase = @name

		-- create output directory - will fail if already exists but ...
		select	@cmd = 'mkdir ' + @FilePath
		exec master..xp_cmdshell @cmd, no_output
		
		exec	s_ScriptAllObjectsInDatabase
			@SourceDB 	= @name ,
			@SourceUID 	= @SourceUID ,
			@SourcePWD 	= @SourcePWD ,
			@OutFilePath 	= @FilePath ,
			@OutFileName 	= @OutFileName ,	-- null for separate file per object script
			@WorkPath	= @WorkPath ,
			@SourceSVR	= @SourceSVR
	end
	
	if coalesce(@Database, 'JOBS') = 'JOBS'
	begin
		select	@FilePath = @OutFilePath + 'JOBS'
		
		-- create output directory - will fail if already exists but ...
		select	@cmd = 'mkdir ' + @FilePath
		exec master..xp_cmdshell @cmd, no_output
		
		exec	s_ScriptObjects
			@SourceDB	= 'msdb' ,
			@SourceObject	= null ,	-- null for all objects
			@SourceUID 	= @SourceUID ,
			@SourcePWD 	= @SourcePWD ,
			@OutFilePath 	= @FilePath ,
			@OutFileName 	= @OutFileName ,	-- null for separate file per object script
			@ObjectType	= 'JOBS' ,
			@WorkPath	= @WorkPath ,
			@SourceSVR	= @SourceSVR
	end
	
	if coalesce(@Database, 'DTS') = 'DTS'
	begin
		select	@FilePath = @OutFilePath + 'DTS'
		
		-- create output directory - will fail if already exists but ...
		select	@cmd = 'mkdir ' + @FilePath
		exec master..xp_cmdshell @cmd, no_output
		
		exec	s_ScriptObjects
			@SourceDB	= 'msdb' ,
			@SourceObject	= null ,	-- null for all objects
			@SourceUID 	= @SourceUID ,
			@SourcePWD 	= @SourcePWD ,
			@OutFilePath 	= @FilePath ,
			@OutFileName 	= @OutFileName ,	-- null for separate file per object script
			@ObjectType	= 'DTS' ,
			@WorkPath	= @WorkPath ,
			@SourceSVR	= @SourceSVR
	end
GO
/****** Object:  StoredProcedure [dbo].[spu_dba_LocatePID]    Script Date: 02/02/2011 14:01:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- protariu / 20070325
-- =============================================
CREATE PROCEDURE [dbo].[spu_dba_LocatePID] @PID INT

	
AS


	

BEGIN


--DECLARE @PID AS INT; SELECT @PID=13601987

PRINT ' =====> SOURCES'
SELECT * FROM ProspectPool.dbo.SOURCES WHERE PROSPECTID=@PID
PRINT ' =====> SOURCES HISTORY '
SELECT * FROM ProspectPool.dbo.SOURCES_HISTORY WHERE PROSPECTID=@PID
PRINT ' '

PRINT ' =====> RSM'
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD], LNAME, FNAME, NAMEPREFIX         FROM ProspectPool.dbo.RSMCUSTOMER  WHERE PROSPECTID=@PID
PRINT ' =====> VISA'
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD], LNAME, FNAME, NAMEPREFIX, DSE_ID, LASTUPDATE FROM ProspectPool.dbo.VISA         WHERE PROSPECTID=@PID
PRINT ' =====> APP'
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD], APP_ID, LNAME, FNAME, NAMEPREFIX FROM ProspectPool.dbo.APPLICATION  WHERE PROSPECTID=@PID
PRINT ' =====> UC1'
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD], CS_ID, LNAME, FNAME, NAMEPREFIX  FROM ProspectPool.dbo.INFODIRECT   WHERE PROSPECTID=@PID
PRINT ' =====> UC2'
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD], CS_ID, LNAME, FNAME, NAMEPREFIX  FROM ProspectPool.dbo.UCPHASE2     WHERE PROSPECTID=@PID
PRINT ' =====> UC3'
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD], CS_ID, LNAME, FNAME, NAMEPREFIX  FROM ProspectPool.dbo.UCPHASE3     WHERE PROSPECTID=@PID
PRINT ' =====> UC4'
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD],        LNAME, FNAME, NAMEPREFIX  FROM ProspectPool.dbo.UCPHASE4     WHERE PROSPECTID=@PID
PRINT ' =====> UC5'
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD],        LNAME, FNAME, NAMEPREFIX  FROM ProspectPool.dbo.UCPHASE5     WHERE PROSPECTID=@PID
PRINT ' =====> UC6'
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD],        LNAME, FNAME, NAMEPREFIX  FROM ProspectPool.dbo.UCPHASE6     WHERE PROSPECTID=@PID
PRINT ' =====> ES'
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD],        LNAME, FNAME, NAMEPREFIX  FROM ProspectPool.dbo.EnhancedScan WHERE PROSPECTID=@PID 
PRINT ' '
PRINT ' =====> AEROPLAN'
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD],        LNAME, FNAME, NAMEPREFIX  FROM AeroplanDB.dbo.Aeroplan WHERE PROSPECTID=@PID 
PRINT ' '



PRINT '=====> PROSPECT '
SELECT PROSPECTID, [M_POSTAL],[M_LNAME],[M_FNAME],[M_CIVICNUM],[M_STREET],[M_SUITENUM], [M_GENERAL], [M_POBOX], [M_RURAL], [M_GD], LNAME,FNAME, NAMEPREFIX, Flag_AnalysisOnly, TOPMERGEFILEPRIORITY, LastUpdatedDate, RSM_ID, DSE_ID, APP_ID, CS_ID FROM ProspectPool.dbo.PROSPECT WHERE PROSPECTID=@PID
PRINT '=====> PAD '
SELECT *                                                                                                                                                            FROM ProspectPool.dbo.ProspectAcquisitionDate WHERE PROSPECTID=@PID

PRINT '=====> FLAGS '
SELECT PROSPECTID, Flag_AnalysisOnly, Flag_NameDeadDeceased	,Flag_NameEstateOf 	,Flag_NameBusiness	,Flag_NameChildChildren 	,Flag_NameReligiousTitle	,Flag_NameAttention	,Flag_NameProfane	,Flag_FNameInitialOnly	,Flag_FNameMissing 	,Flag_LNameMissing             ,Flag_LName1Letter 	,Flag_FNameLonger17 	,Flag_LNameLonger17	,Flag_AddrNameInCareOf	,Flag_CityMissing 	,Flag_CityLonger27 	,Flag_AddrNurRetHome 	,Flag_InvalidPC	,Flag_GovernmentFSA 	,Flag_GovernmentPC	,Flag_AddrFieldsEmpty	,Flag_AddrHotelMotelInn 	,Flag_AddrLargeVolumeR 	,Flag_Nixie	,Flag_InvalidAddr          
FROM ProspectPool.dbo.PROSPECT WHERE PROSPECTID=@PID


PRINT '=====> CAMP HISTORY '
SELECT * 
FROM ProspectPool.dbo.Campaigns_History WHERE PIDN=@PID



END
GO
/****** Object:  StoredProcedure [dbo].[spu_dba_Backup_Hist]    Script Date: 02/02/2011 14:01:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
-- protariu

CREATE procedure [dbo].[spu_dba_Backup_Hist] 
AS

SELECT 
	CASE  
		WHEN MAX(backup_start_date) < dateadd(day, -1, getdate()) THEN 'Failed'
		ELSE 'Success' END AS Status,
	MAX(backup_start_date) Last_Backup,  
	LEFT(Database_Name,30) AS Database_Name

	FROM msdb.dbo.backupset s 
	INNER join master.dbo.sysdatabases d on s.database_name = d.name
	WHERE type = 'D'  AND Database_Name IN('AeroplanDB','StoreDB','ProspectPool','msdb','master','AuditDB')
 	Group by database_name
	Order by database_name
GO
/****** Object:  StoredProcedure [dbo].[spu_dba_MyBaks]    Script Date: 02/02/2011 14:01:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spu_dba_MyBaks]

 AS

DECLARE @VARC AS VARCHAR(70); 
DECLARE @VPATH AS VARCHAR(20); SELECT @VPATH='C:\Ekun\Baks\CIBC\'
DECLARE @VDATE AS CHAR(8); SELECT @VDATE=RTRIM(CONVERT(CHAR,GETDATE(),112))
DECLARE @VTIME AS CHAR(4); SELECT @VTIME=LEFT(CONVERT(CHAR,GETDATE(),114),2)+SUBSTRING(CONVERT(CHAR,GETDATE(),114),4,2)



SELECT @VARC= @VPATH+@VDATE+'.'+@VTIME+'.'+'msdb.BAK'
DUMP DATABASE msdb to DISK = @VARC with stats=10


IF (LEFT((CONVERT(CHAR,GETDATE(),114)),2)) IN ('18','19')
BEGIN
	SELECT @VARC= @VPATH+@VDATE+'.'+@VTIME+'.'+'StageDB.BAK'
	--DUMP DATABASE StageDB to DISK = @VARC with stats=10

	SELECT @VARC= @VPATH+@VDATE+'.'+@VTIME+'.'+'AuditDB.BAK'
	--DUMP DATABASE AuditDB to DISK = @VARC with stats=10

	SELECT @VARC= @VPATH+@VDATE+'.'+@VTIME+'.'+'ProspectPool.BAK'
	--DUMP DATABASE ProspectPool to DISK = @VARC with stats=10

	SELECT @VARC= @VPATH+@VDATE+'.'+@VTIME+'.'+'StoreDB.BAK'
	--DUMP DATABASE StoreDB to DISK = @VARC with stats=10


	-- SCRIPT TSQL
	EXEC SPU_DBA_ScriptAll NULL,NULL,'C:\Ekun\Baks\',NULL,'C:\TMP\',NULL,'AuditDB'
	EXEC SPU_DBA_ScriptAll NULL,NULL,'C:\Ekun\Baks\',NULL,'C:\TMP\',NULL,'ProspectPool'
	EXEC SPU_DBA_ScriptAll NULL,NULL,'C:\Ekun\Baks\',NULL,'C:\TMP\',NULL,'StoreDB'
	EXEC SPU_DBA_ScriptAll NULL,NULL,'C:\Ekun\Baks\',NULL,'C:\TMP\',NULL,'StageDB'
	EXEC SPU_DBA_ScriptAll NULL,NULL,'C:\Ekun\Baks\',NULL,'C:\TMP\',NULL,'JOBS'
	--EXEC SPU_DBA_ScriptAll NULL,NULL,'C:\Ekun\Baks\',NULL,'C:\TMP\',NULL,'DTS'


END
GO
/****** Object:  StoredProcedure [dbo].[spu_dba_ScriptAllToOne]    Script Date: 02/02/2011 14:01:57 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[spu_dba_ScriptAllToOne]
@SourceUID	varchar(128) ,	-- null for trusted connection
@SourcePWD	varchar(128) ,
@OutFilePath	varchar(256) ,	-- Root path - will add directory for object types
@OutFileName	varchar(128) ,	 -- null for separate file per object script
@WorkPath	varchar(256) ,
@SourceSVR	varchar(128) = null ,	-- to script remote server
@Database	varchar(128) = null	-- to script single database / jobs / DTS

as
/*
exec	s_ScriptAllDatabases
	@SourceUID	= null ,
	@SourcePWD	= null ,
	@OutFilePath	= 'c:\a\' ,
	@OutFileName	= null ,
	@WorkPath	= 'c:\temp\' ,				-- no spaces
	@SourceSVR	= null

exec	s_ScriptAllDatabases
	@SourceUID	= null ,
	@SourcePWD	= null ,
	@OutFilePath	= 'c:\a\' ,
	@OutFileName	= null ,
	@WorkPath	= 'c:\temp\' ,				-- no spaces
	@SourceSVR	= null ,
	@Database	= 'JOBS'

exec	s_ScriptAllDatabases
	@SourceUID	= null ,
	@SourcePWD	= null ,
	@OutFilePath	= 'c:\a\' ,
	@OutFileName	= null ,
	@WorkPath	= 'c:\temp\' ,				-- no spaces
	@SourceSVR	= null ,
	@Database	= 'DTS'

exec	s_ScriptAllDatabases
	@SourceUID	= null ,
	@SourcePWD	= null ,
	@OutFilePath	= 'c:\a\' ,
	@OutFileName	= null ,
	@WorkPath	= 'c:\temp\' ,				-- no spaces
	@SourceSVR	= null ,
	@Database	= 'mydb'

*/
declare @sql 	varchar(1000) ,
	@cmd	varchar(1000)
	
	if @SourceSVR is null
	begin
		select @SourceSVR = @@servername
	end
	
	if right(@OutFilePath,1) <> '\'
	begin
		select @OutFilePath = @OutFilePath + '\'
	end
	
	if right(@WorkPath,1) <> '\'
	begin
		select @WorkPath = @WorkPath + '\'
	end
	
	select	@OutFilePath = @OutFilePath + '"' + @SourceSVR + '"'
	exec master..xp_cmdshell @cmd
	select	@OutFilePath = @OutFilePath + '\'
	
	select @sql = 	
	'select	name
	from	[' + @SourceSVR + '].master.dbo.sysdatabases
	where	name <> ''tempdb'''
	
	if @Database is not null
	begin
		select @sql = @sql + ' and name = ''' + @Database + ''''
	end
	
	create table #tblDatabases (name varchar(128))
	insert	#tblDatabases
		(name)
	exec (@sql)

declare	@FilePath	varchar(256)

declare	@name		varchar(128) ,
	@maxname	varchar(128)

	select	@name = '' ,
		@maxname = max(name)
	from	#tblDatabases

	while @name < @maxname
	begin
		select	@name = min(name) from #tblDatabases where name > @name

		select	@FilePath = @OutFilePath + '"' + @name + '"'

		-- output current database name
		select CurrentDatabase = @name

		-- create output directory - will fail if already exists but ...
		select	@cmd = 'mkdir ' + @FilePath
		exec master..xp_cmdshell @cmd, no_output
		
		exec	s_ScriptAllObjectsInDatabase
			@SourceDB 	= @name ,
			@SourceUID 	= @SourceUID ,
			@SourcePWD 	= @SourcePWD ,
			@OutFilePath 	= @FilePath ,
			@OutFileName 	= @OutFileName ,	-- null for separate file per object script
			@WorkPath	= @WorkPath ,
			@SourceSVR	= @SourceSVR
	end
	
	if coalesce(@Database, 'JOBS') = 'JOBS'
	begin
		select	@FilePath = @OutFilePath + 'JOBS'
		
		-- create output directory - will fail if already exists but ...
		select	@cmd = 'mkdir ' + @FilePath
		exec master..xp_cmdshell @cmd, no_output
		
		exec	s_ScriptObjects
			@SourceDB	= 'msdb' ,
			@SourceObject	= null ,	-- null for all objects
			@SourceUID 	= @SourceUID ,
			@SourcePWD 	= @SourcePWD ,
			@OutFilePath 	= @FilePath ,
			@OutFileName 	= @OutFileName ,	-- null for separate file per object script
			@ObjectType	= 'JOBS' ,
			@WorkPath	= @WorkPath ,
			@SourceSVR	= @SourceSVR
	end
	
	if coalesce(@Database, 'DTS') = 'DTS'
	begin
		select	@FilePath = @OutFilePath + 'DTS'
		
		-- create output directory - will fail if already exists but ...
		select	@cmd = 'mkdir ' + @FilePath
		exec master..xp_cmdshell @cmd, no_output
		
		exec	s_ScriptObjects
			@SourceDB	= 'msdb' ,
			@SourceObject	= null ,	-- null for all objects
			@SourceUID 	= @SourceUID ,
			@SourcePWD 	= @SourcePWD ,
			@OutFilePath 	= @FilePath ,
			@OutFileName 	= @OutFileName ,	-- null for separate file per object script
			@ObjectType	= 'DTS' ,
			@WorkPath	= @WorkPath ,
			@SourceSVR	= @SourceSVR
	end
GO
/****** Object:  StoredProcedure [dbo].[sp_Now]    Script Date: 02/02/2011 14:01:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Now]
as
set nocount on
declare @handle binary(20), 
        @spid   smallint,
        @rowcnt smallint,
        @output varchar(500)

declare ActiveSpids CURSOR FOR
select sql_handle, spid
  from sysprocesses 
 where sql_handle <> 0x0000000000000000000000000000000000000000
   --and spid <> @@SPID
order by cpu desc

OPEN ActiveSpids
FETCH NEXT FROM ActiveSpids
INTO @handle,
     @spid


set @rowcnt = @@CURSOR_ROWS

print '===================='
print '= CURRENT ACTIVITY ='
print '===================='
print ' '
set @output = 'ACTIVE SPIDS: ' + convert(varchar(4),@rowcnt)
print @output


WHILE (@@FETCH_STATUS = 0)
BEGIN
  print ' '
  print ' '
  print 'O' + replicate('x',120) + 'O'
  print 'O' + replicate('x',120) + 'O'
  print ' '
  print ' '
  print ' '

select 'loginame'     = left(loginame, 30),  
       'hostname'     = left(hostname,30),
       'datagbase'    = left(db_name(dbid),30),
       'spid'         = str(spid,4,0), 
       'block'        = str(blocked,5,0), 
       'phys_io'      = str(physical_io,8,0), 
       'cpu(mm:ss)'   = str((cpu/1000/60),6) + ':' + case when left((str(((cpu/1000) % 60),2)),1) = ' ' then stuff(str(((cpu/1000) % 60),2),1,1,'0') else str(((cpu/1000) % 60),2) END ,
       'mem(MB)'      = str((convert(float,memusage) * 8192.0 / 1024.0 / 1024.0),8,2),
       'program_name' = left(program_name,50), 
       'command'      = cmd,
       'lastwaittype' = left(lastwaittype,15),
       'login_time'   = convert(char(19),login_time,120), 
       'last_batch'   = convert(char(19),last_batch,120), 
       'status'       = left(status, 10),
       'nt_username'  = left(nt_username,20)
  from master..sysprocesses
  where spid = @spid
  print ' '
  print ' '
  
  -- Dump the inputbuffer to get an idea of what the spid is doing
  dbcc inputbuffer(@spid)
  print ' '
  print ' '

  -- Use the built-in function to show the exact SQL that the spid is running
  select * from ::fn_get_sql(@handle)
  
  FETCH NEXT FROM ActiveSpids
  INTO @handle,
       @spid
END
close ActiveSpids
deallocate ActiveSpids
GO
