if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodes_BusinessNameIMP]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodes_BusinessNameIMP]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE   FUNCTION CreateMatchCodes_BusinessNameIMP(@BusName VARCHAR(254)) 
RETURNS CHAR(15)

AS

BEGIN
DECLARE @M_BusName VARCHAR(60); SELECT @M_BusName = '';
DECLARE @Word1 VARCHAR(60); SELECT @Word1='';
DECLARE @Word2 VARCHAR(50); SELECT @Word2='';
DECLARE @Word3 VARCHAR(40); SELECT @Word3='';
DECLARE @WordLim1 Int;  SET @WordLim1 = 0
DECLARE @WordLim2 Int;  SET @WordLim2 = 0

--Clean up extra spaces (1 space delimits the words)
SELECT @BusName=REPLACE(@BusName,SPACE(7),SPACE(1))
SELECT @BusName=REPLACE(@BusName,SPACE(6),SPACE(1))
SELECT @BusName=REPLACE(@BusName,SPACE(5),SPACE(1))
SELECT @BusName=REPLACE(@BusName,SPACE(4),SPACE(1))
SELECT @BusName=REPLACE(@BusName,SPACE(3),SPACE(1))
SELECT @BusName=REPLACE(@BusName,SPACE(2),SPACE(1))
SELECT @BusName=LTRIM(RTRIM(@BusName));

-- Check for numbers of words
SELECT @WordLim1 = CHARINDEX(SPACE(1),@BusName)
IF @WordLim1 > 0
	SELECT @WordLim2 = CHARINDEX(SPACE(1),@BusName, @WordLim1 + 1)

--Save the intermediate value
SELECT @M_BusName=@BusName; 

-- Remove standard business keywords that do not add meaning to much code
-- It is mandatory to replace them with 1 space, otherwise the words can join
IF @WordLim2 <> 0

BEGIN

	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'.'+SPACE(1),SPACE(1));
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'& CO'+SPACE(1),SPACE(1));
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'AGCY'+SPACE(1),SPACE(1))	
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'AGENCIES'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'AGENCY'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'AMERICAN'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'AMERICAS'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'AND'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'AS'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ASSC'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ASSN'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ASSO'+SPACE(1),SPACE(1))	
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ASSOC'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ASSOCATE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ASSOCATED'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ASSOCIAT'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ASSOCIATED'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ASSOCIATES'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ASSOCIES'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ATTENTION'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'ATTN'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'BLDG'+SPACE(1),SPACE(1))	
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'BOARD'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'BOARDS'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'BRANCH'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'BUILDING'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CAN'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CANADA'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CANADIAN'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CDN'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CEGEP'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CEN'+SPACE(1),SPACE(1))	
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CENT'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CENTER'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CENTERS'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CENTR'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CO'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COLLEG'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COLLEGE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COLLEGIATE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COM'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMM'+SPACE(1),SPACE(1))	
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMMERC'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMMERCIAL'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMMISS'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMMISSION'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMMISSIONER'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMMNQ'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMMERCE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMP'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMPAGNIE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMPANIES'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMPANY'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'COMRCL'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CONSLT'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CORP'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CORPORATE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CORPORATI'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CORPORATION'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'CRT'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'DEPARTMENT'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'DEPT'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'FOR'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'GENERAL'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'GOV'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'GOVERNMENT'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'GOVN'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'GROUP'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'GROUPE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'GRP'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INC'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INCORP'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INCORPORATE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INCORPORATED'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INCORPORATION'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'IND'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INDSTRL'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INDUST'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INDUSTR'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INDUSTRIA'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INDUSTRIAL'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INDUSTRIES'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INDUSTRY'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INFO'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INFORMATION'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INFORMATIONS'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INTL'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INTERL'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'INTERNATIONAL'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'LIMITE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'LIMITED'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'LIMITEE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'LT'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'LTD'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'LTEE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'NATL'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'NATIONAL'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'OF'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'OFC'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'OFFICE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'OPERATION'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'OPERATIONS'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'SVC'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'SYS'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'THE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'SERVICE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'SERVICES'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'SYSTEM'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'SYSTEMS'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'STORE'+SPACE(1),SPACE(1))
	SELECT @BusName=REPLACE(SPACE(1)+@BusName+SPACE(1),SPACE(1)+'STORES'+SPACE(1),SPACE(1))

	--Remove generated spaces and keep 1 space for delimitation of words
	SELECT @BusName=REPLACE(@BusName,SPACE(7),SPACE(1))
	SELECT @BusName=REPLACE(@BusName,SPACE(6),SPACE(1))
	SELECT @BusName=REPLACE(@BusName,SPACE(5),SPACE(1))
	SELECT @BusName=REPLACE(@BusName,SPACE(4),SPACE(1))
	SELECT @BusName=REPLACE(@BusName,SPACE(3),SPACE(1))
	SELECT @BusName=REPLACE(@BusName,SPACE(2),SPACE(1))

            SELECT @BusName=LTRIM(RTRIM(@BusName));
END


-- Take the limits of words again
SELECT @WordLim1 = CHARINDEX(SPACE(1),@BusName)
IF @WordLim1 > 0
	SELECT @WordLim2 = CHARINDEX(SPACE(1),@BusName, @WordLim1 + 1)


-- Recover the old value if Length less than chosen limit
IF LEN(@BusName)<5  
BEGIN
	SELECT @BusName=@M_BusName;
END


----Rule 2 - Get first consonant chars from words
IF LEN(@BusName)=1 
	SELECT @M_BusName=@BusName


SET	@WordLim2 = 0
SELECT  @WordLim1 = CHARINDEX(SPACE(1),@BusName)
IF @WordLim1 <> 0
	SELECT @WordLim2 = CHARINDEX(SPACE(1),@BusName, @WordLim1 + 1)


-- 1 Word
IF LEN(@BusName)>1 AND @WordLim1=0
BEGIN
	SELECT @Word1=@BusName
	SELECT @Word1=StageDB.dbo.udf_WordCleaning(@Word1)
	SELECT @M_BusName = LEFT(@Word1,15);
END

-- 2 Words
IF LEN(@BusName)>1 AND @WordLim1 > 0 AND @WordLim2=0 
BEGIN
       SELECT @Word1=SUBSTRING(@BusName,1,@WordLim1);
       SELECT @Word2=SUBSTRING(@BusName,@WordLim1,LEN(@BusName))
       SELECT @Word1=StageDB.dbo.udf_WordCleaning(@Word1)
       SELECT @Word2=StageDB.dbo.udf_WordCleaning(@Word2)
       SELECT @M_BusName = LEFT(@Word1,9)+LEFT(@Word2,6);
END


-- 3 Words
IF LEN(@BusName)>1 AND @WordLim2 > 0 
BEGIN
       SELECT @Word1=SUBSTRING(@BusName,1,@WordLim1);
       SELECT @Word2=SUBSTRING(@BusName,@WordLim1,@WordLim2);
       SELECT @Word3=SUBSTRING(@BusName,@WordLim2,LEN(@BusName));
       SELECT @Word1=StageDB.dbo.udf_WordCleaning(@Word1)
       SELECT @Word2=StageDB.dbo.udf_WordCleaning(@Word2)
       SELECT @Word3=StageDB.dbo.udf_WordCleaning(@Word3)
       SELECT @M_BusName = LEFT(@Word1,7)+LEFT(@Word2,5)+LEFT(@Word3,3);
END


--Remove any spaces
SELECT @M_BusName = REPLACE(@M_BusName,SPACE(1),'')


RETURN @M_BusName

END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

