/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *   FROM [Test].[dbo].[Table_1]


SELECT NAME = ISNULL(NAME,'Total'), SUM(VAL) AS SVAL FROM [Test].[dbo].[Table_1] GROUP BY NAME WITH CUBE


SELECT
  [Name]      = [Name],
  [TVal] = ISNULL([TVAl], 0),
  Total    = ISNULL(Total   , 0)
FROM (

  
  SELECT
    NAME = ISNULL(NAME, 'Total'),
    VAL  = ISNULL(VAL,  0),
    cnt              = COUNT(*)
  FROM [Test].[dbo].[Table_1]
  WHERE VAL>0
  GROUP BY  CUBE(name, VAL)


) s
PIVOT (
  SUM(VAL)
  FOR NAME IN ([NAME], [TVAL], Total)
) p
;



SELECT
  [ ]      = environment_name,
  [Enviro] = ISNULL([Enviro], 0),
  [Requi]  = ISNULL([Requi] , 0),
  [Dev]    = ISNULL([Dev]   , 0),
  [Tsc]    = ISNULL([Tsc]   , 0),
  [TD]     = ISNULL([TD]    , 0),
  [Unkn]   = ISNULL([Unkn]  , 0),
  Total    = ISNULL(Total   , 0)
FROM (
  SELECT
    environment_name = ISNULL(environment_name, 'Total'),
    root_cause       = ISNULL(root_cause,       'Total'),
    cnt              = COUNT(*)
  FROM test1
  WHERE root_cause IS NOT NULL
  GROUP BY
    CUBE(environment_name, root_cause)
) s
PIVOT (
  SUM(cnt)
  FOR root_cause IN ([Enviro], [Requi], [Dev], [Tsc], [TD], [Unkn], Total)
) p
;