SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_MatchCodesGen]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_MatchCodesGen]
GO

--Call QCode API function
--protariu 20060213


CREATE PROCEDURE usp_MatchCodesGen(@vTable VARCHAR(100))


AS

BEGIN


	DECLARE @vCMD varchar(3000);  SET @vCMD=SPACE(1);

	SET @vCMD = @vCMD + '  UPDATE ' + @vTable + '  SET '+
			'  M_FName= StageDB.dbo.CreateMatchCodeSTD_FirstName(Pers_Fname),  '+
			'  M_LName= StageDB.dbo.CreateMatchCodeSTD_LastName(Pers_Lname),  '+
			'  M_Postal  = StageDB.dbo.CreateMatchCodeSTD_PostalCode(Q_PostalCode),  '+
	 		'  M_General= StageDB.dbo.CreateMatchCodeSTD_MGeneral(Q_ParsedAddress), '+
	 		'  M_SuiteNum= StageDB.dbo.CreateMatchCodeSTD_SuiteNumber(Q_AptUnitNumber),  '+
	 		'  M_CivicNum= StageDB.dbo.CreateMatchCodeSTD_CivicNumber(Q_StreetNumber),  '+
	 		'  M_Street= StageDB.dbo.CreateMatchCodeSTD_StreetName(Q_StreetStationName),  '+
	 		'  M_POBOX= StageDB.dbo.CreateMatchCodeSTD_POBOX(Q_Face3BoxNumber),  '+
	 		'  M_Rural = StageDB.dbo.CreateMatchCodeSTD_RuralRoute(Q_GDRRMR,Q_RouteNumber),  '+
	 		'  M_GD= StageDB.dbo.CreateMatchCodeSTD_GeneralDelivery(Q_GDRRMR); '

	EXEC (@vCMD);

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

