SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_QCPopulateQFields]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_QCPopulateQFields]
GO

--Populate Q - ADDRESS fields (for QCode + QNCOA)
--protariu 20060213


CREATE PROCEDURE usp_QCPopulateQFields(@vTable VARCHAR(100))


AS

BEGIN
	DECLARE @vCMD varchar(8000);  SET @vCMD=SPACE(1);
	SET @vCMD = @vCMD + '  UPDATE ' + @vTable + ' SET 
				Q_ParsedAddress=Substring(WorkingField,1,45),
				Q_City=Substring(WorkingField,46,30), 
				Q_Province=Substring(WorkingField,91,2), 
				Q_CorrectStatus=Substring(WorkingField,94,1), 
				Q_LULR=Substring(WorkingField,89,2), 
				Q_Face=Substring(WorkingField,161,1), 
				Q_StreetNumber=Substring(WorkingField,162,6), 
				Q_StreetDirection=Substring(WorkingField,213,3), 
				Q_StreetStationType=Substring(WorkingField,207,6), 
				Q_StreetStationName=Substring(WorkingField,177,30), 
				Q_StreetPrefixFraction=Substring(WorkingField,168,3), 
				Q_AptUnitNumber=Substring(WorkingField,171,6), 
				Q_Face3BoxNumber=Substring(WorkingField,215,7), 
				Q_Faces678RRSSMRNumber=Substring(WorkingField,223,8), 
				Q_GDRRMR=Substring(WorkingField,231,2), 
				Q_RouteNumber=Substring(WorkingField,233,8); '

		
	EXEC (@vCMD);

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

