SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_PersonatorAddDual]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_PersonatorAddDual]
GO


CREATE  PROCEDURE dbo.usp_PersonatorAddDual
		 @vTable   varchar(100)
/**********************************************************************************************/
--  Description: 	Match records between Prospect table and InfoDirect_Stage tables based on M_Postal, M_LName, 
--  Return Value:	0=Succeful	1=Failure
--  Parameters: 	INPUT @vTable   varchar(100)
--  protariu /20060209
--
--  Update History:
-----------------------------------------------------------------------------------------------------------------------------
--	Updated By	Updated Date		Reason
------------------------------------------------------------------------------------------------------------------------------
--
--
/*********************************************************************************************/
AS

DECLARE @vCMD varchar(8000);  SET @vCMD=SPACE(1);

SET NOCOUNT ON


SET @vCMD = ' SELECT *  INTO #TMPDUAL FROM '+@vTable+'  WHERE  (LEN(WorkingField) > 120);  '

SET @vCMD = @vCMD + '  UPDATE #TMPDUAL SET 
					Pers_Prefix=Substring(WorkingField,121,6),
					Pers_FName=Substring(WorkingField,136,30),
					Pers_MName=Substring(WorkingField,166,30),
					Pers_LName=Substring(WorkingField,196,30),
					Pers_Suffix=Substring(WorkingField,226,6);  '

SET @vCMD = @vCMD + '  UPDATE '+@vTable+' SET WorkingField=Substring(WorkingField,1,120);  '

SET @vCMD = @vCMD + '  UPDATE #TMPDUAL SET WorkingField=Substring(WorkingField,121,120);  '

SET @vCMD = @vCMD + '  INSERT INTO ' + @vTable + ' SELECT * FROM #TMPDUAL;  '

EXEC (@vCMD);

RETURN 0;
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

