if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_AccessCodeForMailFile]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_AccessCodeForMailFile]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COCalcDecile_ListEditResponseModel]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COCalcDecile_ListEditResponseModel]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COCalcDecile_ListEditRiskModel]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COCalcDecile_ListEditRiskModel]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COCalcDecile_PoolResponseModel]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COCalcDecile_PoolResponseModel]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COCalcDecile_PoolRiskModel]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COCalcDecile_PoolRiskModel]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COCalcEmpiricaBand]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COCalcEmpiricaBand]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COCalc_ListEditResponseModelScore]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COCalc_ListEditResponseModelScore]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COCalc_ListEditRiskModelScore]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COCalc_ListEditRiskModelScore]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COCalc_PoolResponseModelScore]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COCalc_PoolResponseModelScore]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COCalc_PoolRiskModelScore]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COCalc_PoolRiskModelScore]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COGetConditionDesc]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COGetConditionDesc]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COGetFileID]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COGetFileID]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COGetIncrementalToPPDate]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COGetIncrementalToPPDate]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COGetProspectFileID]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COGetProspectFileID]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COGetProspectSuppressedInfo]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COGetProspectSuppressedInfo]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COGetTotalForUniqueCombination]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COGetTotalForUniqueCombination]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COGetTotalForUniqueCombination_PreviousDeclines]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COGetTotalForUniqueCombination_PreviousDeclines]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COSourceExists]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COSourceExists]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COSuppressionExists]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COSuppressionExists]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COUniqueCombination_SegmentationReport]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COUniqueCombination_SegmentationReport]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COUniqueCombination_SegmentationReport_PreviousDeclines]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COUniqueCombination_SegmentationReport_PreviousDeclines]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_CoCheckDigit]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_CoCheckDigit]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_CoFormatAddress]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_CoFormatAddress]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_CoGetAddrPart]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_CoGetAddrPart]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_GetMaxSource]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_GetMaxSource]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_GetRelatedNameSource]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_GetRelatedNameSource]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_NameAccessCode]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_NameAccessCode]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_PostalCodeAccessCode]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_PostalCodeAccessCode]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



-----------------------------------------------------------------------------------------
--Name		: udf_AccessCodeForMailFile
--Description	: Generate Access Code for Canada applications
-- 		  Access_Code=TC||CS||CZ||CP
--		  TC -- 2-digit TEST_CELL number
--		  CS -- 2-digit number based on Solicitation_ID,MailSeqNumber and 4-digit name
--		  CZ -- check digit from 5-digit postal code
--		  CP -- check digit for the first digit s in the access code (TC||CS||CZ)
--
-- Input	:  @TestCell, @FirstName,@LastName,@SolicationId,@MailSeqNumber,@PostalCode 
--
-- Functions used: dbo.udf_NameAccessCode -- to create access code for name, 
--		  dbo.udf_PostalCodeAccessCode -- to create access code for postal code
--		  dbo.udf_CoCheckDigit -- to get check digit
--
-- OUTPUT	:  Access Code -- 6-digit number
--
--Created by	:  Linda Liu
--
--Created Date	:  22/June/05


------------------------------------------------------------------------------------------

CREATE FUNCTION dbo.udf_AccessCodeForMailFile (

	@TestCell VARCHAR(2),
	@FirstName varchar(50),
	@LastName varchar(50),
	@SolicationId varchar(7),
	@MailSeqNumber varchar(8),
	@PostalCode varchar(7)
	
)

RETURNS VARCHAR(6)
AS 
BEGIN

-- TC=@TestCell

	DECLARE @TC varchar(2)
	SELECT @TC=@TestCell
	IF (LEN(@TC)=1) SELECT @TC='0'+@TC
	
-- Get CS Code
	
	DECLARE @CS VARCHAR(2)
	DECLARE @NameCode varchar(4)
	
	declare @FirstChar int
	declare @SecondChar int
	declare @ThirdChar int
	declare @ForthChar int
	
	select @NameCode=(select dbo.udf_NameAccessCode(@FirstName,@LastName))
	
	IF (@NameCode='NONE') -- if 4-digit name is invalid, then CS='99'
		SELECT @CS='99'
	ELSE
	BEGIN
		SELECT @FirstChar=(SELECT SUBSTRING(@NameCode,1,1))
		SELECT @SecondChar=(SELECT SUBSTRING(@NameCode,2,1))
		SELECT @ThirdChar=(SELECT SUBSTRING(@NameCode,3,1))
		SELECT @ForthChar=(SELECT SUBSTRING(@NameCode,4,1))
	
		SELECT @CS=(SELECT((CAST(@MailSeqNumber AS INT)*(@FirstChar+@SecondChar)+@ThirdChar+CAST(@SolicationId AS INT)*@ForthChar)%99))
		IF(LEN(@CS)=1) SELECT @CS='0'+@CS
	END

-- Get CZ check digit from 5-digit postal code

	declare @CZ char
	declare @tempCZString varchar(10)
	DECLARE @PostalAccessCode varchar(10)
	
	declare @FirstCharPostal int
	declare @SecondCharPostal int
	declare @ThirdCharPostal int
	declare @ForthCharPostal int
	declare @FifthCharPostal int
	
	-- Get the 5-digit Postal Code
	
	select 	@PostalAccessCode=(select dbo.udf_PostalCodeAccessCode(@PostalCode))

	--Check Postal Code in right format or not, if not, return a string
	IF ( @PostalAccessCode= 'NONPC')
	RETURN 'NONEPC'
	
	-- Get the access code 
	
	SELECT @CZ=dbo.udf_CoCheckDigit(@PostalAccessCode)
	
-- Get CP check digit for TC||CS||CZ
	
	DECLARE @CP char
	SELECT @CP=dbo.udf_CoCheckDigit(@TC+@CS+@CZ)

	RETURN	@TC+@CS+@CZ+@CP

   
END











GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO





CREATE FUNCTION dbo.udf_COCalcDecile_ListEditResponseModel (@nScore NUMERIC (8,7))
RETURNS TINYINT
AS
-----------------------------------------------------------------------------------------
--Name : udf_COCalcDecile_ListEditResponseModel
--Description : Function Calculates declines for ListEdit Response Score Model
--              based on the formula provided by CAP1. 
--             
-- Input Parameters:   
-- @nScore   - Score calculated by udf_Calc_ListeditResponseModelScore Function
-- OUTPUT :     Calculated Decline for the prospect
--Created by:        Anna Danielyan
--Created Date:      01/APR/04
--Update History

---------------------------------------------------------
BEGIN
DECLARE @intDeciles TINYINT
IF (@nScore >=0.0000000 AND @nScore <=0.0010716) SET @intDeciles = 1
ELSE
BEGIN
 IF (@nScore >= 0.0010717 AND @nScore <= 0.0014820) SET @intDeciles = 2
 ELSE
 BEGIN
  IF (@nScore >= 0.0014821 AND @nScore <= 0.0019048) SET @intDeciles = 3
  ELSE
  BEGIN
   IF (@nScore >=0.0019049 AND @nScore <= 0.0023741 ) SET @intDeciles =4
   ELSE
   BEGIN
    IF (@nScore >=0.0023742 AND @nScore <= 0.0029379) SET @intDeciles = 5
    ELSE
    BEGIN
     IF (@nScore >=0.0029380 AND @nScore <=0.0036823) SET @intDeciles = 6
     ELSE
     BEGIN
      IF (@nScore >=0.0036824 AND @nScore <=0.0047254) SET @intDeciles = 7
      ELSE
      BEGIN
       IF (@nScore >=0.0047255 AND @nScore <= 0.0063823) SET @intDeciles =8
       ELSE
       BEGIN
        IF (@nScore >=0.0063824 AND @nScore <= 0.0097111) SET @intDeciles = 9
        ELSE
         BEGIN
          IF (@nScore >=0.0097112 AND @nScore <= 1.0000000) SET @intDeciles = 10 
         END
       END
      END
     END
    END
   END
  END
END
END


  RETURN @intDeciles  
END






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO





CREATE FUNCTION dbo.udf_COCalcDecile_ListEditRiskModel (@nScore NUMERIC (4,3))
RETURNS TINYINT
AS
-----------------------------------------------------------------------------------------
--Name : udf_COCalcDecline_ListEditRiskModel
--Description : Function Calculates declines for ListEdit Risk Score Model
--              based on the formula provided by CAP1. 
--             
-- Input Parameters:   
-- @nScore   - Score calculate by udf_Calc_ListEditRiskModelScore Function
-- OUTPUT :     Calculated Decline for the prospect
--Created by:        Anna Danielyan
--Created Date:      31/Mar/04
--Update History

---------------------------------------------------------
BEGIN
DECLARE @intDeciles TINYINT
IF (@nScore >=0.981 AND @nScore <=1.000) SET @intDeciles = 1
ELSE
BEGIN
 IF (@nScore >= 0.963 AND @nScore <= 0.980) SET @intDeciles = 2
 ELSE
 BEGIN
  IF (@nScore >= 0.933 AND @nScore <= 0.962) SET @intDeciles = 3
  ELSE
  BEGIN
   IF (@nScore >=0.885 AND @nScore <= 0.932 ) SET @intDeciles =4
   ELSE
   BEGIN
    IF (@nScore >=0.800 AND @nScore <= 0.884) SET @intDeciles = 5
    ELSE
    BEGIN
     IF (@nScore >=0.651 AND @nScore <=0.799) SET @intDeciles = 6
     ELSE
     BEGIN
      IF (@nScore >=0.404 AND @nScore <=0.650) SET @intDeciles = 7
      ELSE
      BEGIN
       IF (@nScore >=0.124 AND @nScore <= 0.403) SET @intDeciles =8
       ELSE
       BEGIN
        IF (@nScore >=0.030 AND @nScore <= 0.123) SET @intDeciles = 9
        ELSE
         BEGIN
          IF (@nScore >=0 AND @nScore <= 0.029) SET @intDeciles = 10 
         END
       END
      END
     END
    END
   END
  END
END
END


  RETURN @intDeciles  
END






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO




CREATE FUNCTION dbo.udf_COCalcDecile_PoolResponseModel (@nScore NUMERIC (8,7))
RETURNS TINYINT
AS
-----------------------------------------------------------------------------------------
--Name : udf_COCalcDecile_PoolResponseModel
--Description : Function Calculates declines for Pool Response Score Model
--              based on the formula provided by CAP1. 
--             
-- Input Parameters:   
-- @nScore   - Score calculated by udf_Calc_PoolResponseModelScore Function
-- OUTPUT :     Calculated Decline for the prospect
--Created by:        Anna Danielyan
--Created Date:      27/MAR/04 
--Update History
--  Modified by : Anna Danielyan
--  Date	: 09/May/2005
-- Ranges are modified according release 1.
---------------------------------------------------------
BEGIN
DECLARE @intDeciles TINYINT
IF (@nScore >=0.0000000 AND @nScore <=0.0048400) SET @intDeciles = 1
ELSE
BEGIN
 IF (@nScore >= 0.0048401 AND @nScore <= 0.0060100) SET @intDeciles = 2
 ELSE
 BEGIN
  IF (@nScore >= 0.0060101 AND @nScore <= 0.0070200) SET @intDeciles = 3
  ELSE
  BEGIN
   IF (@nScore >=0.0070201 AND @nScore <= 0.0079900 ) SET @intDeciles =4
   ELSE
   BEGIN
    IF (@nScore >=0.0079901 AND @nScore <= 0.0090200) SET @intDeciles = 5
    ELSE
    BEGIN
     IF (@nScore >=0.0090201 AND @nScore <=0.0101700) SET @intDeciles = 6
     ELSE
     BEGIN
      IF (@nScore >=0.0101701 AND @nScore <=0.0116100) SET @intDeciles = 7
      ELSE
      BEGIN
       IF (@nScore >=0.0116101 AND @nScore <= 0.0135100) SET @intDeciles =8
       ELSE
       BEGIN
        IF (@nScore >=0.0135101 AND @nScore <= 0.0165000) SET @intDeciles = 9
        ELSE
         BEGIN
          IF (@nScore >=0.0165001 AND @nScore <= 1.0000000) SET @intDeciles = 10 
         END
       END
      END
     END
    END
   END
  END
END
END


  RETURN @intDeciles  
END











GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO





CREATE FUNCTION dbo.udf_COCalcDecile_PoolRiskModel (@nScore NUMERIC (4,3))
RETURNS TINYINT
AS
-----------------------------------------------------------------------------------------
--Name : udf_COCalcDecline_PoolRiskModel
--Description : Function Calculates declines for Pool Risk Score Model
--              based on the formula provided by CAP1. 
--             
-- Input Parameters:   
-- @nScore   - Score calculate by udf_Calc_PoolRiskModelScore Function
-- OUTPUT :     Calculated Decline for the prospect
--Created by:        Anna Danielyan
--Created Date:      28/Mar/04
--Update History

---------------------------------------------------------
BEGIN
DECLARE @intDeciles TINYINT
IF (@nScore >=0.854 AND @nScore <=1.000) SET @intDeciles = 1
ELSE
BEGIN
 IF (@nScore >= 0.800 AND @nScore <= 0.853) SET @intDeciles = 2
 ELSE
 BEGIN
  IF (@nScore >= 0.749 AND @nScore <= 0.799) SET @intDeciles = 3
  ELSE
  BEGIN
   IF (@nScore >=0.695 AND @nScore <= 0.748 ) SET @intDeciles =4
   ELSE
   BEGIN
    IF (@nScore >=0.638 AND @nScore <= 0.694) SET @intDeciles = 5
    ELSE
    BEGIN
     IF (@nScore >=0.576 AND @nScore <=0.637) SET @intDeciles = 6
     ELSE
     BEGIN
      IF (@nScore >=0.505 AND @nScore <=0.575) SET @intDeciles = 7
      ELSE
      BEGIN
       IF (@nScore >=0.428 AND @nScore <= 0.504) SET @intDeciles =8
       ELSE
       BEGIN
        IF (@nScore >=0.319 AND @nScore <= 0.427) SET @intDeciles = 9
        ELSE
         BEGIN
          IF (@nScore >=0 AND @nScore <= 0.318) SET @intDeciles = 10 
         END
       END
      END
     END
    END
   END
  END
END
END


  RETURN @intDeciles  
END






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO




--Created by    Anna Danielyan
-- Date : 04/Jun/2004
-- Function Calculates Empirica Scores based on CapSeqNum value. 
-- Calculations will be done for prospects with BancrupcyInd  <> 'B' and  ScoreRangeind <> 'S'. (Variable @listedit code)
-- 

CREATE FUNCTION dbo.udf_COCalcEmpiricaBand (@cListeditCode VARCHAR(6),@intCapSeqNum INT)
RETURNS INT
BEGIN
 DECLARE @intEmpirica INT
   IF @cListeditCode   <> 'NS'    
    BEGIN
       SET @intEmpirica = (SELECT AVGScore 
                           FROM StoreDB.dbo.EmpiricaScores
                           WHERE @intCapseqNum <=CumulativeEnd AND
                                 @intCapseqNum > CumulativeStart)

    END
    RETURN @intEmpirica
 
END








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO





/****** Object:  User Defined Function dbo.udf_COCalc_ListEditResponseModelScore    Script Date: 5/2/2005 2:35:49 PM ******/
CREATE FUNCTION dbo.udf_COCalc_ListEditResponseModelScore (
               @nEmpirica                  INTEGER,
               @intBC33                    INTEGER,
               @nGO04                      INTEGER,
               @nRE78                      INTEGER,
               @nRE132                     INTEGER,
               @nGO16                      INTEGER,
               @nBR81                      INTEGER,
               @nBC14                      INTEGER,
               @nRE155                     INTEGER,
               @nGO12                      INTEGER,
               @dRecentAcquisitionDate     DateTIME,
               @dIncrementalTOPPDate       DateTIME,
               @intProspectID              INTEGER)

RETURNS NUMERIC (8,7)
AS 
-----------------------------------------------------------------------------------------
--Name : udf_COCalc_ListEditResponseModelScore
--Description : Function Calculates Model Score For ListEdit-Response-Decline Model.
--              based on the formula provided by CAP1. 
--              3 tables - Prospect ListEdit,Source and HistoryStatistics 
--              are used for populating variables.
-- Input Parameters:   
-- Fields for calculation from Prospect ListEdit and ProspectID 
-- OUTPUT :    @nScore - Calculated Score
--Created by:        Anna Danielyan
--Created Date:      01/APR/04
--Update History

------------------------------------------------------------------------------------------
BEGIN
  DECLARE @nIntercept             NUMERIC(5,4),
          @nCoefficient1          NUMERIC(5,4),
          @nCoefficient2          NUMERIC(5,4),
          @nCoefficient3          NUMERIC(5,4),
          @nCoefficient4          NUMERIC(5,4),
          @nCoefficient5          NUMERIC(5,4),
          @nCoefficient6          NUMERIC(5,4),
          @nCoefficient7          NUMERIC(5,4),
          @nCoefficient8          NUMERIC(5,4),
          @nCoefficient9          NUMERIC(5,4),
          @nCoefficient10         NUMERIC(5,4),
          @nCoefficient11         NUMERIC(5,4),
          @nCoefficient12         NUMERIC(5,4),
          @bitNewName             BIT,
          @nNum_Mailed_3Mths_DM   INTEGER,
          @nNum_Mailed_4_6Mths_DM INTEGER,
          @nNum_Mailed_3Mths_TM   INTEGER,
          @nNum_Mailed_4_6Mths_TM INTEGER,
          @nRM6                   INTEGER,
          @nTemp                  NUMERIC(13,9),
          @nScore                 NUMERIC(9,7),
          @nBC33                  NUMERIC (14,9)
 
  SET @nIntercept = 2.1880
  SET @nCoefficient1 = -0.0108
  SET @nCoefficient2 = 0.0078
  SET @nCoefficient3 = 0.0913
  SET @nCoefficient4 = -0.3244
  SET @nCoefficient5 = 0.1118
  SET @nCoefficient6 = 0.3530
  SET @nCoefficient7 = -0.1985
  SET @nCoefficient8 = 0.1348
  SET @nCoefficient9 = 0.0027
  SET @nCoefficient10 = -0.0017
  SET @nCoefficient11 = 0.6828
  SET @nCoefficient12 = -0.1585


  -----  Define the variable 1  @nEmpirica ( Empirica field (List Edit)  --------
  IF  @nEmpirica IS NULL OR @nEmpirica < 300  OR @nEmpirica > 900 SET @nEmpirica = 750 
  ELSE 
   IF  @nEmpirica < 650 SET  @nEmpirica = 650              -- Set the Floor
    ELSE
     IF  @nEmpirica > 840 SET  @nEmpirica = 840            -- Set the CAP
 
  ----- Define the variable 2  @nBC33   ( BC33 field    ( List Edit ) --------------
  IF  @intBC33  IS NULL SET  @intBC33  = 0
  ELSE
   IF  @intBC33  < 0 SET  @intBC33 = 0                         -- Set the Floor
   ELSE
    IF  @intBC33  > 10000 SET  @intBC33 = 10000                -- Set the CAP
  SET  @nBC33  = SQRT ( @intBC33)                            -- Transformation 

  ----- Define the variable 3 @nGO04      ( GO04 field (List Edit )   --------------
  IF  @nGO04 IS NULL SET  @nGO04 = 0
  ELSE
   IF  @nGO04 < 0 SET  @nGO04 = 0                          -- Set the Floor
   ELSE
    IF  @nGO04 > 8 SET  @nGO04 = 8                         -- Set the CAP
 
  ----- Define the variable 4  @nRE78   ( RE78 field (List Edit)      --------------
  IF  @nRE78 IS NULL SET  @nRE78 = 0
  ELSE
   IF  @nRE78 < 0 SET  @nRE78 = 0                         -- Set the Floor
   ELSE
    IF  @nRE78 >1 SET  @nRE78 = 1                         -- Set the CAP
 
  ----- Define the variable 5 @nRE132   ( RE132 field (List Edit )    --------------
  IF @nRE132 IS NULL SET @nRE132 = 0
  ELSE
   IF @nRE132 < 0 SET @nRE132 = 0                          -- Set the Floor
   ELSE
    IF @nRE132 > 2 SET  @nRE132 = 2                        -- Set the CAP
   
   ----- Define the variable 6 @nGO16  ( GO16 field    ( List Edit  )  --------------
  IF @nGO16  IS NULL SET @nGO16  = 0
  ELSE
   IF @nGO16  < 0 SET @nGO16  = 0                           -- Set the Floor
   ELSE
    IF @nGO16  > 1 SET  @nGO16  = 1                         -- Set the CAP
  
 ----- Define the variable 7  @nBR81 ( BR81 field    (List Edit )      ---------------
  IF  @nBR81 IS NULL SET  @nBR81 = 0
  ELSE
   IF  @nBR81 < 0 SET  @nBR81 = 0                           -- Set the Floor
   ELSE
    IF @nBR81 > 2 SET @nBR81 = 2                            -- Set the CAP
  
 ----- Define the variable 8 @nBC14  ( BC14 field     (List Edit )     ----------------
   IF @nBC14  IS  NULL SET @nBC14 = 0                           -- Null trearment
  ELSE
   IF @nBC14 < 0 SET @nBC14 = 0                             -- Set the floor
   ELSE
    IF @nBC14 > 3 SET @nBC14 =3                             -- Set the CAP
  
   ----- Define the variable 9 @nRE155   (RE155 Field ListEdit ) ------------
   IF @nRE155 IS NULL  SET @nRE155 = 0         
  ELSE
   IF @nRE155 < 0 SET @nRE155 = 0                         -- Set the Floor
   ELSE
    IF @nRE155 > 100 SET  @nRE155 = 100

  ----- Define the variable 10 @nGO12 (GO12 Field (List Edit)    ------------
    IF @nGO12 IS NULL  SET @nGO12 = 0         
  ELSE
   IF @nGO12 < 0 SET @nGO12 = 0                         -- Set the Floor
   ELSE
    IF @nGO12 > 200 SET  @nGO12 = 200

  ----- Define the variable 11  @bitNewName                     ------------
   
  IF CONVERT (CHAR(20),@dRecentAcquisitionDate,112) = CONVERT (CHAR(20),@dIncrementalTOPPDate,112) SET @bitNewName = 1
  ELSE  SET @bitNewName = 0

  
  ----- Define the Variable 12 Times Mailed  ( History Table) --------

  SELECT @nNum_Mailed_3Mths_DM   = Num_Mailed_3Mths_DM,
         @nNum_Mailed_4_6Mths_DM = Num_Mailed_4_6Mths_DM,
         @nNum_Mailed_3Mths_TM   =  Num_Mailed_3Mths_TM,
         @nNum_Mailed_4_6Mths_TM =  Num_Mailed_4_6Mths_TM
  FROM HistoryStatistic
  WHERE ProspectID = @intProspectID

   
  SET @nRM6 =  ISNULL(@nNum_Mailed_3Mths_DM,0) + ISNULL (@nNum_Mailed_4_6Mths_DM,0)+  -- Transformation 1
               ISNULL(@nNum_Mailed_3Mths_TM,0) + ISNULL(@nNum_Mailed_4_6Mths_TM,0)
     
 
  IF @nRM6 > 3  SET @nRM6 =3                        -- Set the CAP
  
  -------------------------------------------------------------------

 SET @nTemp =  @nIntercept +
              (@nEmpirica * @nCoefficient1) +                 
              (@nBC33  * @nCoefficient2)+
              (@nGO04 * @nCoefficient3) + 
              (@nRE78 * @nCoefficient4) + 
              (@nRE132  * @nCoefficient5) +
              (@nGO16  * @nCoefficient6) +
              (@nBR81 * @nCoefficient7) + 
              (@nBC14 * @nCoefficient8) + 
              (@nRE155 * @nCoefficient9) +
              (@nGO12 * @nCoefficient10) +
              (@bitNewname * @nCoefficient11) +
              (@nRM6 * @nCoefficient12) 
    
  SET @nScore = ROUND (EXP (@nTemp)/(1+exp(@nTemp)),7)  -- Calculate the Score
  RETURN @nScore
   
END






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO





CREATE FUNCTION dbo.udf_COCalc_ListEditRiskModelScore (
                @intEmpirica INTEGER, @intRE94 INTEGER,@nGO80 INTEGER,
                @nCRP2_Score_AVG   NUMERIC (8,4),@nPR11 INTEGER,@dPR36 DateTime,
                @intGO14 INTEGER,@intRE155 INTEGER,@cGO118 CHAR(1),
                @nBC156 INT,@intProspectID INTEGER)
RETURNS NUMERIC (5,3)
AS 
-----------------------------------------------------------------------------------------
--Name : udf_COCalc_ListEditRiskModelScore
--Description : Function Calculates Model Score For ListEdit-Accept-Decline Model.
--              based on the formula provided by CAP1. 
--              3 tables - Prospect ,Source and HistoryStatistics 
--              are used for populating variables.
-- Input Parameters:   
-- Fields for calculation from Prospect ListEdit and ProspectID 
-- OUTPUT :    @nScore - Calculated Score
--Created by:        Anna Danielyan
--Created Date:      30/Mar/04
--Update History

------------------------------------------------------------------------------------------
BEGIN
  DECLARE @nIntercept             NUMERIC(7,4),
          @nCoefficient1          NUMERIC(6,4),
          @nCoefficient2          NUMERIC(5,4),
          @nCoefficient3          NUMERIC(5,4),
          @nCoefficient4          NUMERIC(5,4),
          @nCoefficient5          NUMERIC(5,4),
          @nCoefficient6          NUMERIC(5,4),
          @nCoefficient7          NUMERIC(5,4),
          @nCoefficient8          NUMERIC(5,4),
          @nCoefficient9          NUMERIC(5,4), 
          @nCoefficient10         NUMERIC(5,4),
          @nTemp                  NUMERIC (13,9),-------(12,8),
          @nScore                 NUMERIC(4,3),
          @nEmpirica              NUMERIC (13,9),---(10,7),
          @nRE94                  NUMERIC (5,4),
          @nGO14                  NUMERIC (5,4),
          @nRE155                 NUMERIC (5,4),
          @nGO118                 INT,
          @nPR36                  INT

  SET @nIntercept     = -108.3000
  SET @nCoefficient1  = 17.0782
  SET @nCoefficient2  = 1.0000
  SET @nCoefficient3  = -0.6170
  SET @nCoefficient4  = 1.0000
  SET @nCoefficient5  = -0.8164
  SET @nCoefficient6  = -0.8193
  SET @nCoefficient7  = 1.0000
  SET @nCoefficient8  = 1.0000
  SET @nCoefficient9  = -0.4930
  SET @nCoefficient10 = -0.4604

 
 
  -----  Define the variable 1 nEmpirica   (Empirica_10_pt_band field  (List-Edit) ---------------
  IF @intEmpirica IS NULL  OR @intEmpirica <=0 OR  @intEmpirica >=999 SET @intEmpirica = 615
  IF @intEmpirica < 465 SET @intEmpirica = 465       -- Set the Floor
  IF @intEmpirica > 785 SET @intEmpirica = 785       -- Set the CAP
  SET @nEmpirica = LOG (@intEmpirica)              -- Transformation 1        
  
  ----- Define the variable 2 nRE94   (RE94  field  (List_Edit) --------------
  IF @intRE94 IS NULL SET @intRE94 = 9999999
  IF @intRE94 < 0 SET @intRE94 = 0           -- Set the Floor
  IF @intRE94 < 127 SET @nRE94 = -1.705   -- -- Transformation  
  ELSE
   IF @intRE94 >=127 AND @intRE94 < 1001 SET @nRE94 = -1.4857
   ELSE
    IF @intRE94 >=1001 AND @intRE94 < 2292 SET @nRE94 = -1.1581
    ELSE
     IF @intRE94 >= 2292 AND @intRE94 < 6501 SET @nRE94 =-0.8931
     ELSE
      IF @intRE94 >= 6501 AND @intRE94 < 12484 SET @nRE94 = -0.5051
      ELSE
       IF @intRE94 >= 12484 AND @intRE94 < 20233 SET @nRE94 = -0.2833
       ELSE
        IF @intRE94 >= 20233 AND @intRE94 < 9999999 SET @nRE94 = 0
        ELSE
         IF @intRE94 =9999999 SET @nRE94 = -1.705
 
  ----- Define the variable 3 @nGO80  (GO80  (List_Edit) --------------
    
  IF @nGO80 IS NULL OR @nGO80 = 0 SET @nGO80  = 0
  ELSE SET @nGO80  = 1           -- Transformation
             

  ----- Define the variable 4   @nCRP2_Score_AVG ( @CRP2_Score_AVG  (DACD) --------------
    
  IF @nCRP2_Score_AVG IS NULL SET  @nCRP2_Score_AVG  = 0    -- Null treatment
  IF @nCRP2_Score_AVG < 635 SET @nCRP2_Score_AVG =-1.2241   -- Transformation
  ELSE
   IF @nCRP2_Score_AVG >= 635 AND @nCRP2_Score_AVG < 677 SET @nCRP2_Score_AVG = -1.0226
   ELSE
    IF @nCRP2_Score_AVG >= 677 AND @nCRP2_Score_AVG < 705 SET @nCRP2_Score_AVG = -0.575
    ELSE
     IF @nCRP2_Score_AVG >= 705 AND @nCRP2_Score_AVG < 747 SET @nCRP2_Score_AVG = -0.4684  
     ELSE
      IF @nCRP2_Score_AVG >=747 AND @nCRP2_Score_AVG < 770 SET @nCRP2_Score_AVG = -0.2693
      ELSE
       IF @nCRP2_Score_AVG >=770 AND @nCRP2_Score_AVG < 999 SET @nCRP2_Score_AVG = 0

  ----- Define the variable 5 @nPR11         (      PR11 (List-Edit)       ) ----------

  IF @nPR11 IS NULL SET @nPR11 = 0           -- Null treatment
  IF @nPR11 > 0 SET @nPR11 = 1               -- Transformation 1
  ELSE SET @nPR11 = 0    
       
   ----- Define the variable 6 @nPR36 (PR36 field (List-Edit) ) ------------------
  
  IF @dPR36  IS NULL SET @nPR36 = 0        -- Null treatment       The field is dateTime TYPE
  ELSE SET @nPR36 =1 
--  IF @dPR36 > 0 SET @nPR36 =1              -- Transformation
  --ELSE SET @nPR36 = 0  

  ----- Define the variable 7 @nGO14 (GO14 field (List-Edit) ) ------------------
  
  IF @intGO14  IS NULL  OR @intGO14 >= 999 SET @intGO14 = 0        -- Null treatment
  IF @intGO14 < 40  SET @nGO14 = -0.556                        -- Transformation
  ELSE 
   IF @intGO14 >= 40 AND @intGO14 < 189 SET @nGO14 = -0.3654
   ELSE
    IF @intGO14 >= 189 AND @intGO14 < 999 SET @nGO14 =0

  ----- Define the variable 8 @nRE155 (RE155 field (List-Edit) ) ------------------
  
  IF @intRE155  IS NULL SET @intRE155 = -1                  -- Null treatment
  ELSE
   IF @intRE155 < -1 SET @intRE155 = 0

  IF @intRE155 > 999  SET @intRE155 = 999                    --CAP
  IF @intRE155 > -1 AND @intRE155 < 39 SET @nRE155 = 0       -- Transformation
  ELSE 
   IF @intRE155 >=39 AND @intRE155 < 53 SET @nRE155 = -0.2537
   ELSE
    IF @intRE155 >= 53 AND @intRE155 < 69 SET @nRE155 = -0.4923
    ELSE
     IF @intRE155 >= 69 AND @intRE155 <= 999 SET @nRE155 = -1.0883
     ELSE 
      IF @intRE155 = -1 SET @nRE155 = -0.4923


   ----- Define the variable 9 @nGO118  ( GO118 field (List-Edit) ) ------------------
  
  IF @cGO118 IN ('1','2','3') SET @nGO118 = 0           -- Transformation
  ELSE SET @nGO118 = 1  


  ----- Define the variable 10 @nBC156 ( BC156 field (List-Edit) ) ------------------
  IF @nBC156 IS NULL SET @nBC156 = 0
  IF @nBC156 <= 3500 SET @nBC156 = 1           -- Transformation
  ELSE SET @nBC156 = 0 
    
  -------------------------------------------------------------------
 
 SET @nTemp = @nIntercept +
              (@nEmpirica * @nCoefficient1) + 
              (@nRE94 * @nCoefficient2)+
              (@nGO80 * @nCoefficient3) + 
              (@nCRP2_Score_AVG * @nCoefficient4) + 
              (@nPR11 * @nCoefficient5) +
              (@nPR36 * @nCoefficient6) + 
              (@nGO14 * @nCoefficient7) + 
              (@nRE155 * @nCoefficient8) + 
              (@nGO118 * @nCoefficient9) + 
              (@nBC156 * @nCoefficient10) 
    
  SET @nScore = ROUND (EXP (@nTemp)/(1+exp(@nTemp)),3)  -- Calculate the Score
  RETURN @nScore
  
  
   
END


















GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO




CREATE FUNCTION dbo.udf_COCalc_PoolResponseModelScore (
               @nRD_ALL_AGE_Recent_AVG     NUMERIC (8,4),
               @nBR_All_Age_Recent_AVG     NUMERIC (8,4),
               @nOP_TOT_UTL_AVG            NUMERIC (8,4),
               @nNum_INQ_24MO_AVG          NUMERIC (8,4),
               @nRT_OP_TOT_UTL_AVG         NUMERIC (8,4),
               @nRD_NUM_SAT_24MO_AVG       NUMERIC (8,4),
               @nPF_OP_TOT_UTL_AVG         NUMERIC(8,4),
               @nInv_NC_All_Age_Recent_AVG NUMERIC (14,9),
               @chvFName                   VARCHAR (30),
               @dRecentAcquisitionDate     DateTIME,
               @dIncrementalTOPPDate       DateTIME,
               @nBR_All_Age_Oldest_AVG     NUMERIC (8,4),
               @intNumberOfSources         INTEGER,
               @intProspectID              INTEGER)

RETURNS NUMERIC (8,7)
AS 
-----------------------------------------------------------------------------------------
--Name : udf_COCalc_PoolResponseModelScore
--Description : Function Calculates Model Score For Pool-Response-Decline Model.
--              based on the formula provided by CAP1. 
--              3 tables - Prospect Pool,Source and HistoryStatistics 
--              are used for populating variables.
-- Input Parameters:   
-- Fields for calculation from Prospect pool and ProspectID 
-- OUTPUT :    @nScore - Calculated Score
--Created by:        Anna Danielyan
--Created Date:      27/Mar/04
--Updated by : Anna Danielyan
--Date            : 02/May/2005
--Coefficients have been changed according  to Release 1.

------------------------------------------------------------------------------------------
BEGIN
  DECLARE @nIntercept      	  NUMERIC(8,7),
          @nCoefficient1          NUMERIC(8,7),
          @nCoefficient2          NUMERIC(8,7),
          @nCoefficient3          NUMERIC(8,7),
          @nCoefficient4          NUMERIC(8,7),
          @nCoefficient5          NUMERIC(8,7),
          @nCoefficient6          NUMERIC(8,7),
          @nCoefficient7          NUMERIC(8,7),
          @nCoefficient8          NUMERIC(8,7),
          @nCoefficient9          NUMERIC(8,7),
          @nCoefficient10         NUMERIC(8,7),
          @nCoefficient11         NUMERIC(8,7),
          @nCoefficient12         NUMERIC(8,7),
          @nNumLists              NUMERIC(8,4),
          @nBR_Age_Flag           BIT,
          @bitInitial             BIT,
          @bitNewName             BIT,
          @nNum_Mailed_3Mths_DM   INTEGER,
          @nNum_Mailed_4_6Mths_DM INTEGER,
          @nNum_Mailed_3Mths_TM   INTEGER,
          @nNum_Mailed_4_6Mths_TM INTEGER,
          @nRM6                    NUMERIC (8,4),
          @nTemp                   NUMERIC(13,9),
          @nScore                  NUMERIC(9,7)
 
  SET @nIntercept    = -4.8190000
  SET @nCoefficient1 = 0.0006350
  SET @nCoefficient2 = 0.0099100
  SET @nCoefficient3 = 0.1221000
  SET @nCoefficient4 = 0.0191000
  SET @nCoefficient5 = -0.1952000
  SET @nCoefficient6 = 0.0324000
  SET @nCoefficient7 = 0.1641000
  SET @nCoefficient8 = -0.3084000
  SET @nCoefficient9 = -0.4990000
  SET @nCoefficient10 = 0.4698000
  SET @nCoefficient11 = 0.1255000
  SET @nCoefficient12 = -0.1836000


  -----  Define the variable 1  @nRD_ALL_AGE_Recent_AVG     (DACD) ---------------
  IF  @nRD_ALL_AGE_Recent_AVG IS NULL SET @nRD_ALL_AGE_Recent_AVG = 88
  ELSE
  BEGIN
   IF  @nRD_ALL_AGE_Recent_AVG < 20 SET  @nRD_ALL_AGE_Recent_AVG = 20         -- Set the Floor
   ELSE
    IF  @nRD_ALL_AGE_Recent_AVG > 180 SET  @nRD_ALL_AGE_Recent_AVG = 180      -- Set the CAP
  END
  SET  @nRD_ALL_AGE_Recent_AVG = ROUND ( @nRD_ALL_AGE_Recent_AVG,0)           -- Transformation         
     
  ----- Define the variable 2  @nOP_TOT_UTL_AVG   (DACD) --------------
  IF  @nOP_TOT_UTL_AVG  IS NULL SET  @nOP_TOT_UTL_AVG  = 32
  ELSE
  BEGIN
   IF  @nOP_TOT_UTL_AVG  < 5 SET  @nOP_TOT_UTL_AVG = 5                         -- Set the Floor
   ELSE
    IF  @nOP_TOT_UTL_AVG  > 60 SET  @nOP_TOT_UTL_AVG  = 60                     -- Set the CAP
  END
  SET  @nOP_TOT_UTL_AVG  = ROUND ( @nOP_TOT_UTL_AVG,0)                         -- Transformation 

  ----- Define the variable 3  @nNum_INQ_24MO_AVG      (DACD) --------------
    
  IF  @nNum_INQ_24MO_AVG IS NULL SET  @nNum_INQ_24MO_AVG = 3
  ELSE
  BEGIN
   IF  @nNum_INQ_24MO_AVG < 1 SET  @nNum_INQ_24MO_AVG = 1                    -- Set the Floor
   ELSE
    IF  @nNum_INQ_24MO_AVG > 6 SET  @nNum_INQ_24MO_AVG = 6                    -- Set the CAP
  END
  SET @nNum_INQ_24MO_AVG    = ROUND ( @nNum_INQ_24MO_AVG,0)                 -- Transformation                           -- Transformation 1 

  ----- Define the variable 4  @nRT_OP_TOT_UTL_AVG   (DACD) --------------
    
  IF  @nRT_OP_TOT_UTL_AVG IS NULL SET  @nRT_OP_TOT_UTL_AVG = 8
  ELSE
  BEGIN
   IF  @nRT_OP_TOT_UTL_AVG < 0 SET  @nRT_OP_TOT_UTL_AVG = 0                  -- Set the Floor
   ELSE
    IF  @nRT_OP_TOT_UTL_AVG >11 SET  @nRT_OP_TOT_UTL_AVG = 11                 -- Set the CAP
  END
  SET  @nRT_OP_TOT_UTL_AVG = ROUND ( @nRT_OP_TOT_UTL_AVG ,0)                -- Transformation

  ----- Define the variable 5 @nRD_NUM_SAT_24MO_AVG ( DACD ) ----------

  IF @nRD_NUM_SAT_24MO_AVG IS NULL SET @nRD_NUM_SAT_24MO_AVG = 0
  ELSE
  BEGIN
   IF @nRD_NUM_SAT_24MO_AVG < 0 SET @nRD_NUM_SAT_24MO_AVG = 0                -- Set the Floor
   ELSE
    IF @nRD_NUM_SAT_24MO_AVG > 1 SET  @nRD_NUM_SAT_24MO_AVG = 1               -- Set the CAP
  END
  SET @nRD_NUM_SAT_24MO_AVG = ROUND (@nRD_NUM_SAT_24MO_AVG,0)               -- Transformation 
  
   ----- Define the variable 6 @nPF_OP_TOT_UTL_AVG ( DACD ) ----------

  IF @nPF_OP_TOT_UTL_AVG IS NULL SET @nPF_OP_TOT_UTL_AVG = 4
  ELSE
  BEGIN
   IF @nPF_OP_TOT_UTL_AVG < 1 SET @nPF_OP_TOT_UTL_AVG = 1                -- Set the Floor
   ELSE
    IF @nPF_OP_TOT_UTL_AVG > 8 SET  @nPF_OP_TOT_UTL_AVG = 8               -- Set the CAP
  END
  SET @nPF_OP_TOT_UTL_AVG = ROUND (@nPF_OP_TOT_UTL_AVG,0)               -- Transformation 

 ----- Define the variable 7  @nInv_NC_All_Age_Recent_AVG ( DACD ) ----------

  IF  @nInv_NC_All_Age_Recent_AVG IS NULL SET  @nInv_NC_All_Age_Recent_AVG = 51
  ELSE
  BEGIN
   IF  @nInv_NC_All_Age_Recent_AVG < 20 SET  @nInv_NC_All_Age_Recent_AVG = 20      -- Set the Floor
   ELSE
    IF  @nInv_NC_All_Age_Recent_AVG > 150 SET   @nInv_NC_All_Age_Recent_AVG =150    -- Set the CAP
  END
  SET  @nInv_NC_All_Age_Recent_AVG = 70/ROUND (@nInv_NC_All_Age_Recent_AVG,0)        

 ----- Define the variable 8 nNumLists  (Number of list Sources) ------------------
 /* SET @nNumLists = (SELECT COUNT(*) 
                    FROM dbo.Sources
                    WHERE ProspectId=@intProspectID)
*/
  SET @nNumLists = @intNumberOfSources

  IF @nNumLists  IS  NULL SET @nNumLists = 1        -- Null trearment
  ELSE
  BEGIN
   IF @nNumLists <1 SET @nNumLists = 1           -- Set the floor
   ELSE
    BEGIN
     IF @nNumLists >2 SET @nNumLists =2          -- Set the CAP
    END
  END

   ----- Define the variable 9 @chvFName  ProspectPool Field) ------------
 
  IF LEN (RTRIM(@chvFNAME)) = 1 SET @bitInitial = 1         
  ELSE
  SET @bitInitial = 0

  ----- Define the variable 10 @bitNewname   ---------

  IF (CONVERT (CHAR (20),@dRecentAcquisitionDate,112) = CONVERT (char(20),@dIncrementalTOPPDate,112)) SET @bitNewName = 1
  ELSE  SET @bitNewName = 0

  ----- Define variable 11  @nBR_Age_Flag     (DACD ) --------------------- 
  IF @nBR_All_Age_Oldest_AVG >= 120 SET @nBR_AGE_Flag = 0
  ELSE 
  BEGIN
   IF  (@nBR_All_Age_Oldest_AVG IS NULL) OR (@nBR_All_Age_Recent_AVG IS NULL) OR ((@nBR_All_Age_Oldest_AVG - @nBR_All_Age_Recent_AVG) < 60)
    SET @nBR_AGE_Flag = 1
   ELSE SET @nBR_AGE_Flag = 0
  END

  ----- Define the Variable 12 Times Mailed  ( History Table) --------

  SELECT @nNum_Mailed_3Mths_DM   = Num_Mailed_3Mths_DM,
         @nNum_Mailed_4_6Mths_DM = Num_Mailed_4_6Mths_DM,
         @nNum_Mailed_3Mths_TM   =  Num_Mailed_3Mths_TM,
         @nNum_Mailed_4_6Mths_TM =  Num_Mailed_4_6Mths_TM
  FROM HistoryStatistic
  WHERE ProspectId=@intProspectID
   
  SET @nRM6 =  ISNULL(@nNum_Mailed_3Mths_DM,0) + ISNULL (@nNum_Mailed_4_6Mths_DM,0)+  -- Transformation 1
               ISNULL(@nNum_Mailed_3Mths_TM,0) + ISNULL(@nNum_Mailed_4_6Mths_TM,0)
     
 
  IF @nRM6 > 3  SET @nRM6 =3                        -- Set the CAP
  
  -------------------------------------------------------------------
               
 SET @nTemp = @nIntercept +
              (@nRD_ALL_AGE_Recent_AVG * @nCoefficient1) +                 
              ( @nOP_TOT_UTL_AVG  * @nCoefficient2)+
              (@nNum_INQ_24MO_AVG * @nCoefficient3) + 
              (@nRT_OP_TOT_UTL_AVG * @nCoefficient4) + 
              (@nRD_NUM_SAT_24MO_AVG  * @nCoefficient5) +
              ( @nPF_OP_TOT_UTL_AVG  * @nCoefficient6) +
              ( @nInv_NC_All_Age_Recent_AVG * @nCoefficient7) + 
              (@nNumLists * @nCoefficient8) + 
              (@bitInitial * @nCoefficient9) +
              (@bitNewname * @nCoefficient10) +
              (@nBR_AGE_Flag * @nCoefficient11) +
              (@nRM6 * @nCoefficient12) 
    
  SET @nScore = ROUND (EXP (@nTemp)/(1+exp(@nTemp)),7)  -- Calculate the Score
  RETURN @nScore
   
END













GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO




CREATE FUNCTION dbo.udf_COCalc_PoolRiskModelScore (
               @nCrp2_SCORE_AVG NUMERIC (8,4), @nBNI NUMERIC (13,9),
               @nRE33 NUMERIC (22,9),@nRate_Max_AVG   NUMERIC (8,4),
               @nCrp2_Score_STD NUMERIC (8,4),@intNumberOfSources INTEGER,@intProspectID INTEGER)
RETURNS NUMERIC (4,3)
AS 
-----------------------------------------------------------------------------------------
--Name : udf_COCalc_PoolRiskModelScore
--Description : Function Calculates Model Score For Pool-Accept-Decline Model.
--              based on the formula provided by CAP1. 
--              3 tables - Prospect Pool,Source and HistoryStatistics 
--              are used for populating variables.
-- Input Parameters:   
-- Fields for calculation from Prospect pool and ProspectID 
-- OUTPUT :    @nScore - Calculated Score
--Created by:        Anna Danielyan
--Created Date:      26/Mar/04
--Update History

------------------------------------------------------------------------------------------
BEGIN
  DECLARE @nIntercept     NUMERIC(6,4),
          @nCoefficient1          NUMERIC(5,4),
          @nCoefficient2          NUMERIC(5,4),
          @nCoefficient3          NUMERIC(5,4),
          @nCoefficient4          NUMERIC(5,4),
          @nCoefficient5          NUMERIC(5,4),
          @nCoefficient6          NUMERIC(5,4),
          @nCoefficient7          NUMERIC(5,4),
          @nNumLists              NUMERIC(5,4),
          @nCrp                   NUMERIC (13,9),
           @nNum_Mailed_3Mths_DM   INTEGER,
          @nNum_Mailed_4_6Mths_DM INTEGER,
          @nNum_Mailed_3Mths_TM   INTEGER,
          @nNum_Mailed_4_6Mths_TM INTEGER,
          @nRM6                   NUMERIC (8,4),
          @nTemp                  NUMERIC(13,9),
          @nScore                 NUMERIC(4,3)
 
  SET @nIntercept = -45.1327
  SET @nCoefficient1 = 2.7802
  SET @nCoefficient2 = 3.6276
  SET @nCoefficient3 = 0.0158
  SET @nCoefficient4 = 1.0000
  SET @nCoefficient5 = 1.0000
  SET @nCoefficient6 = 1.0000
  SET @nCoefficient7 = 1.0000

  -----  Define the variable 1 CRP   (CRP2_SCORE_AVG  (DACD) ---------------

  IF @nCrp2_SCORE_AVG IS NULL SET @nCRP = 700
  ELSE
   BEGIN
    IF @nCrp2_SCORE_AVG < 500 SET @nCRP = 500       -- Set the Floor
    ELSE
     IF @nCrp2_SCORE_AVG > 900 SET @nCRP = 900      -- Set the CAP
    ELSE   SET @nCRP = @nCrp2_SCORE_AVG
   END
  SET @nCrp = LOG (@nCrp)              -- Transformation 1        
   
  ----- Define the variable 2 BNI   (CRP2_SCORE_AVG    (DACD) --------------
  IF @nBNI IS NULL SET @nBNI = 875
  ELSE
   BEGIN
    IF @nBNI < 500 SET @nBNI = 500         -- Set the Floor
    ELSE
     IF @nBNI > 950 SET @nBNI = 950         -- Set the CAP
   END
  SET @nBNI = LOG (@nBNI)                -- Transformation 1

  ----- Define the variable 3 RE33  (RE_OP_TOT_HC_AVG  (DACD) --------------
    
  IF @nRE33 IS NULL SET @nRE33  = 10000
  ELSE
   BEGIN
    IF @nRE33  < 0 SET @nRE33  = 0          -- Set the Floor
    ELSE
    IF @nRE33 > 25000 SET @nRE33  = 25000   -- Set the CAP
   END
  SET @nRE33  = SQRT (@nRE33 )            -- Transformation 1 

  ----- Define the variable 4 Rate_Max_AVG  (Rate_Max_AVG  (DACD) --------------
    
  IF @nRate_Max_AVG IS NULL SET @nRate_Max_AVG  = 9     -- Null treatment
  IF @nRate_Max_AVG < 1.5 SET @nRate_Max_AVG = 0.504   -- Transformation 1
  ELSE
  BEGIN
   IF (@nRate_Max_AVG >= 1.5 AND @nRate_Max_AVG < 2.5) SET @nRate_Max_AVG = 0.2993
   ELSE
   BEGIN
    IF (@nRate_Max_AVG >= 2.5 AND @nRate_Max_AVG < 3.5) SET @nRate_Max_AVG = 0.2012
    ELSE 
    BEGIN 
     IF @nRate_Max_AVG >= 3.5 SET @nRate_Max_AVG = 0
    END
   END
  END

  ----- Define the variable 5 @nCrp2_Score_STD (@nCrp2_Score_STD DACD ) ----------

  IF @nCrp2_Score_STD IS NULL SET @nCrp2_Score_STD = -1    -- Null treatment
  IF @nCrp2_Score_STD > 999 SET  @nCrp2_Score_STD = 999    -- Set the CAP
  IF @nCrp2_SCORE_AVG < 670 OR @nCrp2_SCORE_AVG IS NULL SET @nCrp2_Score_STD = -1                 -- Transformation 1
  ----------------------     Transformation 2     ------------------------------
  IF @nCrp2_Score_STD >=0 AND @nCrp2_Score_STD < 78 SET @nCrp2_Score_STD = 0.3097
  ELSE
  BEGIN
   IF @nCrp2_Score_STD >=78 AND @nCrp2_Score_STD < 92 SET @nCrp2_Score_STD = -0.1061
   ELSE
   BEGIN
    IF @nCrp2_Score_STD >=92 AND @nCrp2_Score_STD < = 999 SET @nCrp2_Score_STD = -0.2285
    ELSE
    BEGIN
     IF @nCrp2_Score_STD = -1 SET @nCrp2_Score_STD = 0
    END
   END
  END
   --------------------------------------------------------------------------------
      
   ----- Define the variable 6 nNumLists  (Number of list Sources) ------------------
/*  SET @nNumLists = (SELECT COUNT (*)
                                    FROM dbo.Sources
                                    WHERE ProspectId=@intProspectID) */
 

  IF ISNULL(@intNumberOfSources,0) <=1   SET @nNumLists=0        -- Transformation 1
  ELSE
  BEGIN
   IF @intNumberOfSources >1 SET @nNumLists = 0.6198
  END
  ----- Define the Variable 7 Times Mailed  ( History Table) --------

  SELECT @nNum_Mailed_3Mths_DM   = Num_Mailed_3Mths_DM,
         @nNum_Mailed_4_6Mths_DM = Num_Mailed_4_6Mths_DM,
         @nNum_Mailed_3Mths_TM   =  Num_Mailed_3Mths_TM,
         @nNum_Mailed_4_6Mths_TM =  Num_Mailed_4_6Mths_TM
  FROM HistoryStatistic
  WHERE ProspectId=@intProspectID

   
  SET @nRM6 =  ISNULL(@nNum_Mailed_3Mths_DM,0) + ISNULL (@nNum_Mailed_4_6Mths_DM,0)+  -- Transformation 1
               ISNULL(@nNum_Mailed_3Mths_TM,0) + ISNULL(@nNum_Mailed_4_6Mths_TM,0)
     
  IF @nRM6 > 9 SET @nRM6 = 9                    --Set the CAP
  IF @nRM6 <=1 SET @nRM6 = 0                    -- Transformation 2
  ELSE
    BEGIN
      IF @nRM6 >=2 AND @nRM6 <=3 SET @nRm6 = 0.4282   -- Transformation 2
      ELSE
      BEGIN
       IF @nRM6 >3 SET @nRM6=0.7279                    -- Transformation 2
      END
    END
    
  -------------------------------------------------------------------
  SET @nTemp = @nIntercept +
              (@nCrp * @nCoefficient1) + 
              (@nBNI * @nCoefficient2)+
              (@nRE33 * @nCoefficient3) + 
              (@nRate_Max_AVG * @nCoefficient4) + 
              (@nCRP2_Score_STD * @nCoefficient5) +
              (@nNumLists * @nCoefficient6) + 
              (@nRm6 * @nCoefficient7)
    
  SET @nScore = ROUND (EXP (@nTemp)/(1+exp(@nTemp)),3)  -- Calculate the Score
  RETURN @nScore
   
END





















GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION dbo.udf_COGetConditionDesc (@intRange1 INTEGER,@intRange2 INTEGER)
RETURNS VARCHAR (70)
--- Created by : Anna danielyan
--- date       : 30/JUL/04
-- Returns Description of Query condition for Models report
BEGIN
   DECLARE @cCondDesc  VARCHAR (70)
   SET @cCondDesc = ''
   IF @intRange1 IS NOT NULL AND @intRange2 IS NOT NULL
     SET @cCondDesc = '>= ' + CAST(@intRange1 AS VARCHAR (15)) + '  < ' + CAST (@intRange2 AS VARCHAR(15))
   ELSE 
    IF @intRange1 IS NULL AND @intRange2 IS NOT NULL
     SET @cCondDesc= ' < ' +CAST (@intRange2 AS VARCHAR (15)) + ' OR NULL '
    ELSE
     IF @intRange2 IS NULL AND @intRange1 IS NOT NULL
        SET @cCondDesc = '>= ' + CAST(@intRange1 AS VARCHAR (15))

RETURN @cCondDesc
END





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO





CREATE FUNCTION dbo.udf_COGetFileID (@intFileID smallint, @intCurrFileID smallint, @intProspectID int)
RETURNS int
AS
/**********************************************************************************************/
--  Name:	udf_COGetFileID
--  Description: 	Addition of new SourceFile table to the ProspectPool database.
--
--  Return Value:	0=Succeful	1=Failure
--  Parameters:	
--	INPUT					OUTPUT
--	-------------------------------			-----------------------------------------
--	
--
--  Created By: 		Maroof
--  Created Date:		04/28/2004
--
--  Update History:
-----------------------------------------------------------------------------------------------------------------------------
--	Updated By	Updated Date		Reason
------------------------------------------------------------------------------------------------------------------------------
--
--
/*********************************************************************************************/
BEGIN

DECLARE @NameLen		int

SET @NameLen = 0

-- CAH File
IF EXISTS (SELECT  s.FileID FROM  Sources s  with (index(Sources_PK))     
                   WHERE (s.FileID = 6 AND s.ProspectID = @intProspectID AND s.FileID= @intFileID) )

SELECT @NameLen =  ISNULL(LEN(LTRIM(RTRIM(FName)))  + LEN(LTRIM(RTRIM(MName))) + LEN(LTRIM(RTRIM(LName))),0)
   FROM  dbo.CAH i  with (index(IX_CAH_ProspectID))    
WHERE i.ProspectID = @intProspectID
       AND (BusinessNameFlag		= 0
    --   AND  FNameInitialOnly		= 0
       AND  AttentionNameFlag		= 0
       AND  DeadnameFlag		= 0
       AND  EstateNameFlag		= 0
       AND  ChildNameFlag		= 0
       AND  MissingFNameFlag		= 0
       AND  LName1LetterFlag		= 0
       AND  LNameBlankMisFlag		= 0)

-- ICOM File
IF EXISTS (SELECT  s.FileID FROM  Sources s  with (index(Sources_PK))     
                   WHERE (s.FileID = 3 AND s.ProspectID = @intProspectID AND s.FileID= @intFileID) )
SELECT @NameLen =  ISNULL(LEN(LTRIM(RTRIM(FName)))  + LEN(LTRIM(RTRIM(MName))) + LEN(LTRIM(RTRIM(LName))),0)
   FROM  dbo.ICOM i  with (index(IX_ICOM_ProspectID))    
WHERE i.ProspectID = @intProspectID
       AND (BusinessNameFlag		= 0
   --    AND  FNameInitialOnly		= 0
       AND  AttentionNameFlag		= 0
       AND  DeadnameFlag		= 0
       AND  EstateNameFlag		= 0
       AND  ChildNameFlag		= 0
       AND  MissingFNameFlag		= 0
       AND  LName1LetterFlag		= 0
       AND  LNameBlankMisFlag		= 0)

-- InfoDirect File
IF EXISTS (SELECT  s.FileID FROM  Sources s  with (index(Sources_PK))     
                   WHERE (s.FileID = 1 AND s.ProspectID = @intProspectID AND s.FileID= @intFileID) )
SELECT @NameLen =  ISNULL(LEN(LTRIM(RTRIM(FName)))  + LEN(LTRIM(RTRIM(MName))) + LEN(LTRIM(RTRIM(LName))),0)
   FROM  dbo.InfoDirect i  --with (index(IX_InfoDirect_ProspectID))    
WHERE i.ProspectID = @intProspectID
       AND (BusinessNameFlag		= 0
   --    AND  FNameInitialOnly		= 0
       AND  AttentionNameFlag		= 0
       AND  DeadnameFlag		= 0
       AND  EstateNameFlag		= 0
       AND  ChildNameFlag		= 0
       AND  MissingFNameFlag		= 0
       AND  LName1LetterFlag		= 0
       AND  LNameBlankMisFlag		= 0)

-- UniverseCanada File
IF EXISTS (SELECT  s.FileID FROM  Sources s  with (index(Sources_PK))     
                   WHERE (s.FileID = 2 AND s.ProspectID = @intProspectID AND s.FileID= @intFileID) )
SELECT @NameLen =  ISNULL(LEN(LTRIM(RTRIM(FName)))  + LEN(LTRIM(RTRIM(MName))) + LEN(LTRIM(RTRIM(LName))),0)
   FROM  dbo.UniverseCanada i  with (index(IX_UniverseCanada_ProspectID))    
WHERE i.ProspectID = @intProspectID
       AND (BusinessNameFlag		= 0
    --   AND  FNameInitialOnly		= 0
       AND  AttentionNameFlag		= 0
       AND  DeadnameFlag		= 0
       AND  EstateNameFlag		= 0
       AND  ChildNameFlag		= 0
       AND  MissingFNameFlag		= 0
       AND  LName1LetterFlag		= 0
       AND  LNameBlankMisFlag		= 0)

-- PrevDeclined File
IF EXISTS (SELECT  s.FileID FROM  Sources s  with (index(Sources_PK))     
                   WHERE (s.FileID = 30 AND s.ProspectID = @intProspectID AND s.FileID= @intFileID) )
SELECT @NameLen =  ISNULL(LEN(LTRIM(RTRIM(FName)))  + LEN(LTRIM(RTRIM(MName))) + LEN(LTRIM(RTRIM(LName))),0)
   FROM  dbo.PrevDeclined i  with (index(IX_PrevDeclined_ProspectID))    
WHERE i.ProspectID = @intProspectID
       AND (BusinessNameFlag		= 0
    --   AND  FNameInitialOnly		= 0
       AND  AttentionNameFlag		= 0
       AND  DeadnameFlag		= 0
       AND  EstateNameFlag		= 0
       AND  ChildNameFlag		= 0
       AND  MissingFNameFlag		= 0
       AND  LName1LetterFlag		= 0
       AND  LNameBlankMisFlag		= 0)

-- ClosedAccounts File
IF EXISTS (SELECT  s.FileID FROM  Sources s  with (index(Sources_PK))     
                   WHERE (s.FileID = 31 AND s.ProspectID = @intProspectID AND s.FileID= @intFileID) )
SELECT @NameLen =  ISNULL(LEN(LTRIM(RTRIM(FName)))  + LEN(LTRIM(RTRIM(MName))) + LEN(LTRIM(RTRIM(LName))),0)
   FROM  dbo.ClosedAccounts i  with (index(IX_PrevDeclined_ProspectID))    
WHERE i.ProspectID = @intProspectID
       AND (BusinessNameFlag		= 0
    --   AND  FNameInitialOnly		= 0
       AND  AttentionNameFlag		= 0
       AND  DeadnameFlag		= 0
       AND  EstateNameFlag		= 0
       AND  ChildNameFlag		= 0
       AND  MissingFNameFlag		= 0
       AND  LName1LetterFlag		= 0
       AND  LNameBlankMisFlag		= 0)

-- ChargedOffAccounts File
IF EXISTS (SELECT  s.FileID FROM  Sources s  with (index(Sources_PK))     
                   WHERE (s.FileID = 32 AND s.ProspectID = @intProspectID AND s.FileID= @intFileID) )
SELECT @NameLen =  ISNULL(LEN(LTRIM(RTRIM(FName)))  + LEN(LTRIM(RTRIM(MName))) + LEN(LTRIM(RTRIM(LName))),0)
   FROM  dbo.ChargedOffAccounts i  with (index(IX_PrevDeclined_ProspectID))    
WHERE i.ProspectID = @intProspectID
       AND (BusinessNameFlag		= 0
    --   AND  FNameInitialOnly		= 0
       AND  AttentionNameFlag		= 0
       AND  DeadnameFlag		= 0
       AND  EstateNameFlag		= 0
       AND  ChildNameFlag		= 0
       AND  MissingFNameFlag		= 0
       AND  LName1LetterFlag		= 0
       AND  LNameBlankMisFlag		= 0)

-- VerticalList File
IF EXISTS (SELECT  s.FileID FROM  Sources s  with (index(Sources_PK))     
                   WHERE (s.FileID = 33 AND s.ProspectID = @intProspectID AND s.FileID= @intFileID) )
SELECT @NameLen =  ISNULL(LEN(LTRIM(RTRIM(FName)))  + LEN(LTRIM(RTRIM(MName))) + LEN(LTRIM(RTRIM(LName))),0)
   FROM  dbo.VerticalList i  with (index(IX_VerticalList_ProspectID))    
WHERE i.ProspectID = @intProspectID
       AND (BusinessNameFlag		= 0
    --   AND  FNameInitialOnly		= 0
       AND  AttentionNameFlag		= 0
       AND  DeadnameFlag		= 0
       AND  EstateNameFlag		= 0
       AND  ChildNameFlag		= 0
       AND  MissingFNameFlag		= 0
       AND  LName1LetterFlag		= 0
       AND  LNameBlankMisFlag		= 0)

-- AOLCanada File
IF EXISTS (SELECT  s.FileID FROM  Sources s  with (index(Sources_PK))     
                   WHERE (s.FileID = 5 AND s.ProspectID = @intProspectID AND s.FileID= @intFileID) )
SELECT @NameLen =  ISNULL(LEN(LTRIM(RTRIM(FName)))  + LEN(LTRIM(RTRIM(MName))) + LEN(LTRIM(RTRIM(LName))),0)
   FROM  dbo.VerticalList i  with (index(IX_VerticalList_ProspectID))    
WHERE i.ProspectID = @intProspectID
       AND (BusinessNameFlag		= 0
    --   AND  FNameInitialOnly		= 0
       AND  AttentionNameFlag		= 0
       AND  DeadnameFlag		= 0
       AND  EstateNameFlag		= 0
       AND  ChildNameFlag		= 0
       AND  MissingFNameFlag		= 0
       AND  LName1LetterFlag		= 0
       AND  LNameBlankMisFlag		= 0)

RETURN @NameLen
END
















GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO



CREATE function udf_COGetIncrementalToPPDate (@intProspectID INT,
                                              @IncrementaltoPPdate DateTime)
RETURNS DateTime
BEGIN
 DECLARE @returnDate DateTime
 SELECT @ReturnDate = IncrementaltoPPDate
        FROM StageDB.dbo.AnalysisOnlyProspects
        WHERE Prospectid=@intProspectID
 RETURN ISNULL(@ReturnDaTe,@IncrementaltoPPDate)
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO





CREATE FUNCTION dbo.udf_COGetProspectFileID (@intProspectID int)
RETURNS int
AS
/**********************************************************************************************/
--  Name:	udf_COGetProspectFileID
--  Description: 	Addition of new SourceFile table to the ProspectPool database.
--
--  Return Value:	0=Succeful	1=Failure
--  Parameters:	
--	INPUT					OUTPUT
--	-------------------------------			-----------------------------------------
--	
--
--  Created By: 		Maroof
--  Created Date:		03/05/2004
--
--  Update History:
-----------------------------------------------------------------------------------------------------------------------------
--	Updated By	Updated Date		Reason
------------------------------------------------------------------------------------------------------------------------------
--
--
/*********************************************************************************************/
BEGIN
DECLARE @intFileID smallint
IF EXISTS (SELECT 0 FROM dbo.Sources WHERE FileID =1 AND ProspectID =@intProspectID)
--IF EXISTS (SELECT 0 FROM InfoDirect WHERE ProspectID =@intProspectID)
	SET @intFileID = 1
IF EXISTS (SELECT 0 FROM dbo.Sources WHERE FileID =6 AND ProspectID =@intProspectID)
--IF EXISTS (SELECT 0 FROM CAH         WHERE ProspectID =@intProspectID)
	SET @intFileID = 6
IF EXISTS (SELECT 0 FROM dbo.Sources WHERE FileID =3 AND ProspectID =@intProspectID)
--IF EXISTS (SELECT 0 FROM ICOM       WHERE ProspectID =@intProspectID)
	SET @intFileID = 3
RETURN @intFileID
END








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION dbo.udf_COGetProspectSuppressedInfo (@intProspectID INT)
RETURNS CHAR(2)
AS
/*
  Function checks if ProspectId exists in Suppression Table.
  Created by: Anna Danielyan
  Date      : May/12/2004
  Input :  ProspectId
  Returns : .T - prospect suppressed.
            .F.- Prospect didn't suppressed
*/
BEGIN
  DECLARE @intProspectQTY INT,@ReturnCode CHAR (2)
  SET @ReturnCode ='.F'
  SELECT @intProspectQTY=count (*)
       FROM dbo.Suppressions
       WHERE ProspectId=@intProspectID
  IF  @intProspectQTY >0 SET @ReturnCode = '.T'
  RETURN @ReturnCode
END







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE function dbo.udf_COGetTotalForUniqueCombination (@intRiskModel INT,@intResponseModel INT,@intRiskDecile INT,@intResponseDecile INT) 
RETURNS INT
/*
  Author: Anna Danielyan
  Date   :28/AUG/04
  Function calculates the total for group of records:
     - without TUPIN (case 1)using Equifax Classification ID
     - with TUPIN (case 2)
*/
BEGIN
DECLARE @intTotal INT

                      SELECT  @intTotal =  COUNT(*) 
                       FROM ModelScores AS M1, ModelScores AS M2,StageDB.dbo.Groups AS GR
                       WHERE    M1.ProspectID=M2.ProspectID
                                       AND  (M1.ModelID = @intRiskModel AND M1.Deciles = @intRiskDecile)            -- pool RiskModelID
                                       AND (M2.Modelid = @intResponseModel AND M2.Deciles = @intResponseDecile)
                                       AND M1.prospectID = GR.ProspectId
                      OPTION (Maxdop 1)

 RETURN @intTotal    
END







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE function dbo.udf_COGetTotalForUniqueCombination_PreviousDeclines (@Sol_Drop_Date DATETIME,@intMonth SMALLINT) 
RETURNS INT
/*
  Author : Anna Danielyan
  Date   :28/AUG/04
  FUNCTION Calculates the Total for Previous Declines Group of records 
*/
BEGIN
 DECLARE @intTotal INT 
  SELECT  @intTotal = COUNT(*)
                  FROM FinalProspect AS F,StageDB.dbo.Groups AS GR
                  WHERE  F.ProspectID = GR.ProspectID
		  AND DATEDIFF(MM,convert (CHAR(20),Final_Decision_Date,112),convert(CHAR(20),@Sol_drop_date,112))=@intMonth
                 OPTION (MAXDOP 1) 
RETURN @intTotal
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO



create function udf_COSourceExists (@intFileID INT,@chvTUPIN CHAR (10))
RETURNS BIT
AS
BEGIN
DECLARE @returnCode  BIT

IF EXISTS (SELECT prospectid  FROM Sources S
           WHERE  s.FileId = @intFileID and s.ProspectId IN (SELECT ProspectID FROM Prospect
                                                             WHERE TUPIN =@chvTUPIN))
   SET @returnCode =1
ELSE 
   SET @returnCode =0


RETURN @returnCode
END




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO



create function udf_COSuppressionExists (@intFileID INT,@chvTUPIN CHAR (10))
RETURNS BIT
AS
BEGIN
DECLARE @returnCode  BIT

IF EXISTS (SELECT prospectid  FROM Suppressions S
           WHERE  s.FileId = @intFileID and s.ProspectId IN (SELECT ProspectID FROM Prospect
                                                             WHERE TUPIN =@chvTUPIN))
   SET @returnCode =1
ELSE 
   SET @returnCode =0


RETURN @returnCode
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION dbo.udf_COUniqueCombination_SegmentationReport (@chvGroupID VARCHAR(5),@intRiskModel TINYINT,@intResponseModel TINYINT,@intRiskDecile TINYINT ,@intResponseDecile TINYINT,@intProdCell SMALLINT,@intTestCell SMALLINT) 
RETURNS INTEGER
/*
   Created by Anna Danielyan
   Date      : 21/Oct/04
   The function returns total number of prospects within the specific population group,
   Prodcell,testCell for the specific unique combination of Risk and response deciles.
   The function works for Segmentation report.
*/
BEGIN
DECLARE @intTotal INT
IF (@intRiskDecile IS NOT NULL AND @intResponseDecile IS NOT NULL)

    SELECT @intTotal = COUNT(*) 
    FROM ModelScores AS M1, ModelScores AS M2,StageDB.dbo.Groups AS GR
    WHERE  M1.ProspectID = M2.ProspectID
      AND (M1.ModelID   = @intRiskModel AND M1.Deciles = @intRiskDecile)            -- pool RiskModelID
      AND (M2.Modelid   = @intResponseModel AND M2.Deciles = @intResponseDecile)
      AND M1.ProspectID=  Gr.ProspectID
     OPTION (Maxdop 1)
                   
ELSE
    SET @intTotal = (SELECT COUNT(*) 
                     FROM StageDB.dbo.Groups
                   )
 RETURN @intTotal    
END










GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE function dbo.udf_COUniqueCombination_SegmentationReport_PreviousDeclines(@Sol_Drop_Date DATETIME,@intMonth1 SMALLINT,@intMonth2 smallint)
RETURNS INT
/*
  Author : Anna Danielyan
  Date   :28/AUG/04
  FUNCTION Calculates the Total for Precious Declines Group of records 
*/
BEGIN
 DECLARE @intTotal INT 
 SELECT  @intTotal =  COUNT(*)
                  FROM Finalprospect AS F,StageDB.dbo.Groups AS GR
                  WHERE F.ProspectID = GR.ProspectID
		  AND DATEDIFF(MM,convert (CHAR(20),Final_Decision_Date,112),convert(CHAR(20),@Sol_drop_date,112)) BETWEEN @intmonth1 AND @intmonth2 
                  OPTION (Maxdop 1)
                            
RETURN @intTotal
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE FUNCTION udf_CoCheckDigit(@InputNum varchar(15)) 
RETURNS int
AS
BEGIN
        declare @StartPos int
        declare @Product tinyint
        declare @SumOfProducts tinyint
        declare @Result int

        set @StartPos = len(@InputNum)
        set @Product=0        
        set @SumOfProducts=0
        
        
        while @StartPos > 0
        begin
                --FOR Weight 2
                set @Product = substring(@InputNum,@StartPos , 1) * 2
                if (len(@Product)= 1)
                        set @SumOfProducts = @SumOfProducts + @Product
                else
                        set @SumOfProducts = @SumOfProducts + left(@Product,1) + right(@Product,1)      
                
                --FOR Weight 1                
                set @StartPos= @StartPos - 1
                
                set @SumOfProducts = @SumOfProducts + substring(@InputNum,@StartPos, 1) 
                
                set @StartPos = @StartPos - 1  
        end

        if (10 - right(@SumOfProducts, 1)=10)
                set @Result=0
        else
                set @Result = 10 - right(@SumOfProducts, 1)

        return @Result
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO



CREATE FUNCTION udf_CoFormatAddress (@InAddr VARCHAR(60)) 
RETURNS VARCHAR (60)
AS
BEGIN
        WHILE CHARINDEX ('  ', @InAddr, 1) <> 0
        BEGIN
                SET @InAddr=REPLACE(@InAddr , '  ', ' ')        
               
        END
        RETURN LTRIM(RTRIM(@InAddr))
END




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO



CREATE FUNCTION udf_CoGetAddrPart (@InAddr VARCHAR(60), @AddrPart TINYINT=1 ) 
RETURNS VARCHAR (30)
AS
BEGIN
        DECLARE  @Result VARCHAR(30)
       
        -- 31 lenght is used to cover case when @FrmtAddr> 30 but 31 character is ' ' 
        IF (LEN (@InAddr) <= 30) 
                   IF(@AddrPart=2)
                        SET @Result=''        
                   ELSE                                     
                        SET @Result=@InAddr  
        ELSE
                   IF(@AddrPart=2)
                        SET @Result = SUBSTRING (@InAddr, 31 - (CHARINDEX (' ',REVERSE(LEFT(@InAddr, 31)))-2), 30)
                   ELSE
                        SET @Result = LEFT (@InAddr, 31 - CHARINDEX (' ',REVERSE(LEFT(@InAddr, 31))))
        
        RETURN     @Result
      
END





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION dbo.udf_GetMaxSource (@ProspectId int)
           
RETURNS smallint
AS 
-----------------------------------------------------------------------------------------
--Name : udf_GetMaxSource
--Description : Function returns the optimal address file source ID
-- Input Parameters:   ProspectId 
-- OUTPUT :   Address File ID
--Created by:        Ludmil Manassiev
--Created Date:      26/07/2004
--Update History

------------------------------------------------------------------------------------------

BEGIN
	Declare @maxFileId smallint
  
	select top 1 @maxFileId =  A.fileid from 
		(select fileid from sources where prospectid=@ProspectId) A 
		inner join FileType B on A.fileid=B.fileid 
		order by B.Priority asc
  
  RETURN @maxFileId
   
END




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION dbo.udf_GetRelatedNameSource (@ProspectId int)
           
RETURNS smallint
AS 
-----------------------------------------------------------------------------------------
--Name : udf_GetMaxSource
--Description : Function returns the correspomding name file source ID
-- Input Parameters:   ProspectId
-- Output: Name Source ID
--Created by:        Ludmil Manassiev
--Created Date:      17/09/2004
--Update History

------------------------------------------------------------------------------------------

BEGIN
	Declare @nameFileId smallint
  
	select @nameFileId = addrsourcefile from Prospect where prospectid=@ProspectId
		
  RETURN @nameFileId
   
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



-----------------------------------------------------------------------------------------
--Name		: udf_NameAccessCode
--Description	: Generate 4-digit Name Access Code for Name based on first name and last name
-- 		  Mapping the first character of First Name, first and second characters of 
--			Last Name according to the standard given by Capital One
--
-- Input	:  @FName-- First Name,  @LName-- Last Name
--
-- Functions used: None
--
-- OUTPUT	:  Name Access Code -- 4-digit number or "NONE"-- Invalid Name
--
--Created by	:  Linda Liu
--
--Created Date	:  22/June/05


------------------------------------------------------------------------------------------


-- Name Access Code

CREATE FUNCTION dbo.udf_NameAccessCode (
	@FName varchar(100),
	@LName varchar(100)
)

RETURNS VARCHAR(4)
AS 
BEGIN
	declare @FirstCharFName char
	declare	@FirstCharLName char
	declare	@SecondCharLName char

	declare @FirstNameCode char
	declare @LastNameCode1 char
	declare @LastNameCode2 char(2)

--Get the charachters from FirstName and LastName

	select @FirstCharFName=(select (UPPER(LEFT(LTRIM(@FName),1))))
	select @FirstCharLName=(select (UPPER(LEFT(LTRIM(@LName),1))))
	select @SecondCharLName=(select (UPPER(SUBSTRING(LTRIM(@LName),2,1))))

-- If the first character of the First Name or the first character of the Last Name is non-letter
---- character, then 4-digit name is invalid, return "NONE"

	IF (ASCII(@FirstCharFName)<ASCII('A') or ASCII(@FirstCharFName)>ASCII('Z'))
		RETURN 'NONE' -- 'NONE' means invalid name
	
	IF (ASCII(@FirstCharLName)<ASCII('A') or ASCII(@FirstCharLName)>ASCII('Z'))
		RETURN 'NONE' -- 'NONE' means invalid name

--Map the first character of the First Name

	select	@FirstNameCode=(select((ASCII(@FirstCharFName)-ASCII('A')+1)%10))

--Map the first character of the LAST Name

	select	@LastNameCode1=(select((ASCII(@FirstCharLName)-ASCII('A')+1)%10))

--Map the second character of the LAST Name

	IF (ASCII(@SecondCharLName)>=ASCII('A') AND ASCII(@SecondCharLName)<=ASCII('Z'))
	begin
	select	@LastNameCode2=(select(ASCII(@SecondCharLName)-ASCII('A')+1))
		IF ((select LEN(@LastNameCode2))=1)
			select @LastNameCode2='0'+@LastNameCode2
	END
	ELSE 
	select	@LastNameCode2='27'
		
RETURN @FirstNameCode+@LastNameCode1+@LastNameCode2
   
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



-----------------------------------------------------------------------------------------
--Name		: udf_PostalCodeAccessCode
--
--Description	: Generate 10-digit Access Code for Postal Code based on algorithm given
--
-- Input	:  @PostalCode-- 7 alpha numeric characters Postal Code
--
-- Functions used: None
--
-- OUTPUT	:  Postal Code Access Code -- 10-digit number
--
--Created by	:  Linda Liu
--
--Created Date	:  22/June/05


------------------------------------------------------------------------------------------


-- Postal Code Access Code

CREATE FUNCTION dbo.udf_PostalCodeAccessCode (
	@PostalCode varchar(7)
)

RETURNS VARCHAR(5)
AS 
BEGIN
	declare @FirstChar char
	declare	@SecondChar char
	declare	@ThirdChar char
	declare	@ForthChar char
	declare	@FifthChar char
	declare	@SixthChar char
	declare	@SeventhChar char

	declare @FirstCode char(2)
	declare	@SecondCode char
	declare	@ThirdCode char(2)
	declare	@ForthCode char
	declare	@FifthCode char
	declare	@SixthCode char(2)
	declare	@SeventhCode char
	
	declare @PostalAccessCode char(10)
	declare @FinalCode char(5) 

--Get the Characters from Postal Code

	select @FirstChar=(select (UPPER(LEFT(LTRIM(@PostalCode),1))))
	select @SecondChar=(select (UPPER(SUBSTRING(LTRIM(@PostalCode),2,1)))) 
	select @ThirdChar =(select (UPPER(SUBSTRING(LTRIM(@PostalCode),3,1))))
	select @ForthChar =(select (UPPER(SUBSTRING(LTRIM(@PostalCode),4,1))))
	select @FifthChar =(select (UPPER(SUBSTRING(LTRIM(@PostalCode),5,1))))
	select @SixthChar =(select (UPPER(SUBSTRING(LTRIM(@PostalCode),6,1))))
	select @SeventhChar=(select (UPPER(SUBSTRING(LTRIM(@PostalCode),7,1))))

-- Check the Postal Code is Canadian or not, if not, then return "NONPC"
	
	IF (ASCII(@FirstChar)<ASCII('A') or ASCII(@FirstChar)>ASCII('Z'))
	RETURN 'NONPC'

	IF (CAST(@SecondChar AS INT) <0 or CAST(@SecondChar AS INT)>9)
	RETURN 'NONPC'

	IF (ASCII(@ThirdChar)<ASCII('A') or ASCII(@ThirdChar)>ASCII('Z'))
	RETURN 'NONPC'

	IF (@ForthChar<>'  ')
	RETURN 'NONPC'

	IF (CAST(@FifthChar AS INT)<0 or CAST(@FifthChar AS INT)>9)
	RETURN 'NONPC'

	IF (ASCII(@SixthChar)<ASCII('A') or ASCII(@SixthChar)>ASCII('Z'))
	RETURN 'NONPC'

	IF (CAST(@SeventhChar AS INT)<0 or CAST(@SeventhChar AS INT)>9)
	RETURN 'NONPC'


--Map the First Access Code 

	select	@FirstCode=(select(ASCII(@FirstChar)-ASCII('A')+1))
	IF ((select LEN(@FirstCode))=1)
		select @FirstCode='0'+@FirstCode

--Map the Second Access Code 
	select	@SecondCode=(select @SecondChar)

--Map the Third Access Code 

	select	@ThirdCode=(select(ASCII(@ThirdChar)-ASCII('A')+1))
	IF ((select LEN(@ThirdCode))=1)
		select @ThirdCode='0'+@ThirdCode

--Map the Forth Access Code 
	select	@ForthCode='0'

--Map the Fifth Access Code 
	select	@FifthCode=(select @FifthChar)

--Map the Sixth Access Code 
	select	@SixthCode=(select(ASCII(@SixthChar)-ASCII('A')+1))
	IF ((select LEN(@SixthCode))=1)
		select @SixthCode='0'+@SixthCode
	
--Map the Seventh Access Code 
	select	@SeventhCode=(select @SeventhChar)
	

	select 	@PostalAccessCode=rtrim(ltrim( @FirstCode+@SecondCode+@ThirdCode+@ForthCode+@FifthCode+@SixthCode+@SeventhCode))

-- The numbers within this string are added in pairs with module 10 to get a 5-digit number
	

		select	@FinalCode = (select( cast((cast(substring(@PostalAccessCode,1,1) as int)+cast(substring(@PostalAccessCode,2,1) as int))%10 as char(1))+
				 cast((cast(substring(@PostalAccessCode,3,1) as int)+cast(substring(@PostalAccessCode,4,1) as int))%10 as char(1))+
				cast((cast(substring(@PostalAccessCode,5,1) as int)+cast(substring(@PostalAccessCode,6,1) as int))%10 as char(1))+
				 cast((cast(substring(@PostalAccessCode,7,1) as int)+cast(substring(@PostalAccessCode,8,1) as int))%10 as char(1))+
				 cast((cast(substring(@PostalAccessCode,9,1) as int)+cast(substring(@PostalAccessCode,10,1) as int))%10 as char(1))))


	RETURN @FinalCode

   
END

















































GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

