if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodesQC_CivicNumber]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodesQC_CivicNumber]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodesQC_GeneralDelivery]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodesQC_GeneralDelivery]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodesQC_MainAddressLine]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodesQC_MainAddressLine]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodesQC_POBox]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodesQC_POBox]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodesQC_RuralRoute]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodesQC_RuralRoute]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodesQC_StreetName]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodesQC_StreetName]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodesQC_SuiteNumber]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodesQC_SuiteNumber]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCInvalidAddr]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCInvalidAddr]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCOutOfDate]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCOutOfDate]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressPOBox]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressPOBox]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressPostStName]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressPostStName]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressPostStQualifier]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressPostStQualifier]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressPostStType]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressPostStType]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressRouteSrvClass]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressRouteSrvClass]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressRouteSrvNumber]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressRouteSrvNumber]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressStreetDirection]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressStreetDirection]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressStreetName]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressStreetName]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressStreetNo]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressStreetNo]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressStreetSuffix]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressStreetSuffix]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressStreetType]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressStreetType]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_QCParseAddressSuiteNo]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_QCParseAddressSuiteNo]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_RAT]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_RAT]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE Function CreateMatchCodesQC_CivicNumber(@QCAddress varchar(257)) 
returns char(10)
AS
BEGIN

declare @CivicNumber char(10);
declare @MatchCodeCivicNumber char(10);
declare @Char char(1);
declare @mIsRecordAddressAccurate bit;


IF (SUBSTRING(@QCAddress,94,1) NOT IN ('N','O'))  AND (SUBSTRING(@QCAddress,93,1) IN ('1','2')) 
	SELECT @mIsRecordAddressAccurate = 1
    ELSE
	SELECT @mIsRecordAddressAccurate = 0

declare @i int; select @i = 1;
select @MatchCodeCivicNumber = ''; 


IF (@mIsRecordAddressAccurate = 1) 
    SELECT @CivicNumber = RTRIM(SUBSTRING(@QCAddress,162,6))


WHILE @i <= len(@CivicNumber) 
BEGIN
	SELECT @Char = substring(@CivicNumber,@i,1)
	IF (@Char NOT between 'A' and 'Z')
		SELECT @MatchCodeCivicNumber = RTRIM(@MatchCodeCivicNumber)+@Char
	SELECT @i = @i+1
END

IF CHARINDEX('-',@MatchCodeCivicNumber,1) > 0 BEGIN
	IF CHARINDEX(RTRIM(LTRIM(@MatchCodeCivicNumber)),(SUBSTRING(@QCAddress,1,45)),1) > 0 
	BEGIN
		 IF dbo.CreateMatchCodes_CheckForPrairieAddress(@MatchCodeCivicNumber,(SUBSTRING(@QCAddress,1,45))) > 0
		    SELECT @MatchCodeCivicNumber = SUBSTRING(@MatchCodeCivicNumber,dbo.udf_RAT('-',@MatchCodeCivicNumber,1)+1,len(@MatchCodeCivicNumber))
		ELSE
		   SELECT @MatchCodeCivicNumber = SUBSTRING(@MatchCodeCivicNumber,CHARINDEX('-',@MatchCodeCivicNumber,1)-1,len(@MatchCodeCivicNumber))
	END
		
END

IF CHARINDEX('/',@MatchCodeCivicNumber,1) > 0
	SELECT @MatchCodeCivicNumber = substring(@MatchCodeCivicNumber,1,CHARINDEX('/',@MatchCodeCivicNumber,1)-2)


RETURN(@MatchCodeCivicNumber)

END














GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE      function CreateMatchCodesQC_GeneralDelivery(@QCAddress varchar(257))
returns char(2)
as

BEGIN
declare @mGeneralDeliveryMatchCode char(15); select @mGeneralDeliveryMatchCode = '';
declare @mIsRecordAddressAccurate bit;
declare @mrealstreet varchar(100);



/* PREVIOUS CODE
if ((substring(@Status,1,1)<>'N') and (CHARINDEX('-AL', @Status, 1)=0))
	select @mIsRecordAddressAccurate = 1
else
	select @mIsRecordAddressAccurate = 0
select @mGeneralDeliveryMatchCode = ''
declare @mrealstreet varchar(100)
if @mIsRecordAddressAccurate = 1 BEGIN
	if substring(@mParsedAddress,1,1) = '5'
		select @mGeneralDeliveryMatchCode = 'GD'
	else
		select @mGeneralDeliveryMatchCode = ''
END
ELSE BEGIN
	if (rtrim(ltrim(@mAdress1)) <> '') and (charindex('GDN',@mAdress1) = 0) BEGIN
		select @mrealstreet = dbo.CreateMatchCodes_FixStreetType(@mAdress1)
		if (substring(@mrealstreet,1,2) = 'GD') or (charindex(' GD',@mrealstreet,1)>0) 
			select @mGeneralDeliveryMatchCode = 'GD'
	END
	if (rtrim(ltrim(@mAdress2)) <> '') and (charindex('GDN',@mAdress2) = 0) BEGIN
		select @mrealstreet = dbo.CreateMatchCodes_FixStreetType(@mAdress2)
		if (substring(@mrealstreet,1,2) = 'GD') or (charindex(' GD',@mrealstreet,1)>0) 
			select @mGeneralDeliveryMatchCode = 'GD'
	END
END
return(@mGeneralDeliveryMatchCode)
END
*/

IF (SUBSTRING(@QCAddress,94,1) NOT IN ('N','O'))  
	SELECT @mIsRecordAddressAccurate = 1
ELSE
	SELECT @mIsRecordAddressAccurate = 0


IF @mIsRecordAddressAccurate = 1
BEGIN
	IF SUBSTRING(@QCAddress,161,1) = '5'
		select @mGeneralDeliveryMatchCode = 'GD'
	else
		select @mGeneralDeliveryMatchCode = ''
END
ELSE
	BEGIN
		IF (rtrim(ltrim(@QCAddress)) <> '') and (CHARINDEX('GDN',@QCAddress) = 0) BEGIN
		     select @mrealstreet = dbo.CreateMatchCodes_FixStreetType(SUBSTRING(@QCAddress,1,45))
		IF (substring(@mrealstreet,1,2) = 'GD') or (charindex(' GD',@mrealstreet,1)>0) 
		    select @mGeneralDeliveryMatchCode = 'GD'
	END
END
return(@mGeneralDeliveryMatchCode)
END











GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE       function CreateMatchCodesQC_MainAddressLine(@QCAddress varchar(257)) 
returns char(15)

AS

BEGIN

/* PREVIOUS FUNCTION CODE / SS

declare @M_GENERAL char(15)
declare @mPrimaryAddress char(100)
declare @CaseDone bit

select @CaseDone = 0
declare @mIsRecordAddressAccurate bit
if ((substring(@Status,1,1)<>'N') and (CHARINDEX('-AL', @Status, 1)=0))
	select @mIsRecordAddressAccurate = 1
else
	select @mIsRecordAddressAccurate = 0

--if @Address2 is emty but @Address1 is not use @Address1 
if (ltrim(rtrim(@Address2))='') and (ltrim(rtrim(@Address1))<>'')BEGIN
	select @mPrimaryAddress = @Address1
	select @CaseDone = 1
END

--If address is accurate and parsed address type 1 or 2 take address1 or 2 depending on 6 characters from eight position in parsed address 
if (@CaseDone = 0) and (@mIsRecordAddressAccurate=1) and (substring(@ParsedAddress,1,1) in ('1','2'))BEGIN
	if ltrim(rtrim(substring(@Address1,1,len(ltrim(rtrim(substring(@ParsedAddress,8,6))))))) = 
				ltrim(rtrim(substring(@ParsedAddress,8,6)))
		select @mPrimaryAddress = ltrim(@Address1)
	else
		select @mPrimaryAddress = ltrim(@Address2)
	select @CaseDone = 1
END

--If Street Number is not empty, check if it’s part of address1 and if it is use address1 otherwise use address2
if (@CaseDone = 0) and (rtrim(ltrim(@CivicNumber)) <> '') BEGIN
	if CHARINDEX(rtrim(ltrim(@CivicNumber)),ltrim(rtrim(@Address1)), 1) >  0
		select @mPrimaryAddress = ltrim(@Address1)
	else
		select @mPrimaryAddress = ltrim(@Address2)
	select @CaseDone = 1
END

--If address is accurate and parsed address is not empty address is concatenation of two parts of parsed address 
if (@CaseDone = 0) and (@mIsRecordAddressAccurate = 1) and (rtrim(ltrim(@ParsedAddress)) <> '') BEGIN
	select @mPrimaryAddress = rtrim(ltrim(substring(@ParsedAddress,2,7)))+rtrim(ltrim(substring(@ParsedAddress,9,6)))
	select @CaseDone = 1
END

-- if address1 is empty but address2 is not use address2
if (@CaseDone = 0) and (rtrim(ltrim(@Address1)) = '') and (rtrim(ltrim(@Address2)) <> '') BEGIN
	select @mPrimaryAddress = ltrim(@Address2)
	select @CaseDone = 1
END

-- if address2 and address1 are empty return empty string 
if (@CaseDone = 0) and (rtrim(ltrim(@Address1)) + rtrim(ltrim(@Address2)) = '') BEGIN
	select @mPrimaryAddress = ''
	select @CaseDone = 1
END

-- if none of above 
if (@CaseDone = 0) BEGIN
	select @mPrimaryAddress = ltrim(@Address1)
	select @CaseDone = 1	
END

if rtrim(ltrim(@mPrimaryAddress)) <> '' BEGIN
	select @mPrimaryAddress = dbo.CreateMatchCodes_FixStreetType(@mPrimaryAddress)
	select @mPrimaryAddress = dbo.CreateMatchCodes_GetCleanStreet(@mPrimaryAddress)
END

*/

DECLARE @M_GENERAL char(15);
DECLARE @mPrimaryAddress char(100); 

SELECT @mPrimaryAddress = SUBSTRING(@QCAddress,1,45);

-- Remove APT (to achieve the same result as SS logic)
IF CHARINDEX ('-',@mPrimaryAddress)>0
	BEGIN
		SELECT @mPrimaryAddress = SUBSTRING(@mPrimaryAddress,CHARINDEX ('-',@mPrimaryAddress)+1,45);
	END

SELECT @mPrimaryAddress = dbo.CreateMatchCodes_FixStreetType(@mPrimaryAddress);
SELECT @mPrimaryAddress = dbo.CreateMatchCodes_GetCleanStreet(@mPrimaryAddress);

SELECT @M_GENERAL = @mPrimaryAddress;
RETURN(@M_GENERAL)
END
















GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE      function CreateMatchCodesQC_POBox(@QCAddress varchar(257)) 
returns char(8)
as
BEGIN

declare @mPoBoxMatchCode char(15); select @mPoBoxMatchCode = ''
declare @mrealstreet varchar(100);

/* PREVIOUS CODE
IF ((substring(@Status,1,1)<>'N') and (CHARINDEX('-AL', @Status, 1)=0))  AND (substring(@mParsedAddress,1,1) = '3') 
BEGIN
    select @mPoBoxMatchcode = replace(rtrim(ltrim(substring(@mParsedAddress ,2,7)))+ltrim(rtrim(substring(@mParsedAddress ,9,6))),'O','')
    select @mPoBoxMatchcode = replace(rtrim(ltrim(@mPoBoxMatchcode)),' ','')
END
ELSE 
BEGIN
    IF (rtrim(ltrim(@mAddress1)) <> '') BEGIN
        select @mrealstreet = dbo.CreateMatchCodes_FixStreetType(@mAddress1)
        IF (charindex('BOX',@mrealstreet,1) > 0) OR (charindex('BX',@mrealstreet,1)>0) OR (charindex('CP',@mrealstreet,1)>0) 
            select @mPoBoxMatchcode = dbo.CreateMatchCodes_CheckForPOBOX(@mrealstreet)
    END

    IF (rtrim(ltrim(@mAddress2)) <> '') BEGIN
        select @mrealstreet = dbo.CreateMatchCodes_FixStreetType(@mAddress2)
        IF (charindex('BOX',@mrealstreet,1) > 0) OR (charindex('BX',@mrealstreet,1)>0) OR (charindex('CP',@mrealstreet,1)>0) 
            select @mPoBoxMatchcode = dbo.CreateMatchCodes_CheckForPOBOX(@mrealstreet)
    END
END
return(@mPoBoxMatchCode)
END
*/


IF (SUBSTRING(@QCAddress,94,1) NOT IN ('N','O'))  AND (substring(@QCAddress,161,1) = '3') 
BEGIN
    select @mPoBoxMatchcode = 'PBX'+SUBSTRING(@QCAddress,215,5)
    select @mPoBoxMatchcode = replace(rtrim(ltrim(@mPoBoxMatchcode)),' ','')
END
ELSE 
BEGIN
     select @mrealstreet = dbo.CreateMatchCodes_FixStreetType(SUBSTRING(@QCAddress,1,45))
        IF (charindex('BOX',@mrealstreet,1) > 0) OR (charindex('BX',@mrealstreet,1)>0) OR (charindex('CP',@mrealstreet,1)>0) 
            SELECT @mPoBoxMatchcode = dbo.CreateMatchCodes_CheckForPOBOX(@mrealstreet)
END
RETURN(@mPoBoxMatchCode)
END












GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE    function CreateMatchCodesQC_RuralRoute(@QCAddress varchar(257)) 
returns char(5)
as
BEGIN
declare @mRuralRouteMatchCode char(15); select @mRuralRouteMatchCode = ''
declare @mrealstreet varchar(100);

/* PREVIOUS CODE
IF (substring(@Status,1,1)<>'N') and (CHARINDEX('-AL', @Status, 1)=0) 
BEGIN
        if substring(@mParsedAddress,1,1) = '4'
            select @mRuralRouteMatchcode = rtrim(ltrim(substring(@mParsedAddress ,2,7)))+rtrim(ltrim(substring(@mParsedAddress ,9,6)))
        if substring(@mParsedAddress,1,1) = '2'
            select @mRuralRouteMatchcode = rtrim(ltrim(substring(@mParsedAddress ,53,2)))+rtrim(ltrim(substring(@mParsedAddress ,56,4)))
END
ELSE 
BEGIN
    IF rtrim(ltrim(@mAddress1)) <> '' 
    BEGIN
        select @mrealstreet = dbo.CreateMatchCodes_FixStreetType(@mAddress1)
        IF (substring(rtrim(ltrim(@mrealstreet)),1,2)='RR') OR (charindex(' RR',@mrealstreet,1)>0) OR 
                (substring(@mrealstreet,1,2)='SS') OR (charindex(' SS',@mrealstreet,1)>0)
            select @mRuralRouteMatchcode = dbo.CreateMatchCodes_CheckForRuralRoute(@mrealstreet)
    END
    IF rtrim(ltrim(@mAddress2)) <> '' 
    BEGIN
        select @mrealstreet = dbo.CreateMatchCodes_FixStreetType(@mAddress2)
        IF (substring(rtrim(ltrim(@mrealstreet)),1,2)='RR') OR (charindex(' RR',@mrealstreet,1)>0) OR 
                (substring(@mrealstreet,1,2)='SS') OR (charindex(' SS',@mrealstreet,1)>0)
            select @mRuralRouteMatchcode = dbo.CreateMatchCodes_CheckForRuralRoute(@mrealstreet)
    END
END
*/



IF (SUBSTRING(@QCAddress,94,1) IN ('W','D'))  AND (substring(@QCAddress,161,1) IN ('6','7','8')) 
BEGIN
        IF SUBSTRING(@QCAddress,161,1) = '6'
            SELECT @mRuralRouteMatchcode = 'RR'+SUBSTRING(@QCAddress,223,3)
        IF SUBSTRING(@QCAddress,161,1) = '7'
            SELECT @mRuralRouteMatchcode = 'MR'+SUBSTRING(@QCAddress,223,3)
        IF SUBSTRING(@QCAddress,161,1) = '8'
            SELECT @mRuralRouteMatchcode = 'SS'+SUBSTRING(@QCAddress,223,3)

        IF SUBSTRING(@QCAddress,231,2) = 'RR'
            SELECT @mRuralRouteMatchcode = SUBSTRING(@QCAddress,231,5)

END
ELSE 
BEGIN

    BEGIN
        SELECT @mrealstreet = dbo.CreateMatchCodes_FixStreetType(SUBSTRING(@QCAddress,1,45))
        IF (substring(rtrim(ltrim(@mrealstreet)),1,2)='RR') OR (charindex(' RR',@mrealstreet,1)>0) OR 
                (substring(@mrealstreet,1,2)='SS') OR (charindex(' SS',@mrealstreet,1)>0)
            SELECT @mRuralRouteMatchcode = dbo.CreateMatchCodes_CheckForRuralRoute(@mrealstreet)
    END

END

return(@mRuralRouteMatchCode)
END















GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE      function CreateMatchCodesQC_StreetName(@QCAddress varchar(257)) 
returns char(15)
AS

/* PREVOIUS COD
declare @mStreetNameMatchCode char(15)
if (substring(@Status,1,1)<>'N') and (CHARINDEX('-AL', @Status, 1)=0) and (substring(@mParsedAddress,1,1) in ('1','2'))
	select @mStreetNameMatchCode = dbo.CreateMatchCodes_GetCleanStreet(rtrim(ltrim(substring(@mParsedAddress,15,30))))
else
	select @mStreetNameMatchCode = dbo.CreateMatchCodes_GetCleanStreet(@mGlobalStreetName)
return(@mStreetNameMatchCode)
END
*/



BEGIN
DECLARE @mStreetNameMatchCode char(15);


IF (SUBSTRING(@QCAddress,94,1) NOT IN ('N','O'))  AND (SUBSTRING(@QCAddress,93,1) IN ('1','2')) 
	SELECT @mStreetNameMatchCode = dbo.CreateMatchCodes_GetCleanStreet(RTRIM(LTRIM(SUBSTRING(@QCAddress,177,30))))
ELSE
	SELECT @mStreetNameMatchCode = dbo.CreateMatchCodes_GetCleanStreet(SUBSTRING(@QCAddress,1,45))

RETURN(@mStreetNameMatchCode)
END
















GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE      function CreateMatchCodesQC_SuiteNumber(@QCAddress varchar(257))
RETURNS char(8)

AS
BEGIN
declare @M_SuiteNumber char(8)
declare @mAptNum char(8); select @mAptNum = ''

declare @mNumberOfAddressLines int; select @mNumberOfAddressLines = 0
declare @mScanForApartmentAddressArrayX  varchar(100); select @mScanForApartmentAddressArrayX = ''
declare @i int; select @i = 2
declare @Continue bit; select @Continue = 0
declare @DONE bit; select @DONE = 0

IF (SUBSTRING(@QCAddress,94,1) NOT IN ('N','O'))  AND (SUBSTRING(@QCAddress,93,1) IN ('1','2')) 
    SELECT @mAptNum = LTRIM(RTRIM(SUBSTRING(@QCAddress,171,6)))
ELSE 
BEGIN
    IF LEN(SUBSTRING(@QCAddress,1,45))=0
	select @i = 0
    IF @i > 0 
    BEGIN
			select @DONE = 0
			select @mScanForApartmentAddressArrayX = SUBSTRING(@QCAddress,1,45)

			
			IF rtrim(ltrim(@mScanForApartmentAddressArrayX)) <> '' -- MAIN IF
			BEGIN   

					if ((substring(@mScanForApartmentAddressArrayX,1,3)='PH ') OR (CHARINDEX(' PH ',@mScanForApartmentAddressArrayX,1)>0)) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, 'PH ')
						select @DONE = 1
					END
					if ((substring(@mScanForApartmentAddressArrayX,1,4)='APT ') OR (charindex(' APT ',@mScanForApartmentAddressArrayX,1)>0)) AND (@DONE = 0) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, 'APT ')
						select @DONE = 1
  					END
					if ((substring(@mScanForApartmentAddressArrayX,1,6)='SUITE ') OR (charindex(' SUITE  ',@mScanForApartmentAddressArrayX,1)>0)) AND (@DONE = 0) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, 'SUITE ')
						select @DONE = 1
					END
					if ((substring(@mScanForApartmentAddressArrayX,1,5)='UNIT ') OR (charindex(' UNIT ',@mScanForApartmentAddressArrayX,1)>0)) AND (@DONE = 0) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, 'UNIT ')
						select @DONE = 1
					END
					if ((substring(@mScanForApartmentAddressArrayX,1,1)='#') OR (charindex(' #',@mScanForApartmentAddressArrayX,1)>0)) AND (charindex('HWY',@mScanForApartmentAddressArrayX,1)=0) AND (@DONE = 0) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, '#')
						select @DONE = 1
					END
					
					if ((substring(@mScanForApartmentAddressArrayX,1,7)='TWNHSE ') OR (charindex(' TWNHSE ',@mScanForApartmentAddressArrayX,1)>0)) AND ((@DONE = 0) or (@Continue=1)) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, 'TWNHSE ')
						select @DONE = 1
					END
	                
					if ((substring(@mScanForApartmentAddressArrayX,1,5)='ROOM ') OR (charindex(' ROOM ',@mScanForApartmentAddressArrayX,1)>1)) AND (@Done = 0) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, 'ROOM ')
						select @DONE = 1
					END
					if ((substring(@mScanForApartmentAddressArrayX,1,4)='APP ') OR (charindex(' APP ',@mScanForApartmentAddressArrayX,1)>0)) AND (@Done = 0) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, 'APP ')
						select @DONE = 1
					END
					
					if ((substring(@mScanForApartmentAddressArrayX,1,4)='FLR ') OR (charindex(' FLR ',@mScanForApartmentAddressArrayX,1)>0)) AND (@Done = 0) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, 'FLR ')
						select @DONE = 1
					END
					
					if ((substring(@mScanForApartmentAddressArrayX,1,6)='FLOOR ') OR (charindex(' FLOOR ',@mScanForApartmentAddressArrayX,1)>0)) AND (@Done = 0) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, 'FLOOR ')
						select @DONE = 1
					END
					if ((substring(@mScanForApartmentAddressArrayX,1,7)='BUREAU ') OR (charindex(' BUREAU ',@mScanForApartmentAddressArrayX,1)>0)) AND (@Done = 0) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, 'BUREAU ')
						select @DONE = 1
					END
					if ((substring(@mScanForApartmentAddressArrayX,1,4)='LOT ') OR (charindex(' LOT  ',@mScanForApartmentAddressArrayX,1)>0)) AND (@Done = 0) 
					BEGIN
						select @mAptNum = dbo.CreateMatchCodes_GetAptNumber(@mScanForApartmentAddressArrayX, 'LOT ')
						select @DONE = 1
					END
					if (substring(@mScanForApartmentAddressArrayX,1,3) = 'UPR') AND (@Done = 0) 
					BEGIN
						select @mAptNum = 'UPR'
						select @DONE = 1
					END
					if (charindex('LWR',@mScanForApartmentAddressArrayX,1)>0) AND (@Done = 0) 
					BEGIN
						select @mAptNum = 'LWR'
						select @DONE = 1
					END
					if (charindex('BSMT',@mScanForApartmentAddressArrayX,1)>0) AND (@Done = 0) 
					BEGIN
						select @mAptNum = 'BSMT'
					END
			END --END OF MAIN IF
		
    END   

END

SELECT @mAptNum = replace(ltrim(rtrim(@mAptNum)),' ','')
RETURN(@mAptNum)
END













GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCodes

CREATE FUNCTION udf_QCInvalidAddr(@varStatus char(1))
RETURNS int AS  
BEGIN 
	-- SS LOGIC
	-- RETURN(CASE SUBSTRING (@varStatus,1,1) WHEN 'N' THEN 1 ELSE 0 END)

	-- QCode logic
	RETURN(CASE @varStatus WHEN 'N' THEN 1 WHEN 'O' THEN 1  ELSE 0 END)    
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE FUNCTION udf_QCOutOfDate()  

RETURNS CHAR(1)

AS  
BEGIN 


DECLARE @QCOld as CHAR(1); SELECT @QCOld='Y';      --Y = OutOfDate/Old, N = UpToDate
DECLARE @retStr as varchar(500)
DECLARE @quality as smallint
DECLARE @found_code as char(6)
DECLARE @count as smallint

EXEC master.dbo.xp_qcodebase '2200 YONGE ST','TORONTO','ON','M4S2C6', @retStr output, @found_code output, @count output, @quality output


select @QCOld = 
	CASE (@count)
		when NULL then 'Y'
		when -5 then 'Y'
		else 'N'
	END


RETURN(@QCOld)

END






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode

CREATE function udf_QCParseAddressPOBox(@Address_Field VARCHAR(257))
returns varchar(6)
as
BEGIN
declare @POBox CHAR(6)
select @POBox = 
	case SUBSTRING (@Address_Field,161,1)
		when '3' then SUBSTRING  (@Address_Field,215,6)
		else ''
	end
return @POBox
END








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode


CREATE function udf_QCParseAddressPostStName(@Address_Field VARCHAR(257))
returns varchar(30)
as
BEGIN
declare @PostStName CHAR(30)

IF SUBSTRING (@Address_Field,161,1) IN ('3','5','6','7','8') AND SUBSTRING (@Address_Field,94,1) IN ('W','D')
	BEGIN	
		SELECT  @PostStName =SUBSTRING (@Address_Field,177,30)
	END
ELSE
	BEGIN
		SELECT  @PostStName = ''
	END

RETURN @PostStName
END





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


/*
create function udf_COParseAddressPostStQualifier(@Address_Field VARCHAR(64))
returns varchar(15)
as
BEGIN
declare @PostStQualifier CHAR(15)
select @PostStQualifier = 
	case SUBSTRING (@Address_Field,1,1)
		when '3' then SUBSTRING  (@Address_Field,50,15)
		when '4' then SUBSTRING  (@Address_Field,50,15)
		when '5' then SUBSTRING  (@Address_Field,50,15)
		else ''
	end
return @PostStQualifier
END

*/


-- QCode based
CREATE function udf_QCParseAddressPostStQualifier(@Address_Field VARCHAR(257))
returns varchar(15)
as
BEGIN

DECLARE @PostStQualifier CHAR(15); SELECT @PostStQualifier = '';

IF SUBSTRING (@Address_Field,161,1) IN ('3','5','6','7','8') AND SUBSTRING (@Address_Field,94,1) IN ('W','D')
	BEGIN
		IF CHARINDEX('STN',SUBSTRING(@Address_Field,177,30),1) > 0	 select @PostStQualifier = 'STN'
		IF CHARINDEX('RPO',SUBSTRING(@Address_Field,177,30),1) > 0 select @PostStQualifier = 'RPO'
		IF CHARINDEX('MAIN',SUBSTRING(@Address_Field,177,30),1) > 0 select @PostStQualifier = 'MAIN'
	END
      ELSE
	BEGIN
		SELECT @PostStQualifier = ''
	END

RETURN @PostStQualifier
END














GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode

CREATE function udf_QCParseAddressPostStType(@Address_Field VARCHAR(257))
returns varchar(5)
as
BEGIN
declare @PostStType CHAR(5)

IF SUBSTRING (@Address_Field,161,1) IN ('3','5','6','7','8') AND SUBSTRING (@Address_Field,94,1) IN ('W','D')
	BEGIN	
		SELECT  @PostStType =SUBSTRING (@Address_Field,207,5)
	END
ELSE
	BEGIN
		SELECT  @PostStType = ''
	END

RETURN @PostStType
END








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE function udf_QCParseAddressRouteSrvClass(@Address_Field VARCHAR(257))
returns varchar(2)
as
BEGIN
declare @RouteSrvClass CHAR(2)
select @RouteSrvClass = 
	case SUBSTRING (@Address_Field,161,1)
		when '6' then 'RR'
		when '7' then 'MR'
		when '8' then 'SS'
		else ''
	end
return @RouteSrvClass
END





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode


CREATE function udf_QCParseAddressRouteSrvNumber(@Address_Field VARCHAR(257))
returns varchar(8)
as
BEGIN
declare @RouteSrvNumber CHAR(8)
select @RouteSrvNumber = 
	case SUBSTRING (@Address_Field,161,1)
		when '6' then SUBSTRING (@Address_Field,223,8)
		when '7' then SUBSTRING (@Address_Field,223,8)
		when '8' then SUBSTRING (@Address_Field,223,8)
		else ''
	end
return @RouteSrvNumber
END







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode

CREATE function udf_QCParseAddressStreetDirection(@Address_Field VARCHAR(257))
returns varchar(2)
as
BEGIN
declare @Direction CHAR(2)
select @Direction = 
	case SUBSTRING (@Address_Field,94,1)
		when 'V' then SUBSTRING (@Address_Field,213,2)
		when 'C' then SUBSTRING (@Address_Field,213,2)
		else ''
	end
return @Direction
END








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode

CREATE function udf_QCParseAddressStreetName(@Address_Field VARCHAR(257))
returns varchar(30)
as
BEGIN
DECLARE @Name CHAR(30)


-- DO NOT USE N OR O - THE STREET NAME IS NOT GOOD FOR THOSE

select @Name = 
	case SUBSTRING (@Address_Field,94,1)
		when 'V' then SUBSTRING (@Address_Field,177,30)
		when 'C' then SUBSTRING (@Address_Field,177,30)
		when 'W' then SUBSTRING (@Address_Field,177,30)
		when 'D' then SUBSTRING (@Address_Field,177,30)
		else ''

	end

RETURN @Name
END










GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode


CREATE function udf_QCParseAddressStreetNo(@Address_Field VARCHAR(257))
returns varchar(6)
as
BEGIN
DECLARE @StreetNo CHAR(6)


select @StreetNo = 
	case SUBSTRING (@Address_Field,94,1)
		when 'V' then SUBSTRING (@Address_Field,162,6)
		when 'C' then SUBSTRING (@Address_Field,162,6)
		when 'N' then SUBSTRING (@Address_Field,162,6)
		when 'W' then SUBSTRING (@Address_Field,162,6)
		when 'D' then SUBSTRING (@Address_Field,162,6)
		when 'O' then SUBSTRING (@Address_Field,162,6)
		else ''
	end

RETURN LTRIM(@StreetNo)
END











GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode


CREATE function udf_QCParseAddressStreetSuffix(@Address_Field VARCHAR(257))
returns varchar(3)
as
BEGIN
declare @Suffix CHAR(1)
select @Suffix = 
	case SUBSTRING (@Address_Field,94,1)
		when 'V' then SUBSTRING (@Address_Field,168,3)
		when 'C' then SUBSTRING (@Address_Field,168,3)
		else ''
	end
return @Suffix
END





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode


CREATE function udf_QCParseAddressStreetType(@Address_Field VARCHAR(257))
returns varchar(6)
as
BEGIN
declare @Type CHAR(6)
select @Type = 
	case SUBSTRING (@Address_Field,94,1)
		when 'V' then SUBSTRING (@Address_Field,207,6)
		when 'C' then SUBSTRING (@Address_Field,207,6)
		else ''
	end
return @Type
END








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode


CREATE function udf_QCParseAddressSuiteNo(@Address_Field VARCHAR(257))
returns varchar(6)
as
BEGIN
declare @Suite_Num VARCHAR(6)
select @Suite_Num = 
	case SUBSTRING (@Address_Field,94,1)
		when 'V' then SUBSTRING (@Address_Field,171,6)
		when 'C' then SUBSTRING (@Address_Field,171,6)
		else ''
	end
return @Suite_Num
END











GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE     function udf_RAT(@SearchSTR char(20),@InString varchar(100),@StartPos int = 0) 
returns int
as
BEGIN
/* Returns the beginning numeric position of the first occurrence of a @SearchSTR in
@InString. Return zero if no occurrences. Emulation of FoxPro RAT function*/

declare @FromPos int
declare @LastFound int
declare @LastValidPos int

select @StartPos = isnull(@StartPos,0)
select @FromPos = @StartPos
if @FromPos = 0
	select @FromPos = 1
select @LastValidPos = 0
select @LastFound = charindex(rtrim(@SearchSTR),@InString,@FromPos)
while @LastFound > 0 BEGIN
	select @LastValidPos = @LastFound
	select @FromPos = @LastFound+1
	select @LastFound = charindex(rtrim(@SearchSTR),@InString,@FromPos)
END
--print @LastValidPos
return(@LastValidPos)
END




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

