if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[QCode_GetAddressInfo]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[QCode_GetAddressInfo]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[QCode_GetPostal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[QCode_GetPostal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetAddr12UsageIndicator]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetAddr12UsageIndicator]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetAddr12UsageIndicatorLocal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetAddr12UsageIndicatorLocal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetCity]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetCity]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetCityLocal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetCityLocal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetCount]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetCount]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetCountLocal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetCountLocal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetFoundPostalCode]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetFoundPostalCode]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetFoundPostalCodeLocal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetFoundPostalCodeLocal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetLargeUrbanRuralFlag]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetLargeUrbanRuralFlag]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetLargeUrbanRuralFlagLocal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetLargeUrbanRuralFlagLocal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetParsedAddress]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetParsedAddress]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetParsedAddressLocal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetParsedAddressLocal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetProvince]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetProvince]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetProvinceLocal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetProvinceLocal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetQualityFlags]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetQualityFlags]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetQualityFlagsLocal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetQualityFlagsLocal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetShortCity]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetShortCity]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetShortCityLocal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetShortCityLocal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetTotal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetTotal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetValidityFlag]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetValidityFlag]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetValidityFlagLocal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetValidityFlagLocal]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE FUNCTION QCode_GetAddressInfo (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS char(500)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as smallint
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
	
	-- CRAHS THE FUCNTION IF QC DAT FILE OUT OF DATE
	IF (@count IS NULL) OR (@count<0)
		SELECT @COUNT=(1/0)        

RETURN(@retStr)
  
END




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE FUNCTION QCode_GetPostal (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS char(6)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as smallint
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    @found_code
  
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION Qcode_GetAddr12UsageIndicator (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS char(1)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as smallint
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    substring(@retStr, 93,1)
  
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION Qcode_GetAddr12UsageIndicatorLocal (@qTotal VARCHAR(258) ) 
RETURNS char(1)
AS

BEGIN
        RETURN   substring(@qTotal,113,1)
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION Qcode_GetCity (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS varchar(30)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as smallint
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    substring(@retStr, 46,30)
  
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION Qcode_GetCityLocal (@qTotal VARCHAR(258) ) 
RETURNS varchar(30)
AS

BEGIN
        RETURN   substring(@qTotal,64,30)
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION Qcode_GetCount (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS smallint
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as smallint
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    @count
  
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION Qcode_GetCountLocal (@qTotal VARCHAR(258) ) 
RETURNS smallint
AS

BEGIN
        RETURN    cast (substring(@qTotal,1,6) as smallint)
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION Qcode_GetFoundPostalCode (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS char(6)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as smallint
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    @found_code
  
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION Qcode_GetFoundPostalCodeLocal (@qTotal VARCHAR(258) ) 
RETURNS char(6)
AS

BEGIN
        RETURN   substring(@qTotal,13,6)
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION Qcode_GetLargeUrbanRuralFlag (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS varchar(2)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as smallint
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    substring(@retStr, 89,2)
  
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION Qcode_GetLargeUrbanRuralFlagLocal (@qTotal VARCHAR(258) ) 
RETURNS varchar(2)
AS

BEGIN
        RETURN   substring(@qTotal,107,2)
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION Qcode_GetParsedAddress (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS varchar(45)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as smallint
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    replace(substring(@retStr, 1,45), '|',' ')
  
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION Qcode_GetParsedAddressLocal (@qTotal VARCHAR(258) ) 
RETURNS varchar(45)
AS

BEGIN
        RETURN   replace(substring(@qTotal,19,45),'|',' ')
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION Qcode_GetProvince (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS char(2)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as smallint
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    substring(@retStr, 91,2)
  
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION Qcode_GetProvinceLocal (@qTotal VARCHAR(258) ) 
RETURNS char(2)
AS

BEGIN
        RETURN   substring(@qTotal,109,2)
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION Qcode_GetQualityFlags (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS binary(2)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as binary(2)
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    @quality
  
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION Qcode_GetQualityFlagsLocal (@qTotal VARCHAR(258) ) 
RETURNS binary(2)
AS

BEGIN
        RETURN    cast (substring(@qTotal,7,6) as binary(2))
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION Qcode_GetShortCity (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS varchar(30)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as smallint
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    substring(@retStr, 76,13)
  
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION Qcode_GetShortCityLocal (@qTotal VARCHAR(258) ) 
RETURNS varchar(13)
AS

BEGIN
        RETURN   substring(@qTotal,94,13)
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION Qcode_GetTotal (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS varchar(258)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as binary(2)
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    convert(char(6),@count) + cast(cast(@quality as smallint) as char(6)) + @found_code + substring(@retStr, 1,240) 
  
END





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION Qcode_GetValidityFlag (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS char(1)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @quality as smallint
        declare @found_code as char(6)
        declare @count as smallint
        execute xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output
        RETURN    substring(@retStr, 94,1)
  
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION Qcode_GetValidityFlagLocal (@qTotal VARCHAR(258) ) 
RETURNS char(1)
AS

BEGIN
        RETURN   substring(@qTotal,112,1)
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

