if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_STD2ndPersonator]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_STD2ndPersonator]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_STDFixInvalidAddr]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_STDFixInvalidAddr]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_STDMatchCodesGen]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_STDMatchCodesGen]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_STDPersonatorAddDual]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_STDPersonatorAddDual]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_STDPersonatorFullApp]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_STDPersonatorFullApp]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_STDQCodeFullApp]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_STDQCodeFullApp]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_STDQCodeMovers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_STDQCodeMovers]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_STDQNCOAFullApp]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_STDQNCOAFullApp]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

--Call 2nd Personator - SPLIT ADDRESS
--protariu 20060224


CREATE PROCEDURE usp_STD2ndPersonator(@vTable VARCHAR(100))

AS

BEGIN


DECLARE @vCMD varchar(5000);  SET @vCMD=SPACE(1);
DECLARE @PersLoc varchar(64), @Register varchar(32) 
DECLARE @Error INT 
DECLARE @hStreet INT

--   Personator API Location and registration string: 
SET @PersLoc = 'C:\PersAPI' 
SET @Register = 'b1cfcfd1cfcc014e' 

-- Register the API. Note that you MUST use a valid registration 
SET @Error = master.dbo.fPersRegister(@Register) 
IF @Error = 0 
BEGIN 
	raiserror ('The Personator Register Key is Wrong', 16, 1) 
	return 
END 

-- Specify the location of the Personator lookup tables 
SET @Error = master.dbo.fPersFileLoc(@PersLoc) 
IF @Error = 0 
BEGIN 
	raiserror ('The Personator Location is Wrong', 16, 1) 
	return 
END 

-- Initialize splitting session: 
set @hStreet=master.dbo.fPersInitStreet(0, 0, 0) 

if @hStreet = 0 
begin 
   set @Error=master.dbo.fPersLastError() 
   raiserror ('PersInitStreet for address failed: %d', 16, 1, @Error) 
   return 
end 


SET @vCMD = '  UPDATE ' + @vTable + ' SET '+
		' Q_StreetNumber=LEFT(MASTER.dbo.fPersStNumber('+CAST(@hStreet AS VARCHAR(10))+',Orig_Address,'''',''''),6), '+
		' Q_StreetStationName=LEFT(MASTER.dbo.fPersStName('+CAST(@hStreet AS VARCHAR(10))+',Orig_Address,'''',''''),30) '+
		' WHERE Q_CorrectStatus IN ('+'''N'',''O'''+')  ;  '		

EXEC (@vCMD);

-- Close Handler: 
set @Error=master.dbo.fPersCloseStreet(@hStreet) 



END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

--This SP fixes (restore) ADDRESS elements for Invalid Q_Code addresess: Q_CorrectStayus IN ('N','O')
--protariu 20060224


CREATE PROCEDURE usp_STDFixInvalidAddr(@vTable VARCHAR(100))


AS

BEGIN


	DECLARE @vCMD varchar(3000);  SET @vCMD=SPACE(1);

	SET @vCMD = @vCMD + '  UPDATE ' + @vTable + '  SET '+
			'  Q_ParsedAddress = Substring(Orig_Address,1,45) ,  '+
			'  Q_City = Orig_City ,  '+
			'  Q_Province  = Orig_Province  '+
	 		'  WHERE Q_CorrectStatus IN ('+'''N'',''O'''+');  '

	EXEC (@vCMD);

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

--Call QCode API function
--protariu 20060213


CREATE PROCEDURE usp_STDMatchCodesGen(@vTable VARCHAR(100))


AS

BEGIN


	DECLARE @vCMD varchar(3000);  SET @vCMD=SPACE(1);

	SET @vCMD = @vCMD + '  UPDATE ' + @vTable + '  SET '+
			'  M_FName= StageDB.dbo.CreateMatchCodeSTD_FirstName(Pers_Fname),  '+
			'  M_LName= StageDB.dbo.CreateMatchCodeSTD_LastName(Pers_Lname),  '+
			'  M_Postal  = StageDB.dbo.CreateMatchCodeSTD_PostalCode(Q_PostalCode),  '+
	 		'  M_General= StageDB.dbo.CreateMatchCodeSTD_MGeneral(Q_ParsedAddress), '+
	 		'  M_SuiteNum= StageDB.dbo.CreateMatchCodeSTD_SuiteNumber(Q_AptUnitNumber),  '+
	 		'  M_CivicNum= StageDB.dbo.CreateMatchCodeSTD_CivicNumber(Q_StreetNumber),  '+
	 		'  M_Street= StageDB.dbo.CreateMatchCodeSTD_StreetName(Q_StreetStationName),  '+
	 		'  M_POBOX= StageDB.dbo.CreateMatchCodeSTD_POBOX(Q_Face3BoxNumber),  '+
	 		'  M_Rural = StageDB.dbo.CreateMatchCodeSTD_RuralRoute(Q_GDRRMR,Q_RouteNumber,Q_Face,Q_Faces678RRSSMRNumber),  '+
	 		'  M_GD= StageDB.dbo.CreateMatchCodeSTD_GeneralDelivery(Q_GDRRMR,Q_Face); '

	EXEC (@vCMD);

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE  PROCEDURE dbo.usp_STDPersonatorAddDual
		 @vTable   varchar(100)
/**********************************************************************************************/
--  Description: 	Match records between Prospect table and InfoDirect_Stage tables based on M_Postal, M_LName, 
--  Return Value:	0=Succeful	1=Failure
--  Parameters: 	INPUT @vTable   varchar(100)
--  protariu /20060209
--
--  Update History:
-----------------------------------------------------------------------------------------------------------------------------
--	Updated By	Updated Date		Reason
------------------------------------------------------------------------------------------------------------------------------
--
--
/*********************************************************************************************/
AS

DECLARE @vCMD varchar(5000);  SET @vCMD=SPACE(1);

SET NOCOUNT ON


SET @vCMD = ' SELECT *  INTO #TMPDUAL FROM '+@vTable+'  WHERE  (LEN(WorkingField) > 120);  '

SET @vCMD = @vCMD + '  UPDATE #TMPDUAL SET 
					Pers_Prefix=Substring(WorkingField,121,6),
					Pers_FName=Substring(WorkingField,136,30),
					Pers_MName=Substring(WorkingField,166,30),
					Pers_LName=Substring(WorkingField,196,30),
					Pers_Suffix=Substring(WorkingField,226,6);  '

SET @vCMD = @vCMD + '  UPDATE '+@vTable+' SET WorkingField=Substring(WorkingField,1,120);  '

SET @vCMD = @vCMD + '  UPDATE #TMPDUAL SET WorkingField=Substring(WorkingField,121,120);  '

SET @vCMD = @vCMD + '  INSERT INTO ' + @vTable + ' SELECT * FROM #TMPDUAL;  '

EXEC (@vCMD);

RETURN 0;
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

--Call Personator API function
--protariu 20060221


CREATE PROCEDURE usp_STDPersonatorFullApp(@vTable VARCHAR(100), @vDualNames CHAR(1))

AS

BEGIN


DECLARE @vCMD varchar(5000);  SET @vCMD=SPACE(1);
DECLARE @PersLoc varchar(64), @Register varchar(32) 
DECLARE @hName INT 
DECLARE @Error INT 

--   Personator API Location and registration string: 
SET @PersLoc = 'C:\PersAPI' 
SET @Register = 'b1cfcfd1cfcc014e' 

-- Register the API. Note that you MUST use a valid registration 
SET @Error = master.dbo.fPersRegister(@Register) 
IF @Error = 0 
BEGIN 
	raiserror ('The Personator Register Key is Wrong', 16, 1) 
	return 
END 

-- Specify the location of the Personator lookup tables 
SET @Error = master.dbo.fPersFileLoc(@PersLoc) 
IF @Error = 0 
BEGIN 
	raiserror ('The Personator Location is Wrong', 16, 1) 
	return 
END 

-- Initialize fielding session: 
SET @hName = master.dbo.fPersInitName(0, 1, 1) 
IF @hName = 0 
BEGIN 
   SET @Error = master.dbo.fPersLastError() 
   raiserror ('PersInitName failed: %d', 16, 1, @Error) 
   return 
END 


SET @vCMD = '  UPDATE ' + @vTable + ' SET WorkingField= StageDB.dbo.udf_COPersAPIParsedNameDual('+ CAST(@hName AS VARCHAR(10))+', Orig_Fullname);   '

EXEC (@vCMD);

SET @Error = MASTER.dbo.fPersCloseName(@hName)       


--FIRST NAME
SET @vCMD = '  UPDATE ' + @vTable + ' SET    Pers_Prefix= Substring(WorkingField,1,15),  
						Pers_FName=substring(WorkingField,16,30),  
						Pers_MName=substring(WorkingField,46,30), 	
						Pers_LName=substring(WorkingField,76,30), 
						Pers_Suffix=substring(WorkingField,106,15);  '


EXEC (@vCMD);


--SECOND NAME
IF @vDualNames='Y'
BEGIN
	EXEC StageDB.dbo.usp_STDPersonatorAddDual @vTable
END



END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

--Call QCode API function
--protariu 20060213


CREATE PROCEDURE usp_STDQCodeFullApp(@vTable VARCHAR(100))


AS

BEGIN


	DECLARE @vCMD varchar(3000);  SET @vCMD=SPACE(1);

	SET @vCMD = @vCMD + '  UPDATE ' + @vTable + ' SET WorkingField= MASTER.dbo.QCode_GetTotal(Orig_Address,Orig_City,Orig_Province,Orig_PostalCode);  '

	SET @vCMD = @vCMD + '  UPDATE ' + @vTable + ' SET 
				Q_ParsedAddress=REPLACE((Substring(WorkingField,1,45)),'+'''|'''+',SPACE(1)),
				Q_City=Substring(WorkingField,46,30), 
				Q_Province=Substring(WorkingField,91,2), 
				Q_CorrectStatus=Substring(WorkingField,94,1), 
				Q_LULR=Substring(WorkingField,89,2), 
				Q_Face=Substring(WorkingField,161,1), 
				Q_StreetNumber=Substring(WorkingField,162,6), 
				Q_StreetDirection=Substring(WorkingField,213,2), 
				Q_StreetStationType=Substring(WorkingField,207,6), 
				Q_StreetStationName=Substring(WorkingField,177,30), 
				Q_StreetPrefixFraction=Substring(WorkingField,168,3), 
				Q_AptUnitNumber=Substring(WorkingField,171,6), 
				Q_Face3BoxNumber=Substring(WorkingField,215,7), 
				Q_Faces678RRSSMRNumber=Substring(WorkingField,223,8), 
				Q_GDRRMR=Substring(WorkingField,231,2), 
				Q_RouteNumber=Substring(WorkingField,233,8), 
				Q_PostalCode=Substring(WorkingField,241,6), 
				Q_PostalCount=CAST(Substring(WorkingField,247,6) AS SmallInt(2)),
				Q_QualityFlags=CAST((CAST(Substring(WorkingField,253,6) AS SMALLINT(2))) AS BINARY(2))     ; '


	EXEC (@vCMD);

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

--Call QCode API function
--protariu 20060216
-- QNCOA_Status=1 => MOVE IDENTIFIED

CREATE PROCEDURE usp_STDQCodeMovers(@vTable VARCHAR(100))


AS

BEGIN


	DECLARE @vCMD varchar(3000);  SET @vCMD=SPACE(1);

	SET @vCMD = @vCMD + '  UPDATE ' + @vTable + ' SET WorkingField= MASTER.dbo.QCode_GetTotal(QNCOA_NewAddress, QNCOA_NewCity,QNCOA_NewProvince,QNCOA_NewPostalCode) WHERE QNCOA_Status=1 AND QNCOA_NIXXIEFLAG<>'+'''Y'''+'    ;  '

	SET @vCMD = @vCMD + '  UPDATE ' + @vTable + ' SET 
				Q_ParsedAddress=REPLACE((Substring(WorkingField,1,45)),'+'''|'''+',SPACE(1)),
				Q_City=Substring(WorkingField,46,30), 
				Q_Province=Substring(WorkingField,91,2), 
				Q_CorrectStatus=Substring(WorkingField,94,1), 
				Q_LULR=Substring(WorkingField,89,2), 
				Q_Face=Substring(WorkingField,161,1), 
				Q_StreetNumber=Substring(WorkingField,162,6), 
				Q_StreetDirection=Substring(WorkingField,213,2), 
				Q_StreetStationType=Substring(WorkingField,207,6), 
				Q_StreetStationName=Substring(WorkingField,177,30), 
				Q_StreetPrefixFraction=Substring(WorkingField,168,3), 
				Q_AptUnitNumber=Substring(WorkingField,171,6), 
				Q_Face3BoxNumber=Substring(WorkingField,215,7), 
				Q_Faces678RRSSMRNumber=Substring(WorkingField,223,8), 
				Q_GDRRMR=Substring(WorkingField,231,2), 
				Q_RouteNumber=Substring(WorkingField,233,8), 
				Q_PostalCode=Substring(WorkingField,241,6), 
				Q_PostalCount=CAST(Substring(WorkingField,247,6) AS SmallInt(2)),
				Q_QualityFlags=CAST((CAST(Substring(WorkingField,253,6) AS SMALLINT(2))) AS BINARY(2))
				 WHERE QNCOA_Status=1 AND QNCOA_NIXXIEFLAG<>'+'''Y'''+'   ;  '


	EXEC (@vCMD);

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

--Call QNCOA API function
--protariu 20060215


CREATE PROCEDURE usp_STDQNCOAFullApp(@vTable VARCHAR(100))


AS

BEGIN


	DECLARE @vCMD varchar(3000);  SET @vCMD=SPACE(1);

	SET @vCMD = @vCMD + '  UPDATE ' + @vTable + ' SET WorkingField= MASTER.dbo.NCOA_GetTotal(LEFT(RTRIM(PERS_FNAME)+SPACE(1)+RTRIM(PERS_LNAME),30),Q_ParsedAddress,Q_City,Q_Province, Q_PostalCode) WHERE Q_CorrectStatus IN ('+'''V'',''C'',''W'',''D'''+');  '

	SET @vCMD = @vCMD + '  UPDATE ' + @vTable + ' SET 
				QNCOA_COANType=Substring(WorkingField,1,1), 				
				QNCOA_NixxieFlag=Substring(WorkingField,10,1), 			
				QNCOA_NewAddress=Substring(WorkingField,11,80), 		
				QNCOA_NewCity=Substring(WorkingField,91,30), 			
				QNCOA_NewPostalCode=Substring(WorkingField,121,6), 			
				QNCOA_NewProvince=Substring(WorkingField,130,2), 		
				QNCOA_Country=Substring(WorkingField,145,15), 				
				QNCOA_MoveType=Substring(WorkingField,160,1), 				
				QNCOA_SERPStatus=Substring(WorkingField,161,1), 				
				QNCOA_Status=CAST(Substring(WorkingField,162,6) AS SmallInt(2)) 
				WHERE Q_CorrectStatus IN ('+'''V'',''C'',''W'',''D'''+');  '

	SET @vCMD = @vCMD + '  UPDATE ' + @vTable + ' SET 
				QNCOA_MoveDate=CAST(SUBSTRING(WORKINGFIELD,2,8) AS DATETIME)
				WHERE QNCOA_STATUS=1;  '


	EXEC (@vCMD);

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

