if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_COPersAPIParsedNameDual]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_COPersAPIParsedNameDual]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION dbo.udf_COPersAPIParsedNameDual(
            @hName int,
            @FullName VARCHAR(100)
)
RETURNS char(240)
AS 
BEGIN

declare @Error int
declare @Pre1 varchar(256), @Fn1 varchar(256), @Mn1 varchar(256),
            @Ln1 varchar(256), @Suf1 varchar(256), @Pre2 varchar(256),
            @Fn2 varchar(256), @Mn2 varchar(256), @Ln2 varchar(256),
            @Suf2 varchar(256)

declare @result char(240); SELECT @result=SPACE(240);
 

-- Split name:

execute master.dbo.PersSplitName @Error out, @hName, 
            @FullName, @Pre1 out, @Fn1 out, @Mn1 out, 
            @Ln1 out, @Suf1 out, @Pre2 out, @Fn2 out, 
            @Mn2 out, @Ln2 out, @Suf2 out


set @result=     case when len(@Pre1)>15 then left(@Pre1,15)
                        else      @Pre1+space(15-len(@Pre1))
                        end +
                        case when len(@Fn1)>30 then left(@Fn1,30)
                                    else      @Fn1+space(30-len(@Fn1))
                        end +
                        case when len(@Mn1)>30 then left(@Mn1,30)
                                    else      @Mn1+space(30-len(@Mn1))
                        end +
                        case when len(@Ln1)>30 then left(@Ln1,30)
                                    else      @Ln1+space(30-len(@Ln1))
                        end +
                        case when len(@Suf1)>15 then left(@Suf1,15)
                                    else      @Suf1+space(15-len(@Suf1))
	           end +


	           case when len(@Pre2)>15 then left(@Pre2,15)
                        else      @Pre2+space(15-len(@Pre2))
                        end +
                        case when len(@Fn2)>30 then left(@Fn2,30)
                                    else      @Fn2+space(30-len(@Fn2))
                        end +
                        case when len(@Mn2)>30 then left(@Mn2,30)
                                    else      @Mn2+space(30-len(@Mn2))
                        end +
                        case when len(@Ln2)>30 then left(@Ln2,30)
                                    else      @Ln2+space(30-len(@Ln2))
                        end +
                        case when len(@Suf2)>15 then left(@Suf2,15)
                                    else      @Suf2+space(15-len(@Suf2))
	           end

RETURN @result

END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

