if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Ncoa_GetTotal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Ncoa_GetTotal]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Qcode_GetTotal]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[Qcode_GetTotal]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE FUNCTION Ncoa_GetTotal (@name VARCHAR(30), @address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS CHAR(167)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        declare @status as smallint
        execute xp_qncoabase @name, @address,@city,@province,@postal, @retStr output,@status output   
  

	-- CRAHS THE FUCNTION IF QNCOA DAT FILE OUT OF DATE
	IF (@status IS NULL) OR (@status<0)
		SELECT @status=(1/0)    


      RETURN    SUBSTRING(@retStr, 1,161) + CONVERT(char(6),@status)
  
END







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE FUNCTION QCode_GetTotal (@address VARCHAR(80), @city VARCHAR(30), @province VARCHAR(2), @postal VARCHAR(6) ) 
RETURNS CHAR(260)
AS

BEGIN

        DECLARE  @retStr VARCHAR(500)
        DECLARE @quality as binary(2)
        DECLARE @found_code as char(6)
        DECLARE @count as smallint
        DECLARE @WorkingField as CHAR(300); SELECT @WorkingField=SPACE(300);

        EXECUTE xp_qcodebase  @address,@city,@province,@postal, @retStr output,@found_code output, @count output, @quality output


	-- CRAHS THE FUNCTION IF QC DAT FILE OUT OF DATE
	IF (@count IS NULL) OR (@count<0)
		SELECT @COUNT=(1/0)      

	-------------------                          240         +           6            +                      6                +                                 6 
	RETURN    (SubString(@retStr, 1,240) + @found_code +Convert(char(6),@count) + Cast(Cast(@quality as smallint) as char(6)))

END
















GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

