if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_CivicNumber]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_CivicNumber]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_FirstName]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_FirstName]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_FixStreetType]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_FixStreetType]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_GeneralDelivery]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_GeneralDelivery]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_GetCleanStreet]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_GetCleanStreet]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_LastName]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_LastName]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_MGeneral]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_MGeneral]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_POBox]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_POBox]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_PostalCode]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_PostalCode]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_RuralRoute]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_RuralRoute]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_StreetName]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_StreetName]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMatchCodeSTD_SuiteNumber]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[CreateMatchCodeSTD_SuiteNumber]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE Function CreateMatchCodeSTD_CivicNumber(@Q_StreetNumber varchar(6)) 
returns char(10)
AS
BEGIN


DECLARE @MatchCodeCivicNumber char(10);

IF (LEN(@Q_StreetNumber)>0) AND (ISNUMERIC(@Q_StreetNumber)=1)
BEGIN
	SELECT @MatchCodeCivicNumber = RTRIM(@Q_StreetNumber)
END
ELSE
BEGIN
	SELECT @MatchCodeCivicNumber=''
END

RETURN(@MatchCodeCivicNumber)

END






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE     function CreateMatchCodeSTD_FirstName(@FirstName varchar(50)) 
returns char(1)
as
BEGIN
declare @M_FirstName char(1)
declare @i int

select @M_FirstName = ''
select @i = 1
while (@i<=len(@FirstName)) and (@M_FirstName = '') 
	BEGIN
--	 IF (dbo.ISALPHA(substring(@FirstName,@i,1))) = 1
         IF (substring(@FirstName,1,1) between 'A' and 'Z')
		select @M_FirstName = substring(@FirstName,@i,1)
		select @i = @i + 1
	END

return(@M_FirstName)
END




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE       function CreateMatchCodeSTD_FixStreetType(@PrimaryAddress varchar(100)) 
RETURNS CHAR(100)

AS
BEGIN

DECLARE @InStreet char(100)

SELECT @InStreet = @PrimaryAddress
SELECT @InStreet = REPLACE(@InStreet,'"','')
SELECT @InStreet = REPLACE(@InStreet,'.','')
SELECT @InStreet = REPLACE(@InStreet,'#','')
SELECT @InStreet = REPLACE(@InStreet,'-',' ')
SELECT @InStreet = REPLACE(@InStreet,'/',' ')
SELECT @InStreet = REPLACE(@InStreet,'\',' ')
SELECT @InStreet = REPLACE(@InStreet,',',' ')
SELECT @InStreet = REPLACE(@InStreet,';',' ')
SELECT @InStreet = REPLACE(@InStreet,':',' ')
SELECT @InStreet = REPLACE(@InStreet,'+',' ')
SELECT @InStreet = REPLACE(@InStreet,'  ',' ')
SELECT @InStreet = REPLACE(@InStreet,'R R ','RR')

IF substring(@InStreet,1,3) = 'RTE'
	select @InStreet = replace(@InStreet,'RTE','RR')

IF substring(@InStreet,1,2) in ('R ','RT','R-','RD')
-- select @InStreet = 'RR'+rtrim(substring(@InStreet,3,len(@InStreet)-2))
--	select @InStreet = replace(@InStreet, substring(@InStreet,1,2),'RR')
 	SELECT @InStreet = STUFF(@InStreet, 1, 2, 'RR')

SELECT @InStreet = replace(@InStreet,'GEN DEL','GD')
SELECT @InStreet = replace(@InStreet,'GENERAL DELIVERY','GD')

IF substring(@InStreet,1,5) = 'POBOX'
	select @InStreet = 'PO BOX'+rtrim(substring(@InStreet,6,len(@InStreet)-5))
 -- **** Test *** SELECT @InStreet = STUFF(@InStreet, 1, 5, 'PO BOX')

IF substring(@InStreet,1,3) in ('HOX','BOX','POB','PBX','BX ')
-- Problem ****	select @InStreet = 'PO BOX'+rtrim(substring(@InStreet,4,len(@InStreet)-3))
	SELECT @InStreet = STUFF(@InStreet, 1, 3, 'PO BOX')

IF substring(@InStreet,1,4) in ('P.O.','P O ','P.O ')
--	select @InStreet = 'PO BOX'+rtrim(substring(@InStreet,5,len(@InStreet)-4))
 	SELECT @InStreet = STUFF(@InStreet, 1, 4, 'PO BOX')

IF substring(@InStreet,1,3) ='PO ' and CHARINDEX('X',@InStreet,1) =0
	SELECT @InStreet = STUFF(@InStreet, 1, 3, 'PO BOX')



SELECT @InStreet = rtrim(@InStreet)
RETURN(@InStreet)
END














GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE      function CreateMatchCodeSTD_GeneralDelivery(@Q_GDRRMR varchar(7), @Q_Face char(1))
returns char(2)
as

BEGIN
declare @mGeneralDeliveryMatchCode char(2); 
select @mGeneralDeliveryMatchCode = '';


BEGIN
	IF (@Q_GDRRMR) = 'GD'  OR (@Q_Face)='5'
		select @mGeneralDeliveryMatchCode = 'GD'
	ELSE
		select @mGeneralDeliveryMatchCode = ''
END


return(@mGeneralDeliveryMatchCode)

END









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE      function CreateMatchCodeSTD_GetCleanStreet(@Address varchar(100)) 
RETURNS char(15)

AS

BEGIN

DECLARE @M_Address char(15); SELECT @M_Address = '';
DECLARE @i INT; SELECT @i = 1
DECLARE @INChar char(1);

WHILE (LEN(@M_Address)<=15) and (@i <= LEN(@Address)) BEGIN
	SELECT @INChar = SUBSTRING(@Address,@i,1)
	IF ((@INChar between 'A' and 'Z') or (@INChar between '0' and '9')) and (CHARINDEX(@INChar, 'AEIOU') = 0)
		SELECT @M_Address = RTRIM(@M_Address) + @INChar
	SELECT @i = @i +1
	END

RETURN(@M_Address)
END




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE    function CreateMatchCodeSTD_LastName(@LastName varchar(50)) 
returns char(10)
as
BEGIN
declare @M_LastName char(10)
declare @i int
declare @INChar char(1)
select @i = 1
select @M_LastName = ''

WHILE (len(@M_LastName)<=10) and (@i <= len(@LastName)) 
BEGIN
	select @INChar = substring(@LastName,@i,1)
--	if (dbo.ISALPHA(@INChar) = 1) and   (dbo.ISVOWEL(@INChar) = 0)
	if (@INChar between 'A' and 'Z') and   (CHARINDEX(@INChar, 'AEIOU') = 0)
		select @M_LastName = rtrim(@M_LastName) + @INChar
	select @i = @i +1
	END
--***************TEST
return(@M_LastName)
END





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE       function CreateMatchCodeSTD_MGeneral(@Q_ParsedAddress varchar(45)) 
returns char(15)

AS

BEGIN


DECLARE @M_GENERAL char(15); SELECT @M_GENERAL='';


IF CHARINDEX ('-',@Q_ParsedAddress)>0
BEGIN
	SELECT @Q_ParsedAddress = SUBSTRING(@Q_ParsedAddress,CHARINDEX ('-',@Q_ParsedAddress)+1,45);
END

SELECT @Q_ParsedAddress = dbo.CreateMatchCodeSTD_FixStreetType(@Q_ParsedAddress);
SELECT @M_GENERAL = dbo.CreateMatchCodeSTD_GetCleanStreet(@Q_ParsedAddress);


RETURN(@M_GENERAL)
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE      function CreateMatchCodeSTD_POBox(@Q_Face3BoxNumber varchar(6)) 
returns char(8)
as
BEGIN

DECLARE @mPoBoxMatchCode char(15); select @mPoBoxMatchCode = ''


IF (LEN(@Q_Face3BoxNumber)>0)  
	BEGIN
	    SELECT @mPoBoxMatchcode = 'PBX'+LEFT(RTRIM(@Q_Face3BoxNumber),5)
	END
	ELSE 
	BEGIN
	         SELECT @mPoBoxMatchcode = ''
	END

RETURN(@mPoBoxMatchCode)
END





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


-- Candidate for update 
CREATE      function CreateMatchCodeSTD_PostalCode(@PostalCode varchar(10)) 
returns char(6)
as
BEGIN
declare @M_Postal char(6)
declare @i int
declare @INChar char(1)

select @i = 1
select @M_Postal = ''
while (len(@M_Postal)<=6) and (@i <= len(@PostalCode)) 
BEGIN
	select @INChar = substring(@PostalCode,@i,1)
	if @INChar = 'D'
		select @INChar = '0'
	if @INChar = 'O'
		select @INChar = '0'
	if @INChar = 'I'
		select @INChar = '1'
	if @INChar <> '-'
		select @M_Postal = rtrim(@M_Postal) + @INChar
	select @i = @i +1
	END

return(@M_Postal)
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode

CREATE    function CreateMatchCodeSTD_RuralRoute(@Q_GDRRMR varchar(2),@Q_RouteNumber varchar(5), @Q_Face char(1), @Q_Faces678RRSSMRNumber varchar(8) ) 
returns char(5)
as
BEGIN
declare @mRuralRouteMatchCode char(5); select @mRuralRouteMatchCode = '';


IF (@Q_GDRRMR)='RR'  
	BEGIN
	            SELECT @mRuralRouteMatchCode='RR'+LEFT(@Q_RouteNumber,3)
	END

IF (@Q_Face)='6'  
	BEGIN
	            SELECT @mRuralRouteMatchCode='RR'+LEFT(@Q_Faces678RRSSMRNumber,3)
	END


return(@mRuralRouteMatchCode)

END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE      function CreateMatchCodeSTD_StreetName(@Q_StreetStationName varchar(30)) 
returns char(15)
AS


BEGIN
DECLARE @mStreetNameMatchCode char(15);


IF (LEN(@Q_StreetStationName)>0) 
	SELECT @mStreetNameMatchCode = dbo.CreateMatchCodeSTD_GetCleanStreet(@Q_StreetStationName);
ELSE
	SELECT @mStreetNameMatchCode = '';

RETURN(@mStreetNameMatchCode)
END








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

-- BASED ON QCode
CREATE      function CreateMatchCodeSTD_SuiteNumber(@Q_AptUnitNumber varchar(6))
RETURNS char(8)

AS
BEGIN
DECLARE @M_SuiteNumber char(8); SELECT @M_SuiteNumber='';

IF (LEN(@Q_AptUnitNumber)>0) 
BEGIN
	SELECT @M_SuiteNumber = RTRIM(@Q_AptUnitNumber)
END
ELSE
BEGIN
	SELECT @M_SuiteNumber=''
END


RETURN(@M_SuiteNumber)

END















GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

