if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Template_Stage]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Template_Stage]
GO

CREATE TABLE [dbo].[Template_Stage] (
	[WorkingField] [char] (260) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Orig_FullName] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Pers_Prefix] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Pers_FName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Pers_MName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Pers_LName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Pers_Suffix] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Orig_Address] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Orig_Province] [varchar] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Orig_PostalCode] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Orig_City] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_ParsedAddress] [varchar] (45) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_City] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_PostalCode] [char] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_Province] [varchar] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_CorrectStatus] [char] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_StreetNumber] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_StreetPrefixFraction] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_StreetStationName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_StreetStationType] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_LULR] [varchar] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_Face] [char] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_AptUnitNumber] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_StreetDirection] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_Face3BoxNumber] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_Faces678RRSSMRNumber] [varchar] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_GDRRMR] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_RouteNumber] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Q_PostalCount] [smallint] NULL ,
	[Q_QualityFlags] [binary] (2) NULL ,
	[QNCOA_Status] [smallint] NULL ,
	[QNCOA_COANType] [char] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QNCOA_MoveDate] [datetime] NULL ,
	[QNCOA_NixxieFlag] [char] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QNCOA_NewAddress] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QNCOA_NewCity] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QNCOA_NewPostalCode] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QNCOA_NewProvince] [varchar] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QNCOA_Country] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QNCOA_MoveType] [char] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QNCOA_SERPStatus] [char] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Mobile] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Res_Type] [char] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Cust_Type] [char] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[M_FName] [varchar] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[M_LName] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[M_Postal] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[M_General] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[M_SuiteNum] [varchar] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[M_CivicNum] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[M_Street] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[M_POBOX] [varchar] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[M_Rural] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[M_GD] [varchar] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[RowID] [int] IDENTITY (1, 1) NOT NULL 
) ON [SECONDARY]
GO

