USE [NapoleonLeads]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_IsOvdHrDeliveryTime]    Script Date: 30/10/2019 10:02:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		DBA
-- Create date: 2019-Oct-29
-- Description:	OVD/HR delivery window (Mon-Sat)(9:00-13:30)
-- (Source_Message_Type.MSG_TYPE_CD IN ('ML','OL','RC','PR','HR'))
-- SELECT NapoleonLeads.dbo.udf_IsOvdHrDeliveryTime(Getdate()+4,0)  -- TEST
-- =============================================
ALTER FUNCTION [dbo].[udf_IsOvdHrDeliveryTime] (@vDayTime DATETIME, @vOnOff BIT)
RETURNS bit
AS
BEGIN

IF @vDayTime IS NULL SET @vDayTime = GetDate();

IF (DatePart(dw,@vDayTime)) > 1 AND (SELECT NapoleonLeads.dbo.udf_Get_HHMM_Num(@vDayTime)) BETWEEN 900 AND 1530

	SET @vOnOff=1; 
ELSE
	SET @vOnOff=0; 
	
RETURN @vOnOff;

END
