USE [PrgDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_SYS_GetDlaFiles]    Script Date: 05/07/2008 17:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
protariu / 20080506
Dependencies:	master.dbo.xp_cmdshell
Usage:	EXEC DBO.USP_SYS_GETDLAFILES 'F:\CIBC\DLA\', '*.GO'
Returns:	A list of files found on the file system
*/

CREATE procedure [dbo].[usp_SYS_GetDlaFiles]
	@vDlaPath varchar(255) = 'F:\CIBC\DLA\',
	@vFileExtensionFilter varchar(10) = '*.go'
AS

SET NOCOUNT ON

Declare @vCMD varchar(5000); set @vCMD='';
Declare @vFile varchar(100); Set @vFile=''; 
Declare @vFileq varchar(100); Set @vFileq=''; 
-- If the file extension fileter was empty, set it to all files
IF @vFileExtensionFilter is null or ltrim(rtrim(@vFileExtensionFilter)) = '' SET @vFileExtensionFilter = '*.go'
-- If the directory path does not have an ending '\', append one
IF substring(@vDLAPath, len(@vDLAPath), 1) <> '\' Set @vDLAPath = @vDLAPath + '\';

-- Build the dos command to get a list of files
Select @vCMD =
	'insert into #tempFileList(fileListRow) ' +
	'exec master.dbo.xp_cmdshell ''dir ' + @vDLAPath + + @vFileExtensionFilter + ''''

-- Create a temporary table to store the file list
Create table #tempFileList (fileListRow varchar(1000) null)

-- Create the #fileList temporary table to store the file list
create table #fileList (
	fileID int primary key identity(1,1) not null,
	[fileName] varchar(255) not null
	
)

EXEC(@vCMD)

-- Delete unneeded data from the #OriginalFileList
delete from #tempFileList where fileListRow is null
delete from #tempFileList where fileListRow like '%Volume%'
delete from #tempFileList where fileListRow like '%Directory%'
delete from #tempFileList where fileListRow like '%<DIR>%'
delete from #tempFileList where fileListRow like '%bytes%'

IF not exists (select * from #tempFileList where fileListRow like '%access is denied%')
Begin
	-- Populate the #fileList table with the final data
	Insert Into #fileList([fileName])
	Select	ltrim(substring(fileListRow, 40, 1000)) as 'fileName'
	From	#tempFileList

	Select * from #fileList;
	
	-- Feed processing table
	--CREATE TABLE [StageDB].[dbo].[Processing_Stage] ([RowId] INT IDENTITY (1,1) PRIMARY KEY,[InputFile] [varchar] (1000), [Status] [varchar] (1), [CheckInDLA] [datetime]  )
	INSERT INTO StageDB.dbo.Processing_Stage 
				([InputFile], [Status], CheckInDLA)
		SELECT   [fileName],   'Q',     GetDate()   FROM #fileList WHERE [fileName] NOT IN (SELECT [InputFile] FROM StageDB.dbo.Processing_Stage)
	-- CHECK IF THENFILENAME IN Procesions

	--SELECT * FROM StageDB.dbo.Processing_Stage
	-- Check if exist and mark fo Queue
	-- EXEC @Result = xp_cmdshell 'REN F:\CIBC\DLA\DTSNo1.GO DTSNo1.Q'

END
Else
	select fileListRow as errorMessage from [#tempFileList] as e

--SELECT * FROM #tempFileList
-- Drop the temporary tables
Drop Table #tempFileList
Drop Table #fileList

Set nocount off
