if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CoRemoveDuplicates]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CoRemoveDuplicates]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO




CREATE  PROC  dbo.usp_CoRemoveDuplicates
        (@chvTableName    varchar(100),
         @chvAuditId	int
	)

as


DECLARE @chvCMD1 varchar(8000)

set @chvCMD1 =''

SET 	@chvCMD1 = @chvCMD1 + '
if (exists (select name from tempdb.dbo.sysobjects where type = ''U'' and substring(name,1,5)=''#Dups''))
drop table #Dups
create	table #Dups (rowId int,province char(2),postalCode char(6)) 
create clustered index ix_rowId on #Dups(rowId) 

if (exists (select name from tempdb.dbo.sysobjects where type = ''U'' and substring(name,1,9)=''#Dups_row''))
drop table #Dups_row '

SET @chvCMD1 = @chvCMD1 + '
insert into #Dups
select rowId,Province,Postal 
from ' + @chvTableName + '
where rowId not in
(select min(rowId) from '+ @chvTableName + '
GROUP BY  M_Postal, M_LName, M_FName, M_CivicNum, M_Street, M_SuiteNum, m_General, m_POBox,m_Rural, m_GD )  '

SET @chvCMD1 = @chvCMD1 + '
insert into #Dups
select rowId,Province,Postal 
from ' + @chvTableName + '
where rowId not in
(select min(rowId) from ' + @chvTableName + ' GROUP BY  M_Postal, M_LName, M_FName, M_CivicNum, M_Street, M_SuiteNum)
and ltrim(rtrim(M_CivicNum)) <> '''' and ltrim(rtrim(M_SuiteNum)) <> '''' and ltrim(rtrim(M_Street)) <> ''''  '

SET @chvCMD1 = @chvCMD1 + '
insert into #Dups
select rowId,Province,Postal 
from '+ @chvTableName + '
where rowId not in
(select min(rowId) from ' + @chvTableName + ' GROUP BY  M_Postal, M_LName, M_FName, M_Street, M_SuiteNum)
and ltrim(rtrim(M_Street)) <> '''' and ltrim(rtrim(M_SuiteNum)) <> ''''  '

SET @chvCMD1 = @chvCMD1 + '
insert into #Dups
select rowId,Province,Postal 
from ' + @chvTableName + '
where rowId not in
(select min(rowId) from ' + @chvTableName + ' GROUP BY  M_Postal, M_LName, M_FName, M_CivicNum, M_SuiteNum)
and ltrim(rtrim(M_CivicNum)) <> '''' and ltrim(rtrim(M_SuiteNum)) <> ''''  '

SET @chvCMD1 = @chvCMD1 + '
insert into #Dups
select rowId,Province,Postal 
from ' + @chvTableName + '
where rowId not in
(select min(rowId) from ' + @chvTableName + ' GROUP BY  M_Postal, M_LName, M_FName, M_CivicNum, M_Street)
and ltrim(rtrim(M_CivicNum)) <> '''' and ltrim(rtrim(M_Street)) <> ''''  '

SET @chvCMD1 = @chvCMD1 + '
insert into #Dups
select rowId,Province,Postal 
from ' + @chvTableName + '
where rowId not in
(select min(rowId) from ' + @chvTableName +' GROUP BY  M_Postal, M_LName, M_FName, M_General)
and ltrim(rtrim(M_General)) <> ''''  '

SET @chvCMD1 = @chvCMD1 + '
insert into #Dups
select rowId,Province,Postal 
from ' + @chvTableName + '
where rowId not in
(select min(rowId) from ' + @chvTableName +' GROUP BY  M_Postal, M_LName, M_FName, M_POBox)
and ltrim(rtrim(M_POBox)) <> ''''  '

SET @chvCMD1 = @chvCMD1 + '
insert into #Dups
select rowId,Province,Postal 
from ' + @chvTableName + '
where rowId not in
(select min(rowId) from ' +  @chvTableName + ' GROUP BY  M_Postal, M_LName, M_FName, M_Rural)
and ltrim(rtrim(M_Rural)) <> ''''  '

SET @chvCMD1 = @chvCMD1 + '
insert into #Dups
select rowId,Province,Postal 
from ' + @chvTableName + '
where rowId not in
(select min(rowId) from ' + @chvTableName + ' GROUP BY  M_Postal, M_LName, M_FName, M_GD)
and ltrim(rtrim(M_GD)) <> ''''  '

-- Store deplication information to Audit table

SET @chvCMD1 = @chvCMD1 + '
select distinct rowid,province,postalcode into #Dups_row from #Dups 
insert AuditDB.dbo.Audit_Data_Details(audit_id,DataType,DataValue,Province,PostalCode) select ' +cast(@chvAuditId as varchar(10)) + ',
2,isnull(count(*),0),province,postalcode from #Dups_row group by province,postalcode '

-- Delete Duplicate Records
SET @chvCMD1 = @chvCMD1 + '
delete ' + @chvTableName + '
from ' + @chvTableName + ' where rowId in ( select distinct  rowId from #Dups)  ' + '
drop table #Dups
drop table  #Dups_row '


EXEC (@chvCMD1)
RETURN 0
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

