if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[udf_WordCleaning]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[udf_WordCleaning]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE FUNCTION udf_WordCleaning(@Word varchar(100)) 
RETURNS CHAR(10)
AS

BEGIN

DECLARE @VWord CHAR(100); SELECT @VWord='';
DECLARE @i INT; SELECT @i = 0;
DECLARE @INChar CHAR(1); 

WHILE (LEN(@VWord)<10)  AND @i<=LEN(@Word)
 	BEGIN
		SELECT @INChar = SUBSTRING(@Word,@i,1)
		IF (@INChar between 'A' and 'Z') and   (CHARINDEX(@INChar, 'AEIOU') = 0)
		SELECT @VWord = RTRIM(@VWord) + @INChar
		SELECT @i = @i +1
	END

RETURN(@VWord)
END









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

