USE [PrgDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_SYS_PushProcess]    Script Date: 02/02/2011 14:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
protariu / 20080506
Dependencies:	master.dbo.xp_cmdshell
Usage:	
Job: Lunch SSIS in execution 
*/

CREATE procedure [dbo].[usp_SYS_PushProcess]
	@vSSIS varchar(255) = '_Template.dtsx',
	@vInputFile varchar(255) = 'DTSNo1.go'

AS

DECLARE @vDLA AS VARCHAR(1000); SET @vDLA = 'F:\CIBC\DLA\'
DECLARE @VSSISPath AS VARCHAR(1000); SET @VSSISPath = 'C:\Ekun\VS.2K5\AdmSSIS\SSISs\'
SET @vSSIS = 'SSIS1.dtsx'
DECLARE @vCMDRunDTS AS VARCHAR(1000);    
SET @vCMDRunDTS =  'dtexec /FILE "' + @VSSISPath + @vSSIS + '"'   

--SET @vCMDRunDTS =  'dtexec /FILE "' + @VSSISPath + @vSSIS + '"'   


--SET NOCOUNT ON
--SET @vSSIS = (SELECT TOP 1 SSIS FROM PrgDB.dbo.Processing_Queue) --WHERE STATUS ="Q")

DECLARE @returncode int
EXEC master..xp_cmdshell @vCMDRunDTS

--Declare @cmd varchar(1000)   select @cmd =  'dtexec /F "' + @FilePath + @Filename + '"'   
--exec master..xp_cmdshell @cmdgoAnd the call:

--xp_cmdshell 'dtexec /FILE "C:\Ekun\VS.2K5\AdmSSIS\AdmSSIS\SSISs\SSIS1.dtsx"'
--EXEC @returncode = xp_cmdshell 'dtexec /f '& @VSSISPath & @vSSIS 
-- 0 susscess!!!

--- ??? cum pasam input file ca parametru
--- VARIANTA 0 - IA DIN TABELA TE Q NUMELE LA FISIER SI PUNEL IN DTS @InputFIles
--- VARIANTA 1 Probabil in dtsconfig file in xml


--dtexec /sq pkgOne /ser productionServer



--Stored Procedure way
--This involves the following steps:
--Retrieve a list of the package names to run from the folder 
--Loop through each package name 
--Execute each package
--First of all, we need to get a list of all packages in the folder. The following code executes the DOS command dir /B d:\TestPackages\ t1*.dtsx and places the output in the temporary table #dir. The DOS command gets a list of the filenames in the folder which satisfy the filemask.
--Create table #dir (Filename varchar(1000))Insert #dirExec master..xp_cmdshell 'dir /B d:\TestPackages\ t1*.dtsx'delete #dir where Filename is null or Filename like '%not found%'The following is a useful technique for looping through values in a table and here we use it to loop through the filenames in #dir:
--Declare @Filename varchar(1000)Select @Filename = ''While @Filename < (select max(Filename) from #dir)Begin   Select @Filename = min(Filename) from #dir where Filename > @FilenameendNow we just need to create the command to execute the package:
--Declare @cmd varchar(1000)select @cmd = 'dtexec /F " d:\TestPackages\' + @FileName + '''exec master..xp_cmdshell @cmdThis takes the package name and uses the dtexec command to execute it. Putting this all together, we get:
--Declare @Filename varchar(1000)Declare @cmd varchar(1000)Create table #dir (Filename varchar(1000))Insert #dirExec master..xp_cmdshell 'dir /B d:\TestPackages\t1*.dtsx'delete #dir where Filename is null or Filename like '%not found%'Select @Filename = ''While @Filename < (select max(Filename) from #dir)Begin   Select @Filename =  min(Filename) from #dir where Filename > @Filename   select  @cmd =  'dtexec /F "d:\TestPackages\' + @Filename + '"'   exec master..xp_cmdshell @cmdenddrop table #dirThe above completes the code needed for the requirement but to simplify the implementation I like to keep a utility stored procedure which calls another stored procedure for each file (SSIS package) in a folder. The following utility stored procedure, ProcessAllFilesInDir, uses the above techniques to obtain a list of files from a folder and calls another stored procedure for each one. The file path and mask are input as parameters together with the @ProcSP parameter that defines the stored procedure to be called for each file (in this case this will be the ExecutePackage procedure that executes each SSIS package).
--Create procedure [dbo].[s_ProcessAllFilesInDir]@FilePath varchar(1000) ,@FileMaskvarchar(100) ,@ProcSp varchar(128)as   set nocount on   declare @File varchar(128) ,      @MaxFile varchar(128) ,      @cmd     varchar(2000)      create table #Dir (s varchar(8000))      select @cmd = 'dir /B ' + @FilePath + @FileMask   insert #Dir exec master..xp_cmdshell @cmd      delete #Dir where s is null or s like '%not found%'      select @File = '', @MaxFile = max(s) from #Dir   while @File < @MaxFile   begin      select @File = min(s) from #Dir where s > @File            select @cmd = @ProcSp + ' ''' + @FilePath + ''' , ''' + @File + ''''            exec (@cmd)         end   drop table #DirgoWith this, the only coding needed is to create the procedure to execute the package and to call it. The ExecutePackage procedure is as follows:

--Create procedure [dbo].[s_ExecutePackage]
--@FilePath   varchar(1000) ,
--@Filename   varchar(128)
--as 
--Declare @cmd varchar(1000)   select @cmd =  'dtexec /F "' + @FilePath + @Filename + '"'   
--exec master..xp_cmdshell @cmdgoAnd the call:
--Exec [dbo].[s_ProcessAllFilesInDir]   @FilePath = 'd:\TestPackages\' ,   @FileMask = 't1*.dtsx' ,   @ProcSp = '[dbo].[s_ExecutePackage]'


--dtexec /sq pkgOne /ser productionServer /va
--To execute an SSIS package that is saved in the file system, use the following code:
-- dtexec /f "c:\pkgOne.dtsx" 
 
--To execute an SSIS package that is saved in the file system, and specify logging options, use the following code:
--dtexec /f "c:\pkgOne.dtsx" /l "DTS.LogProviderTextFile;c:\log.txt"

--To execute a package that uses Windows Authentication and is saved to the default local instance of SQL Server, and verify the version before it is executed, use the following code:
--dtexec /sq pkgOne /verifyv {c200e360-38c5-11c5-11ce-ae62-08002b2b79ef}
 
--To execute an SSIS package that is saved in the file system and configured externally, use the following code:
--dtexec /f "c:\pkgOne.dtsx" /conf "c:\pkgOneConfig.cfg"
 
--DTEXEC /f "F:\CIBC\SSIS\_Template.dtsx" 

-- GOODDDDD!!!
--DTEXEC /FILE "C:\Ekun\VS.2K5\AdmSSIS\AdmSSIS\SSIS1.dtsx" /MAXCONCURRENT " -1 " /CHECKPOINTING OFF  /REPORTING EWCDI 
--DTEXEC /FILE "F:\CIBC\SSIS\_Template.dtsx" /MAXCONCURRENT " 1 " /CHECKPOINTING OFF  /REPORTING EWCDI 



Set nocount on
GO
/****** Object:  Table [dbo].[Processing_Queue]    Script Date: 02/02/2011 14:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Processing_Queue](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[SSIS] [varchar](100) NOT NULL,
	[Status] [char](1) NULL,
	[InQueue] [smalldatetime] NULL,
	[LastStartTime] [smalldatetime] NULL,
	[LastEndTime] [smalldatetime] NULL,
	[Description] [varchar](50) NULL,
	[Priority] [smallint] NOT NULL CONSTRAINT [DF_Processing_Queue_Priority]  DEFAULT ((1)),
	[KillJob] [bit] NOT NULL CONSTRAINT [DF_Processing_Queue_KillJob]  DEFAULT ((0))
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XXXX]    Script Date: 02/02/2011 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XXXX](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[SSIS] [varchar](100) NOT NULL,
	[Status] [char](1) NULL,
	[InQueue] [smalldatetime] NULL,
	[LastStartTime] [smalldatetime] NULL,
	[LastEndTime] [smalldatetime] NULL,
	[Description] [varchar](50) NULL,
	[Priority] [smallint] NOT NULL,
	[KillJob] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
